<div class="grid_12 alpha omega benefit_grid">
  <div class="inner_benefit_grid">
    <div class="benefit_grid_box left_side_box bene_odd_row">
      <div class="benefit_avatar_wrap bene1"></div>
      <div class="benefit_content_wrap">      
        <h3>Free Data Analysis, Free Reports.</h3>
        <p>We know we can help you. Sign up for a free trial 
        and we’ll let you test-drive the system, see reports
        and show you exactly how much you can save.</p>
      </div>
    </div>
    <div class="benefit_grid_box right_side_box bene_odd_row">
      <div class="benefit_avatar_wrap bene2"></div>
      <div class="benefit_content_wrap">      
        <h3>Clinical Validation = Better Results.</h3>
        <p>Only HCI provides clinical validation on suspect 
        claims by licensed nurses, physicians and dentists. 
        Giving you fewer false positives and better results.</p>
      </div>
    </div>
    <div class="benefit_grid_box left_side_box bene_even_row">
      <div class="benefit_avatar_wrap bene3"></div>
      <div class="benefit_content_wrap">      
        <h3>Prepayment Saves Time and Money.</h3>
        <p>Each HCI SaaS solution lives in a prepayment,
        post-adjudication environment. Why? Because 
        &#8220;pay and chase&#8221; can waste time and money.</p>
      </div>
    </div>
    <div class="benefit_grid_box right_side_box bene_even_row">
      <div class="benefit_avatar_wrap bene4"></div>
      <div class="benefit_content_wrap">      
        <h3>Total Customization, Total Happiness.</h3>
        <p>No two payors are the same. Our solutions 
        allow you to customize nearly every aspect.  
        This gives you greater control and happiness.</p>
      </div>
    </div>
    <div class="benefit_grid_box left_side_box bene_odd_row">
      <div class="benefit_avatar_wrap bene5"></div>
      <div class="benefit_content_wrap">      
        <h3>On-Demand Reports, On-Demand Information.</h3>
        <p>Create and schedule custom or preset reports 
        with our On-Demand reporting module. You  
        get instant information and instant satisfaction.</p>
      </div>
    </div>
    <div class="benefit_grid_box right_side_box bene_odd_row">
      <div class="benefit_avatar_wrap bene6"></div>
      <div class="benefit_content_wrap">      
        <h3>Dashboards, KPIs and Alerts Drive Success.</h3>
        <p>Our customizable roles-based dashboards 
        display KPIs, alerts and more. View savings, 
        claims and other critical information real-time.</p>
      </div>
    </div>
    <div class="benefit_grid_box left_side_box bene_even_row">
      <div class="benefit_avatar_wrap bene5"></div>
      <div class="benefit_content_wrap">      
        <h3>Unbelievably Awesome Support, Included.</h3>
        <p>With HCI you’ll get round the clock support from 
        licensed clinicians, coders and investigators. We  
        help with appeals, custom reports and more.</p>
      </div>
    </div>
    <div class="benefit_grid_box right_side_box bene_even_row">
      <div class="benefit_avatar_wrap bene6"></div>
      <div class="benefit_content_wrap">      
        <h3>Real-Time Processing, Lighting-Fast Return</h3>
        <p>We know you don’t have time to slow payment. 
        That’s why our real-time processing engine sends
        all clean claims back in minutes. No more delays.</p>
      </div>
    </div>
    <div class="benefit_grid_box left_side_box bene_even_row last_bene_row">
      <div class="benefit_avatar_wrap bene7"></div>
      <div class="benefit_content_wrap">      
        <h3>SaaS Model Saves Headaches and Cash.</h3>
        <p>No more licensing fees, upgrade fees, user fees 
        and long implementations. Our web-based software 
        as service solution installs fast and saves money.</p>
      </div>
    </div>
    <div class="benefit_grid_box right_side_box bene_even_row last_bene_row">
      <div class="benefit_avatar_wrap bene8"></div>
      <div class="benefit_content_wrap">      
        <h3>Provider Profiling and Coding Analysis, Together.</h3>
        <p>Unlike our competition, we bundle supplemental 
        claims editing and fraud prevention together in
        one complete fraud and waste prevention solution.</p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>