<% content_for :banner do %>
  <div class="inner_banners grid_9 omega">
  <%= image_tag "banners/inner_banners/benefits_banner.png", :alt => "Stop Fraud Now" %>
  </div>
  <%= render :partial => "health_care/banner_side_box" %>
<% end %>

<div class="grid_12 alpha omega">
  <h2 class="page_header benefits_header_like full_wrap">Why You'll Like Us</h2>
  <p class="benefits_sub_text orange">We have the comprehensive<br/>fraud prevention every payor needs.</p>
</div>
<div class="grid_12 alpha omega">
  <h2 class="page_header benefits_header_works full_wrap">Our Process Works</h2>
  <p class="benefits_sub_text works orange">We have the tools to help you<br/>stop fraud, abuse and overpayment.</p>
</div>