<% meta_keywords("Dynamic claim and provider scoring, fraud filter algorithms, Real-time claims processing, Medical coding specialist")%>
<% meta_description("HealthCare Insights SaaS solutions for fighting health care fraud, abuse and overpayment include Over 3 million algorithms, Dynamic claim and provider scoring, Customizable rules and parameters, Real-time claims processing. Medical coding specialist, Clinical Investigative Unit (CIU), Physicians, nurses and dentists, National clinical panel. Account support team, Dedicated clinical resources, Ad hoc and custom reporting, Appeal support and response.") %>

<% content_for :banner do %>
<%= render :partial => 'benefits/benefits_banner' %>
<% end %>

<div class="benefits_content grid_12 alpha omega">
  <h2 class="page_header benefits_header_like">Why You'll Like Us</h2>
  <p class="benefits_sub_text orange">
    We aren't just another vendor with just another product.<br/>
    We're changing health care by providing better software,<br/>
    better analytics, better service and better savings results.
  </p>
  <%= render :partial => "benefits/benefits_grid" %>
</div>
<div class="benefits_content grid_12 alpha omega">
  <h2 class="page_header benefits_header_works">Elements of Success</h2>
  <p class="benefits_sub_text orange">
    Not all payment integrity solutions are created equal. At<br/>
    HCI we believe that successful fraud, abuse and wast<br/>
    prevention must include the following key ingredients:
  </p>
  <div class="benefit_works_section">
    <div class="benefit_work_box first">
      <h3 class="benefit_sub_header"><span>Robust</span> Data Warehouse</h3>
      <ul>
        <li>25 million members ></li>
        <li>1.3 million providers ></li>
        <li>$90 billion paid claims ></li>
        <li>450 million lines ></li>
      </ul>
      <div class="clear"></div>
      <div class="benefit_icons robust_icon"></div>
    </div>
    <div class="benefit_work_box">
      <h3 class="benefit_sub_header"><span>Advanced</span> Technology</h3>
      <ul>
        <li>Over 3 million algorithms ></li>
        <!-- <li>Dynamic claim and provider scoring ></li> -->
        <li>Dynamic scoring ></li>
        <!-- <li>Customizable rules and parameters ></li> -->
        <li>Customizable parameters ></li>
        <li>Real-time claims processing ></li>
      </ul>
      <div class="clear"></div>
      <div class="benefit_icons advanced_icon"></div>
    </div>
    <div class="benefit_work_box">
      <h3 class="benefit_sub_header"><span>Clinical</span> Review</h3>
      <ul>
        <li>Medical coding specialist ></li>
        <li>Clinical Investigative Unit (CIU) ></li>
        <li>Physicians, nurses and dentists ></li>
        <li>National clinical panel ></li>
      </ul>
      <div class="clear"></div>
      <div class="benefit_icons clinical_icon"></div>
    </div>
    <div class="benefit_work_box">
      <h3 class="benefit_sub_header"><span>Complete</span> Service</h3>
      <ul>
        <li>Account support team ></li>
        <li>Dedicated clinical resources ></li>
        <li>Ad hoc and custom reporting ></li>
        <li>Appeal support and response ></li>
      </ul>
      <div class="clear"></div>
      <div class="benefit_icons complete_icon"></div>
    </div>
  </div>
</div>