<% content_for :banner do %>
  <div class="inner_banners grid_9 omega">
  <%= image_tag "banners/inner_banners/benefits_banner.png", :alt => "Stop Fraud Now" %>
  </div>
  <%= render :partial => "health_care/banner_side_box" %>
<% end %>

<div class="benefits_content grid_12 alpha omega">
  <h2 class="page_header benefits_header_like full_wrap">Why You'll Like Us</h2>
  <p class="benefits_sub_text orange">We have the comprehensive<br/>fraud prevention every payor needs.</p>
  <ul class="benefits_list service_bullets">
    <li>Clinical Review by MDs, RNs & DDS’</li>
    <li>Clinical Review by MDs, RNs & DDS’</li>
    <li>Clinical Review by MDs, RNs & DDS’</li>
    <li>Clinical Review by MDs, RNs & DDS’</li>
    <li>Clinical Review by MDs, RNs & DDS’</li>
    <li>Clinical Review by MDs, RNs & DDS’</li>
    <li>Clinical Review by MDs, RNs & DDS’</li>
    <li>Clinical Review by MDs, RNs & DDS’</li>
  </ul>
</div>
<div class="benefits_content grid_12 alpha omega">
  <h2 class="page_header benefits_header_works full_wrap">Our Process Works</h2>
  <p class="benefits_sub_text works orange">We have the tools to help you<br/>stop fraud, abuse and overpayment.</p>
  <div class="benefit_works_section">
    <div class="benefit_work_box">
      <h3 class="robust_data">Robust Data Warehouse</h3>
      <ul>
        <li>25 million members ></li>
        <li>1.3 million providers ></li>
        <li>$90 billion paid claims ></li>
        <li>450 million lines ></li>
      </ul>
      <div class="benefit_icons robust_icon"></div>
    </div>
    <div class="benefit_work_box">
      <h3 class="advanced_technology">Advanced Technology</h3>
      <ul>
        <li>Over 3 million algorithms ></li>
        <li>Dynamic claim and provider scoring ></li>
        <li>Customizable rules and parameters ></li>
        <li>Real-time claims processing ></li>
      </ul>
      <div class="benefit_icons advanced_icon"></div>
    </div>
    <div class="benefit_work_box">
      <h3 class="clinical_review">Clinical Review</h3>
      <ul>
        <li>Medical coding specialist ></li>
        <li>Clinical Investigative Unit (CIU) ></li>
        <li>Physicians, nurses and dentists ></li>
        <li>National clinical panel ></li>
      </ul>
      <div class="benefit_icons clinical_icon"></div>
    </div>
    <div class="benefit_work_box">
      <h3 class="complete_service">Complete Service</h3>
      <ul>
        <li>Account support team ></li>
        <li>Dedicated clinical resources ></li>
        <li>Ad hoc and custom reporting ></li>
        <li>Appeal support and response ></li>
      </ul>
      <div class="benefit_icons complete_icon"></div>
    </div>
  </div>
</div>