<% content_for :banner do %>
  <div class="inner_banners grid_9 omega">
  <%= image_tag "banners/inner_banners/service_banner.png", :alt => "Stop Fraud Now" %>
  </div>
  <%= render :partial => "health_care/banner_side_box" %>
<% end %>

<div class="grid_12 alpha omega">
  <h2 class="page_header benefits_header full_wrap">Why You'll Like Us</h2>
  
</div>