<div class="inner_banners grid_12 alpha omega">
  <%= image_tag "/images/banners/inner_banners/#{s.permalink}_banner2.png", :alt => "Stop Fraud Now", :class => "inner_banner" %>
  <%= render :partial => 'layouts/service_cta_bar', :locals => {:s => s} %>
</div>
