<h3 class="<%= s.permalink %>_color block_font_weight sans-serif">
  Start paying facility claims the right way, today.<br/>
  Stop fraud, elevate accuracy and save money. 
</h3>
<p class="show_service_para">
  FacilityClaim Insight<sup>&reg;</sup> is a prepayment fraud, abuse and overpayment prevention service. It’s designed to help you elevate claims payment accuracy, identify fraudulent providers and decrease facility claims costs. With our advanced Code Validator Pro<sup>&reg;</sup> (rules-based), Fraud Finder Pro<sup>&reg;</sup> (profiling) and claims re-pricing software systems, you get better technology. With our AHIMA-credentialed examiners, investigators and skilled negotiators, you get better results.  
</p>

