<div id="inner_banner_short" class="grid_12 alpha">
  <div id="banner1" class="panel">
    <%= image_tag "banners/inner_banners/about_us_banner.png", :alt => "HealthCare Insight Services" %>
  </div>
  <%#= render :partial => "layouts/cta_bar" %>
</div>