<div id="slider" class="grid_12 alpha">
  <div id="banner1" class="panel">
    <%= image_tag "banners/inner_banners/service_banner.jpg", :alt => "HealthCare Insight Services" %>
  </div>
  <%#= render :partial => "layouts/cta_bar" %>
</div>