<div class="full_wrap index_steps left">
  <div class="left">  
    <h2 class="orange">The Wasted Buck Stops Here.</h2>
    <p>
      Need someone to stop fraud and waste before your money flies out the door? You’re in the right place. Each of our services ensure claims are paid right, every time. Find your service now.  It’s easy as 1, 2, 3. 
    </p>
  </div>
  <div class="number_steps left">
    <div class="big_number left">1.</div>
    <div class="number_header number_header_small orange left">What Kind Of Payor?</div>
  </div>
  <div class="number_steps left">
    <div class="big_number left">2.</div>
    <div class="number_header orange left">What Are Your Needs?</div>
  </div>
  <div class="number_steps left">
    <div class="big_number left">3.</div>
    <div class="number_header orange left">Customize Your Service?</div>
  </div>
</div>