<% s = @service %>
<div class="show_wrap grid_12">
  <div class="overview_wrap grid_12">
    <h2 class="lightblue"><%= s.title %> Overview</h2>
    <p><%= s.description %></p>
  </div>
  <div class="service_documents grid_12">
    <h2 class="lightblue"><%= s.title %> Documents</h2>
  </div>
  <div class="show_video grid_12">
    <h2 class="lightblue"><%= s.title %> Tutorial</h2>
  </div>
</div>