<% s = @service %>
<div class="show_wrap grid_12">
  <div class="service_mid_section service_bg grid_12 alpha omega">
    <div class="overview_wrap grid_7 right">
      <h3 class="<%= s.permalink %>_color block_font_weight sans-serif"><%=h s.description %></h3>
<p class="show_service_para"><%= s.solution %></p>
    </div>
  </div>
</div>

