<div class="grid_12 alpha service_quote">
  <p class="<%= service.permalink %>_quote">
    <%=h service.quote %>
  </p>
  <div class="quote_brochure">
    <%= link_to "Brochure", "" %>
  </div>
</div>