<% s = @service %>
<div class="show_wrap grid_12">
  <div class="service_mid_section grid_12 alpha omega">
    <div class="overview_wrap grid_7 right">
      <h3 class="physicianclaim-insight_color jsutify block_font_weight sans-serif"><%= s.description %></h3>
        <ul class="grid_7 service_bullets">
          <li class="serif">Reduce Expenditures up to $5 PMPM</li>
          <li class="serif">Improve claims payment accuracy up to 10%</li>
          <li class="serif">Increase annual profitability by saving up to 5%</li>
        </ul>
    </div>
  </div>
</div>

