<div class="pro_sol_boxes solution_box <%= s.permalink %>_sol_box_bg">
  <h2 class="problem_header">The Solution</h2>
  <div class="solution_grid">
    <div class="solution_bene left">
      <h3><b>Multifaceted Data Warehouse</b></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    </div>
    <div class="solution_bene left">
      <h3><b>Clinical Review & Validation</b></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    </div>
    <div class="solution_bene left">
      <h3><b>Appeal Support & Response</b></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    </div>
    <div class="solution_bene left">
      <h3><b>Ad Hoc & Custom Reporting</b></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    </div>
    <div class="solution_bene left">
      <h3><b>Real-time Claims Processing</b></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    </div>
    <div class="solution_bene left">
      <h3><b>Customizable Parameters</b></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    </div>
  </div>
</div>