<div class="pro_sol_boxes solution_box <%= s.permalink %>_sol_box_bg">
  <h2 class="problem_header">The Solution</h2>
  <div class="solution_grid">
    <div class="solution_bene left">
      <h3>Multifaceted Data Warehouse</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    </div>
    <div class="solution_bene left">
      <h3>Clinical Review & Validation  </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    </div>
    <div class="solution_bene left">
      <h3>Appeal Support & Response</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    </div>
    <div class="solution_bene left">
      <h3>Ad Hoc & Custom Reporting</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    </div>
    <div class="solution_bene left">
      <h3>Real-time Claims Processing</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    </div>
    <div class="solution_bene left">
      <h3>Customizable Parameters</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    </div>
  </div>
</div>