<h3 class="<%= s.permalink %>_color block_font_weight sans-serif">
  Start paying your vision claims the right way.<br/> 
  Stop fraud, ensure accuracy and save money. 
</h3>
<p class="show_service_para">
  VisionClaim Insight<sup>&reg;</sup> is a prepayment fraud, abuse and overpayment prevention service. It’s designed to help you improve claims payment accuracy, detect fraudulent providers and reduce vision claims costs. By combining our advanced Code Validator Pro<sup>&reg;</sup> (rules-based) and Fraud Finder Pro<sup>&reg;</sup> (profiling) software systems, you get access to better technology. By relying on our experienced clinicians for suspect claim and provider validation, you get better results. 
</p>

