<% meta_keywords("health care fraud prevention services, health care fraud prevention services, health care fraud SaaS Solutions")%>
<% meta_description("Maximize your health care claims payment accuracy, identify fraudulent providers and reduce your professional health care claims costs") %>
<% page_title "Fraud Prevention Services"%>

<% content_for :banner do %>
<%= render :partial => 'services/index_banner' %>
<% end %>
<div class="grid_12 alpha omega">
  <%= render :partial => "services/index_steps", :locals => {:service_inquiry => @service_inquiry} %>
</div>
<div class="grid_12 alpha omega">
  <div id="service_boxes" class="service_wrap">
    <% @services.each do |serv| %>
      <%= render :partial => "services/index_service", :locals => {:serv => serv } %>
    <% end %>
  </div>
</div>


<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      services.setServicePanels();
      services.serviceInquiry();
      services.triggerServicePanel();
    });
  </script>
<% end %>