<% page_title "Fraud Prevention Services"%>

<% content_for :banner do %>
  <%= render :partial => "services/banner" %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'layouts/sub_boxes' %>
<% end %>

<%= render :partial => "services/index_list" %>
<div class="space_left">
  <%= link_to "Back", request.env["HTTP_REFERER"], :class => "btn"%>
</div>