<% meta_keywords("health care fraud prevention services, health care fraud prevention services")%>
<% meta_description("HealthCare Insight provides many resources to help you combat health care fraud.") %>
<% page_title "Fraud Prevention Services"%>

<% content_for :banner do %>
  <div class="inner_banners grid_9 omega">
  <%= image_tag "banners/inner_banners/service_banner.png", :alt => "Stop Fraud Now" %>
  </div>
  <%= render :partial => "health_care/banner_side_box" %>
<% end %>
<div class="grid_12 alpha omega">
  <%= render :partial => "services/index_steps" %>
</div>
<div class="grid_12 alpha omega">
  <div class="service_wrap">
    <% @services.each do |serv| %>
      <%= render :partial => "services/index_service", :locals => {:serv => serv } %>
    <% end %>
  </div>
</div>
