<% meta_keywords("health care fraud prevention services, health care fraud prevention services")%>
<% meta_description("Maximize your claims payment accuracy, identify fraudulent providers and reduce your professional claims costs.") %>
<% page_title "Fraud Prevention Services"%>

<% content_for :banner do %>
<%= render :partial => 'services/index_banner' %>
<% end %>
<div class="grid_12 alpha omega">
  <%= render :partial => "services/index_steps" %>
</div>
<div class="grid_12 alpha omega">
  <div class="service_wrap">
    <% @services.each do |serv| %>
      <%= render :partial => "services/index_service", :locals => {:serv => serv } %>
    <% end %>
  </div>
</div>
