<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>HealthCare Insight ClaimSaver Webinar - OncologyClaim Insight</title>
    <style>
      body {background-color:#f7f7f7;font-size:12px;}
      table.white {background-color:#f7f7f7;}
      h1 {margin-bottom: 2px;}
      h2 {margin-top: 0px;margin-bottom: 2px;}
      h3 {margin-top: 0px;margin-bottom: 2px;}
      h4 {margin-top: 0px;margin-bottom: 2px;}
      h5 {margin-top: 4px;margin-bottom: 0px;}
      div {margin-top: 0px;}
      a {margin-top:0px;border: none;text-decoration: none;}
      p {background-color: #ffffff;}
    </style>
  </head>

  <body>
    <table class="white main" style="width: 800px;" align="center" bgcolor="#ffffff" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td align="right"><span style="font-family: arial,helvetica,sans-serif;">Trouble viewing this email? <a href="%%view_online%%">View in a browser</a></span></td>
        </tr>
        <tr>
          <td style="width: 800px;" width="800"><!-- Main Content Area --> 
            <table style="width: 800px;" bgcolor="#000000" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td style="width: 800px;" width="800">
                
                  <!-- Header --> 
                    <table style="width: 800px;" bgcolor="#f7f7f7" border="0" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                        
                          <!-- Logo Top -->
                          <td style="width: 800px; height: 62px;" height="62" width="800">
                            <img style="width: 566px; height: 62px;" src="http://dl.dropbox.com/u/3105141/HCICDN/email/general_elements/header/email_logo_green.jpg" align="left" border="0" height="62" width="566" />
                          </td>
                        </tr>
                      
                        <!-- Top Navigation --> 
                          <tr style="width: 800px; height: 34px; margin: 0px;">
                            <td style="width: 800px; height: 34px; margin: 0px;">
                              <table style="width: 800px; height: 34px;" align="right" bgcolor="#000000" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                  <tr>
                                    <td>
                                      <a href="http://www.hcinsight.com/health-care" style="border: none;">
                                        <img style="margin: 0px; width: 89px; height: 34px;" src="http://dl.dropbox.com/u/3105141/HCICDN/email/general_elements/navigation/email_nav_home.jpg" border="0" height="34" width="89" />
                                      </a>
                                    </td>
                                    <td>
                                      <a href="http://www.hcinsight.com/services">
                                        <img style="margin: 0px; width: 89px; height: 34px;" src="http://dl.dropbox.com/u/3105141/HCICDN/email/general_elements/navigation/email_nav_services.jpg" border="0" height="34" width="89" />
                                      </a>
                                    </td>
                                    <td>
                                      <a style="margin: 0px; width: 86px; height: 33px;" href="http://www.hcinsight.com/benefits"> 
                                        <img style="margin: 0px; width: 89px; height: 34px;" src="http://dl.dropbox.com/u/3105141/HCICDN/email/general_elements/navigation/email_nav_benefits.jpg" border="0" height="34" width="89" /> 
                                      </a>
                                    </td>
                                    <td>
                                      <a href="http://www.hcinsight.com/healthcare-insight-markets"> 
                                        <img style="margin: 0px; width: 89px; height: 34px;" src="http://dl.dropbox.com/u/3105141/HCICDN/email/general_elements/navigation/email_nav_markets.jpg" border="0" height="34" width="89" /> 
                                      </a>
                                    </td>
                                    <td>
                                      <a href="http://www.hcinsight.com/health-care-resources">
                                        <img style="margin: 0px; width: 89px; height: 34px;" src="http://dl.dropbox.com/u/3105141/HCICDN/email/general_elements/navigation/email_nav_resources.jpg" border="0" height="34" width="89" /> 
                                      </a>
                                    </td>
                                    <td>
                                      <a href="http://www.hcinsight.com/nucleus">
                                        <img style="margin: 0px; width: 89px; height: 34px;" src="http://dl.dropbox.com/u/3105141/HCICDN/email/general_elements/navigation/email_nav_nucleus.jpg" border="0" height="34" width="89" />
                                      </a>
                                    </td>
                                    <td>
                                      <a href="http://www2.hcinsight.com/l/1492/2009-12-21/G23NR">
                                        <img style="margin: 0px; width: 89px; height: 34px;" src="http://dl.dropbox.com/u/3105141/HCICDN/email/general_elements/navigation/email_nav_more_info.jpg" border="0" height="34" width="89" />
                                      </a>
                                    </td>
                                    <td>
                                      <a href="http://www.hcinsight.com/about-healthcare-insight">
                                        <img style="margin: 0px; width: 89px; height: 34px;" src="http://dl.dropbox.com/u/3105141/HCICDN/email/general_elements/navigation/email_nav_about.jpg" border="0" height="34" width="89" />
                                      </a>
                                    </td>
                                    <td>
                                      <a href="http://www.hcinsight.com/contact-healthcare-insight">
                                        <img style="margin: 0px; width: 88px; height: 34px;" src="http://dl.dropbox.com/u/3105141/HCICDN/email/general_elements/navigation/email_nav_contact.jpg" border="0" height="34" width="88" />
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <!-- End Top Navigation -->
                        
                        </tbody>
                      </table>
                      <!-- end Header --> 
                    
                      <!-- Content Area--> 
                      <table style="border-right: 1px solid #dfdfdf; width: 778px;" align="right" bgcolor="#fefefe" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td style="width: 778px;">
                          
                            <!-- Top Content (inner header)--> 
                            <table style="width: 778px; height: 420px;" align="right" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                
                                  <!-- Top Banner -->
                                  <td style="width: 778px;" align="right" valign="top" width="778">
                                    <a href="http://www2.hcinsight.com/l/1492/2010-09-16/ICO4D" alt="Improving Care while Managing Oncology Claim Costs." border="0">
                                     <img src="http://dl.dropbox.com/u/3105141/HCICDN/email/oci_claimsaver/oci_email_header-5-day.jpg" border="0" width="779" />
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- end Top Content (inner header)--> 
                          
                            <!-- Start 2 Column Left Side --> 
                            <table style="width: 778px;" align="right" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td style="width: 500px;" valign="top" width="500">
                                
                                  <!-- Text Area --> 
                                  <table style="width: 500px; margin-left: 20px;" align="left" bgcolor="#fefefe" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                      <tr>
                                        <td style="width: 500px;" valign="top" width="500">
                                          <table style="width: 498px; margin-top: 10px;" align="left" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                              <tr>
                                                <td>
                                                  <h3 style="font-family: arial,helvetica,sans-serif; font-weight: bold; margin-bottom: 10px;">Comprehensive Cancer Management Strategy</h3>
                                                  <p style="font-family: arial,helvetica,sans-serif; margin-top: 0px; margin-bottom: 10px;">
                                                    OncologyClaim Insight®, powered by Biologics, Inc., is centered on improving the delivery system, while reducing the administrative burden on physicians and decreasing the overall cost of care. Designed as an integral component of the HealthCare Insight&reg; suite of services, OncologyClaim Insight’s continuum of care model improves patient outcomes, increases provider satisfaction, while reducing cost and waste in the health care delivery system.
                                                  </p>
                                                  <!-- <p style="font-family: arial,helvetica,sans-serif; margin-top: 0px; margin-bottom: 20px;">
                                                    Shayne Malone, Vice President of Sales, Biologics, Inc.<sup>&reg;</sup>
                                                  </p> -->
                                                  <div style="width: 500px;" width="500" align="left">
                                                    <h3 style="font-family: arial,helvetica,sans-serif; font-weight: bold;">The Features</h3>
                                                    <ul align="left" style="width: 430px;" width="400">
                                                      <li align="left" style="font-family: arial,helvetica,sans-serif; margin-bottom: 10px;"> 100% of oncology cases reviewed for eligibility</li>
                                                      <li align="left" style="font-family: arial,helvetica,sans-serif; margin-bottom: 10px;"> Plan of treatment reviewed to ensure compliance with evidence-based guidelines and best practices</li>
                                                      <li align="left" style="font-family: arial,helvetica,sans-serif; margin-bottom: 10px;"> Oncology Certified Nurses (OCNs) guide patient care</li>
                                                      <li align="left" style="font-family: arial,helvetica,sans-serif; margin-bottom: 10px;"> Drugs and claims analyzed to prevent over billings</li>
                                                      <li align="left" style="font-family: arial,helvetica,sans-serif; margin-bottom: 10px;"> Differentiated approach optimizes outcomes</li>
                                                      <li align="left" style="font-family: arial,helvetica,sans-serif; margin-bottom: 10px;"> Physician approval and detailed savings reports and access to expert oncologist advisory panel</li>
                                                      <li align="left" style="font-family: arial,helvetica,sans-serif; margin-bottom: 10px;"> How <i>prepayment</i> detection of suspect activity and flagging providers like these stops fraud early and mitigates fraud risks</li>
                                                    </ul>
                                                  </div>
                                                </td>
                                              </tr>
                                            </tbody>  
                                          </table>
                                          <table style="width: 498px; margin-top: 10px; margin-bottom: 10px;" align="left" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                              <tr>
                                                <td>
                                                  <h3 style="font-family: arial,helvetica,sans-serif; font-weight: bold;">Presenters</h3>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                  <img src="http://dl.dropbox.com/u/3105141/HCICDN/email/avatars/shayne_malone.jpg" alt="Christie Moon" style="margin-right: 10px;" width="100" height="100"/>
                                                </td>
                                                <td>
                                                  <h3 style="font-weight: bold; font-family: arial,helvetica,sans-serif; margin-left: 0px; background-color: #ffffff;">Shayne Malone, JD</h3>
                                                  <p style="font-family: arial,helvetica,sans-serif; margin-left: 0px; background-color: #ffffff;">
                                                    Vice President of Sales<br/>
                                                    Biologics, Inc.<sup>&reg;</sup>
                                                  </p>
                                                </td>
                                              </tr>
                                              <tr style="margin-top: 10px;">
                                                <td>
                                                  <img src="http://dl.dropbox.com/u/3105141/HCICDN/email/avatars/claimsaver_email_presenter_brian.jpg" alt="Brian Smith" style="margin-right: 10px;" width="100" height="100"/>
                                                </td>
                                                <td>
                                                  <h3 style="font-weight: bold; font-family: arial,helvetica,sans-serif; margin-left: 0px; background-color: #ffffff;">Brian C. Smith</h3>
                                                  <p style="font-family: arial,helvetica,sans-serif; margin-left: 0px; background-color: #ffffff;">
                                                    Executive Vice President, Sales<br/>
                                                    HealthCare Insight<sup>&reg;</sup>
                                                  </p>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td style="width: 500px;" valign="top" width="500">
                                          <p style="font-family: arial,helvetica,sans-serif; margin-top: 20px; margin-bottom: 10px;">If you&rsquo;ve already registered, why not <a href="http://www.hcinsight.com/invite-a-friend">invite a colleague&gt;</a></p>
                                          <div style="width: 500px;" width="500" align="left">
                                            <div align="left" style="font-family: arial,helvetica,sans-serif; margin-bottom: 10px; margin-left: 30px;"> Thursday, December 16th </div>
                                            <div align="left" style="font-family: arial,helvetica,sans-serif; margin-bottom: 10px;  margin-left: 30px;"> 2 p.m. Eastern Time </div>
                                            <div align="left" style="font-family: arial,helvetica,sans-serif; margin-bottom: 10px;  margin-left: 30px;"> 30 minutes </div>
                                            <div align="left" style="font-family: arial,helvetica,sans-serif; margin-bottom: 10px; margin-left: 30px;"> <a href="http://www2.hcinsight.com/l/1492/2010-09-16/ICO4D">Register Here</a> </div>
                                          </div>
                                          <p style="font-family: arial,helvetica,sans-serif; margin-top: 10px; margin-bottom: 10px;">
                                            <a href="http://www2.hcinsight.com/l/1492/2010-01-18/G9CP9/1492/66281/OncologyClaim_Insight__OCI__Brochure.pdf">Download an OCI brochure</a>
                                          </p>
                                          <!-- Quote -->
                                          <p style="font-family: arial,helvetica,sans-serif; margin-top: 15px; margin-bottom: 10px;">
                                            <img src="http://dl.dropbox.com/u/3105141/HCICDN/email/quotes/oci_quote.jpg" />
                                          </p>
                                        
                                          <!-- Signature Graphic -->
                                          <p style="font-family: arial,helvetica,sans-serif; margin-top: 5px; margin-bottom: 10px;">We look forward to sharing the presentation and discussion with you.</p>
                                          <p style="font-family: arial,helvetica,sans-serif; background-color: #ffffff;">Until then,</p>
                                          <p style="font-family: arial,helvetica,sans-serif; margin-left: 15px; background-color: #ffffff;">
                                            <img src="http://dl.dropbox.com/u/3105141/HCICDN/email/general_elements/signatures/signature.png" border="0" width="374" />
                                          </p>
                                          <p style="font-family: arial,helvetica,sans-serif; margin-top: 5px; margin-bottom: 10px; font-size: 10px;">
                                            <i>Note: If your nonprofit organization disallows the receipt of gifts and prizes, simply withdraw your entry at the beginning of the prize drawing&mdash;we'll ask.</i>
                                          </p>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <!-- end Left Side-->
                                </td>
                                <td style="width: 225px;" valign="top" width="225">
                              
                                  <!-- Right Side Sub Column--> 
                                  <table style="width: 235px; margin-right: 0px;" align="right" bgcolor="#fefefe" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <table style="width: 225px;" align="right" bgcolor="#f2f2f2" border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                            
                                              <!-- Sidebar First Block -->
                                              <tr style="border-top: 1px solid #d3d3d3;">
                                                <td style="text-align: center;" bgcolor="#f2f2f2">
                                                  <h4 style="font-family: arial,helvetica,sans-serif; font-size: 20px; margin-top: 20px; margin-bottom: 10px; text-align: center;">Prize Drawing*</h4>
                                                  <img src="http://dl.dropbox.com/u/3105141/HCICDN/email/sidebar/claimsaver_sidebar_nucleus_ipad.jpg" style="margin-top: 5px; margin-bottom: 5px;" height="120" width="225" />
                                                  <p style="font-family: arial,helvetica,sans-serif; font-size: 14px; margin: 0px 15.5px 20px; text-align: center; width: 200px; background-color: #f2f2f2;">
                                                    All webinar participants will be eligible to win an <b>Apple iPad</b> at the conclusion of the presentation.
                                                  </p>
                                                </td>
                                              </tr>
                                              <tr style="border-top: 1px solid #d3d3d3;">
                                                <td style="text-align: center;" bgcolor="#f2f2f2">
                                                  <img src="http://dl.dropbox.com/u/3105141/HCICDN/email/sidebar/sidebar_hr.jpg" height="20" width="225" />
                                                  <h4 style="font-family: arial,helvetica,sans-serif; font-size: 20px; margin-top: 20px; margin-bottom: 10px; text-align: center;">Date and Time</h4>
                                                  <img src="http://dl.dropbox.com/u/3105141/HCICDN/email/sidebar/claimsaver_sidebar_clock.jpg" style="margin-top: 5px; margin-bottom: 5px;" height="120" width="225" />
                                                  <p style="font-family: arial,helvetica,sans-serif; font-size: 18px; margin-top: 0px; margin-left: 10px; margin-bottom: 20px; text-align: center; line-height: 22px; background-color: #f2f2f2;">
                                                    Thursday, December 16th<br /> 2 p.m. Eastern Time<br /> 30 Minutes<br /> Complimentary
                                                  </p>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td style="text-align: center;" bgcolor="#f2f2f2"
                                                  <img src="http://dl.dropbox.com/u/3105141/HCICDN/email/sidebar/sidebar_hr.jpg" height="20" width="225" />
                                                  <h4 style="background-color: #f2f2f2; font-family: arial,helvetica,sans-serif; font-size: 20px; margin: 20px 22.5px 10px 27.5px; text-align: center; width: 180px;">Additional Information</h4>
                                                  <img src="http://dl.dropbox.com/u/3105141/HCICDN/email/sidebar/hci_sidebar_cross.jpg" style="margin-top: 5px; margin-bottom: 5px;" height="120" width="225" />
                                                  <p style="background-color: #f2f2f2; font-family: arial,helvetica,sans-serif; font-size: 14px; width: 184px; margin: 0px 22.5px 20px 29.5px; text-align: center; background-color: #f2f2f2;">
                                                    Webinar help and FAQ&rsquo;s                               
                                                    <a href="http://www.hcinsight.com/webinars">www.hcinsight.com/webinars</a>
                                                  </p>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <!-- end Right Side Sub Column -->
                                
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- end inner Content --> 
                          <!-- end full width content area --> 
                        
                          <!-- base plate (Bottom Area Gradient)--> 
                          <table style="width: 778px; height: 105px;" align="right" bgcolor="#fefefe" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td style="width: 778px;" align="left" height="105" valign="top" width="778">
                                  <img src="http://dl.dropbox.com/u/3105141/HCICDN/email/general_elements/footer/base_gradient.png" border="0" width="779" />
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- end base plate -->
                      
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- end Content Area -->
                </td>
              </tr>
            </tbody>
          </table>
        
        
          <!-- Footer Area --> 
          <table style="width: 800px;" align="left" bgcolor="#000000" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td id="footer" style="width: 800px;" bgcolor="#000000" height="120" valign="top" width="800">
              
                <!-- footer logo --> 
                <table style="width: 360px;" align="left" border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td cellpadding="0" cellspacing="0" style="width: 360px;" bgcolor="#000000" height="140" valign="bottom" width="360">
                        <img src="http://dl.dropbox.com/u/3105141/HCICDN/email/general_elements/footer/footer_logo.jpg" width="360" />
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- end footer logo --> 
              
                <!-- required tags --> 
                <table id="required_tags" style="width: 250px;" align="right" border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td style="width: 250px;">
                        <span style="font-family: arial,helvetica,sans-serif; color: #ffffff;">%%account_address%%</span>
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 250px;">
                        <span style="font-family: arial,helvetica,sans-serif;">
                          <a href="%%unsubscribe%%">Unsubscribe</a> from email communications
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 250px;">
                        <span style="font-family: arial,helvetica,sans-serif;">
                          <h4 style="color: #ffffff; margin-top: 5px;">Follow HealthCare Insight</h4>
                        </span>
                      </td>
                    </tr>
                    <tr>
                    
                      <!-- Social Links  -->
                      <td style="width: 250px;">
                        <a target="_blank" href="http://www.facebook.com/pages/Stop-Health-Care-Fraud/105583130933">
                          <img src="http://dl.dropbox.com/u/3105141/HCICDN/email/general_elements/footer/facebook_small_black.jpg" border="0" width="30" />
                        </a> 
                        <a target="_blank" href="http://www.linkedin.com/groups?gid=1426647&amp;trk=hb_side_g">
                          <img src="http://dl.dropbox.com/u/3105141/HCICDN/email/general_elements/footer/linkedin_small_black.jpg" border="0" width="30" />
                        </a>
                        <a href="http://www.stophealthcarefraud.com" target="_blank">
                          <img src="http://dl.dropbox.com/u/3105141/HCICDN/email/general_elements/footer/shcf_small_black.jpg" border="0" width="30" />
                        </a>
                        <a href="http://twitter.com/StopHealthFraud" target="_blank">
                          <img src="http://dl.dropbox.com/u/3105141/HCICDN/email/general_elements/footer/twitter_small_black.jpg" border="0" width="30" />
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- end required tag area -->
              
                <!-- Bottom White Stripe and Black Base --> 
                <table style="width: 800px;" align="left" border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td style="width: 800px;" align="left" bgcolor="#ffffff" height="10" valign="top" width="800"></td>
                    </tr>
                    <tr>
                      <td style="width: 800px;" align="left" bgcolor="#000000" height="20" valign="top" width="800"></td>
                    </tr>
                  </tbody>
                </table>
                <!-- end Stripe -->
              
              </td>
            </tr>
          </tbody>
        </table>
        <!-- end Footer -->
      </tbody>
    </table>
  </body>
</html>