<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>HealthCare Insight Client ClaimSaver Webinar Series | Facility Claim Insight</title>
</head>
<style>
body {
	background-color:#ffffff;
	font-size:12px;
}
table.white {
	background-color:#ffffff;
}
h1 {
	margin-bottom: 2px;
}
h2 {
  margin-top: 0px;
	margin-bottom: 2px;
}
h3 {
  margin-top: 0px;
	margin-bottom: 2px;
}
h4 {
  margin-top: 0px;
	margin-bottom: 2px;
}
h5 {
  margin-top: 4px;
	margin-bottom: 0px;
}
div {
	margin-top: 0px;
}
a {
	margin-top:0px;
	border: none;
	text-decoration: none;
}
p {
  line-height: 18.25px;
}
</style>
<body>
<table class="white main" style="width: 800px;" align="center" bgcolor="#ffffff" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td style="width: 800px;" width="800"><!-- Main Content Area --> 
<table style="width: 800px;" bgcolor="#000000" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td style="width: 800px;" width="800"><!-- Header --> 
<table style="width: 800px;" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
<tbody>
  <tr>
    <td style="width: 800px; height: 62px;" width="800" height="62">
      <img style="width: 566px; height: 62px;" src="http://stage.hcinsight.com/landing_page_images/email_logo.jpg" border="0" width="566" height="62" align="left" />
    </td>
  </tr>
<!-- Top Navigation -->
<tr style="width: 800px; height: 34px; margin: 0px;">
  <td style="width: 800px; height: 34px; margin: 0px;">
    <table style="width: 800px; height: 34px;" align="right" bgcolor="#000000" border="0" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
        <td>
          <a href="http://www.hcinsight.com/health-care" style="border: none;">
            <img style="margin: 0px; width: 89px; height: 34px;" src="http://stage.hcinsight.com/landing_page_images/email_nav_home.jpg" border="0" width="89" height="34"/>
          </a>
        </td>
        <td><a href="http://www.hcinsight.com/services">
          <img style="margin: 0px; width: 89px; height: 34px;" src="http://stage.hcinsight.com/landing_page_images/email_nav_services.jpg" border="0" width="89" height="34"/>
        </a></td>
        <td>
          <a style="margin: 0px; width: 86px; height: 33px;" href="http://www.hcinsight.com/benefits">
            <img style="margin: 0px; width: 89px; height: 34px;" src="http://stage.hcinsight.com/landing_page_images/email_nav_benefits.jpg" border="0" width="89" height="34"/>
          </a>
        </td>
        <td><a href="http://www.hcinsight.com/healthcare-insight-markets">
          <img style="margin: 0px; width: 89px; height: 34px;" src="http://stage.hcinsight.com/landing_page_images/email_nav_markets.jpg" border="0" width="89" height="34"/>
        </a></td>
        <td><a href="http://www.hcinsight.com/health-care-resources">
          <img style="margin: 0px; width: 89px; height: 34px;" src="http://stage.hcinsight.com/landing_page_images/email_nav_resources.jpg" border="0" width="89" height="34"/>
        </a></td>
        <td><a href="http://www.hcinsight.com/nucleus">
          <img style="margin: 0px; width: 89px; height: 34px;" src="http://stage.hcinsight.com/landing_page_images/email_nav_nucleus.jpg" border="0" width="89" height="34"/>
        </a></td>
        <td><a href="http://www2.hcinsight.com/l/1492/2009-12-21/G23NR">
          <img style="margin: 0px; width: 89px; height: 34px;" src="http://stage.hcinsight.com/landing_page_images/email_nav_more_info.jpg" border="0" width="89" height="34"/>
        </a></td>
        <td><a href="http://www.hcinsight.com/about-healthcare-insight">
          <img style="margin: 0px; width: 89px; height: 34px;" src="http://stage.hcinsight.com/landing_page_images/email_nav_about.jpg" border="0" width="89" height="34"/>
        </a></td>
        <td><a href="http://www.hcinsight.com/contact-healthcare-insight">
          <img style="margin: 0px; width: 88px; height: 34px;" src="http://stage.hcinsight.com/landing_page_images/email_nav_contact.jpg" border="0" width="88" height="34"/>
        </a></td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<!-- End Top Navigation -->
</tbody>
</table>
<!-- end Header --> <!-- Content Area--> 
<table style="border-right: 1px solid #dfdfdf; width: 778px;" align="right" bgcolor="#fefefe" border="0" cellpadding="0" cellspacing="0">
<tbody>
  <tr>
    <td style="width: 778px;">
     <!-- Top Content (inner header)--> 
      <table style="width: 778px; height: 420px;" align="right" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="778" height="420">
        <tbody>
          <tr>
            <td style="width: 778px;" align="right" valign="top" width="778">
              <a href="http://www2.hcinsight.com/l/1492/2010-07-02/HIZB5" alt="Humor and the American Hospital Bill" border="0">
                <img src="http://stage.hcinsight.com/landing_page_images/claimsaver_facility_email_header.jpg" width="779" border="0" />
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- end Top Content (inner header)--> 
      <!-- Start 2 Column Left Side --> 
      <table style="width: 778px;" align="right" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td style="width: 500px;" valign="top" width="500"><!-- Text Area --> 
              <table style="width: 500px; margin-left: 20px;" align="left" bgcolor="#fefefe" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td style="width: 500px;" valign="top" width="500">
                        <img src="http://stage.hcinsight.com/landing_page_images/email_images/claimsaver_fci_small_quote.jpg" width="500" border="0" />
                        <h2 style="font-family: arial,helvetica,sans-serif; color:#890001; margin-top: 20px; font-size: 30px;">Humor and the<br/> American Hospital Bill...</h2>
                        <p style="font-family: arial,helvetica,sans-serif; margin-top: 20px; margin-bottom: 10px;">
                          …the ClaimSaver Webinar presentation hosted by HCI, is just <b>10 days away.</b>
                        </p>
                        <p style="font-family: arial,helvetica,sans-serif; margin-top: 20px; margin-bottom: 10px; font-size: 20px;">
                          <a href="http://www2.hcinsight.com/l/1492/2010-07-02/HIZB5">SEATS STILL AVAILABLE</a>
                        </p>
                        <p style="font-family: arial,helvetica,sans-serif; margin-top: 5px; margin-bottom: 10px;">
                          This short session led by our payment integrity experts will explore how the FacilityClaim Insight service can help you:
                        </p>
                          <div align="left" style="width:500px;" width="500">
                            <ul align="left" style="width: 430px;" width="400">
                              <li align="left" style="font-family: arial,helvetica,sans-serif; margin-bottom: 10px;">
                                Save up to 25 percent off payable charges after any discounts.
                              </li>
                              <li align="left" style="font-family: arial,helvetica,sans-serif; margin-bottom: 10px;">
                                Drill down to line-item clinical review of itemized UB04.
                              </li>
                              <li align="left" style="font-family: arial,helvetica,sans-serif; margin-bottom: 10px;">
                                See real-time online review status verification.
                              </li>
                              <li align="left" style="font-family: arial,helvetica,sans-serif; margin-bottom: 10px;">
                                Negotiate and resolve line-item bill discrepancies leading to signed settlement agreements.
                              </li>
                            </ul>
                        </div>
                        <p style="font-family: arial,helvetica,sans-serif; margin-top: 5px; margin-bottom: 10px;">
                          If you’ve already registered, why not <a href="http://www.hcinsight.com/invite-a-friend">invite a colleague></a>
                        </p>
                          <div align="left" style="width:500px;" width="500">
                            <ul align="left" style="width: 430px;" width="400">
                              <li align="left" style="font-family: arial,helvetica,sans-serif; margin-bottom: 10px;">
                                Thursday, July 29
                              </li>
                              <li align="left" style="font-family: arial,helvetica,sans-serif; margin-bottom: 10px;">
                                2 p.m. Eastern Time
                              </li>
                              <li align="left" style="font-family: arial,helvetica,sans-serif; margin-bottom: 10px;">
                                30 minutes
                              </li>
                              <li align="left" style="font-family: arial,helvetica,sans-serif; margin-bottom: 10px;">
                                <a href="http://www2.hcinsight.com/l/1492/2010-07-02/HIZB5">Register Here</a>
                              </li>
                            </ul>
                        </div>
                        <p style="font-family: arial,helvetica,sans-serif; margin-top: 5px; margin-bottom: 10px;">
                          We look forward to sharing the presentation and discussion with you.
                        </p>
                        <p style="font-family: arial,helvetica,sans-serif; background-color: #ffffff;">
                          Until then,
                        </p>
                        <!-- Signature Graphic -->
                        <p style="font-family: arial,helvetica,sans-serif; margin-left: 15px; background-color: #ffffff;"><img src="http://stage.hcinsight.com/landing_page_images/email_images/friends_sig.png" border="0" width="374" />
                        </p>
                        <p style="font-family: arial,helvetica,sans-serif; margin-top: 5px; margin-bottom: 10px;">
                          <a href="http://www2.hcinsight.com/l/1492/2010-01-18/G9CNB/1492/66261/FacilityClaim_Insight__FCI__Brochure.pdf">Download a FacilityClaim Insight brochure</a>
                        </p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- end Left Side-->
              </td>
              <td style="width: 225px;" valign="top" width="225">
              <!-- Right Side Sub Column--> 
              <table style="width: 235px; margin-right: 0px;" align="right" bgcolor="#fefefe" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td>
                     <table style="width: 225px;" align="right" bgcolor="#F2F2F2" border="0" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td style="text-align: center;">
                            <h4 style="font-family: arial,helvetica,sans-serif; font-size: 20px; margin-top: 20px; margin-bottom: 10px; text-align: center;">Date and Time</h4>
                            <img src="http://stage.hcinsight.com/landing_page_images/email_images/claimsaver_sidebar_clock.jpg" width="225" height="120" style="margin-top: 5px; margin-bottom: 5px;" />
                            
                              <p style="font-family: arial,helvetica,sans-serif; font-size: 18px; margin-top: 0px; margin-left: 10px; margin-bottom: 20px; text-align: center; line-height: 22px;">
                                Thursday, July 29<br/>
                                2 p.m. Eastern Time<br/>
                                30 Minutes<br/>
                                No Charge
                              </p>
                          </td>
                        </tr>
                        <tr style="border-top: 1px solid #d3d3d3;">
                          <td style="text-align: center;">
                            <img src="http://stage.hcinsight.com/landing_page_images/email_images/sidebar_hr.jpg" width="225" height="20" />
                            <h4 style="font-family: arial,helvetica,sans-serif; font-size: 20px; margin-top: 20px; margin-bottom: 10px; text-align: center;">Prize Drawing</h4>
                            <img src="http://stage.hcinsight.com/landing_page_images/email_images/claimsaver_sidebar_nucleus_ipad.jpg" width="225" height="120" style="margin-top: 5px; margin-bottom: 5px;" />
                            
                              <p style="font-family: arial,helvetica,sans-serif; font-size: 14px; margin-top: 0px; margin-left: 10px; margin-bottom: 20px; text-align: center; width: 200px; margin-left: 15.5px; margin-right: 15.5px;">
                                All webinar participants will be eligible to win an Apple iPad at the conclusion of the presentation.
                              </p>
                          </td>
                        </tr>
                        <tr>
                          <td style="text-align: center;">
                            <img src="http://stage.hcinsight.com/landing_page_images/email_images/sidebar_hr.jpg" width="225" height="20" />
                            <h4 style="background-color: #f2f2f2; font-family: arial,helvetica,sans-serif; font-size: 20px; margin-top: 20px; margin-bottom: 10px; text-align: center; width: 180px; margin-left: 27.5px; margin-right: 22.5px;">Additional Information</h4>
                            <p style="background-color: #f2f2f2; font-family: arial,helvetica,sans-serif; font-size: 14px; width: 184px; margin-left: 29.5px; margin-right: 22.5px; margin-top: 0px; margin-bottom: 20px; text-align: center;">
                              Webinar help and FAQ’s
                              <a href="http://www.hcinsight.com/webinars">www.hcinsight.com/webinars</a>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                     </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- end Right Side Sub Column -->
            </td>
          </tr>
        </tbody>
      </table>
      <!-- end inner Content --> 
<!-- end full width content area --> <!-- base plate --> 
<table style="width: 778px; height: 105px;" align="right" bgcolor="#fefefe" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td style="width: 778px;" align="left" height="105" valign="top" width="778"><img src="http://stage.hcinsight.com/landing_page_images/email_images/silver_email_template_base.png" border="0" width="779" /></td>
</tr>
</tbody>
</table>
<!-- end base plate --></td>
</tr>
</tbody>
</table>
<!-- end Content Area --></td>
</tr>
</tbody>
</table>
<!-- Footer Area --> 
<table style="width: 800px;" align="left" bgcolor="#000000" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td id="footer" style="width: 800px;" bgcolor="#000000" height="120" valign="top" width="800"><!-- footer logo --> 
<table style="width: 360px;" align="left" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td cellpadding="0" cellspacing="0" style="width: 360px;" bgcolor="#000000" height="140" valign="bottom" width="360"><img src="http://stage.hcinsight.com/landing_page_images/email_images/black_footer_logo_no_line.jpg" width="360" /></td>
</tr>
</tbody>
</table>
<!-- end footer logo --> <!-- required tags --> 
<table id="required_tags" style="width: 250px;" align="right" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td style="width: 250px;"><p style="font-family: arial,helvetica,sans-serif; color: #ffffff;">
  HealthCare Insight<br/>
  10897 S. River Front Parkway<br/>
  Suite 200<br/>
  South Jordan, Utah 84095
  </p>
</td>
</tr>
<tr>
<tr>
<td style="width: 250px;"><span style="font-family: arial,helvetica,sans-serif;">
<h4>Follow HealthCare Insight</h4>
</span></td>
</tr>
<tr>
<td style="width: 250px;"><a target="_blank" href="http://www.facebook.com/pages/Stop-Health-Care-Fraud/105583130933"><img src="http://stage.hcinsight.com/landing_page_images/email_images/facebook_small_black.jpg" border="0" width="30" /></a> <a target="_blank" href="http://www.linkedin.com/groups?gid=1426647&amp;trk=hb_side_g"><img src="http://stage.hcinsight.com/landing_page_images/email_images/linkedin_small_black.jpg" border="0" width="30" /></a> <a href="http://www.stophealthcarefraud.com" target="_blank"><img src="http://stage.hcinsight.com/landing_page_images/email_images/shcf_small_black.jpg" border="0" width="30" /></a> <a href="http://twitter.com/StopHealthFraud" target="_blank"><img src="http://stage.hcinsight.com/landing_page_images/email_images/twitter_small_black.jpg" border="0" width="30" /></a></td>
</tr>
</tbody>
</table>
<!-- end required tag area --> <!-- Bottom White Stripe and Black Base --> 
<table style="width: 800px;" align="left" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td style="width: 800px;" align="left" bgcolor="#ffffff" height="10" valign="top" width="800"></td>
</tr>
<tr>
<td style="width: 800px;" align="left" bgcolor="#000000" height="20" valign="top" width="800"></td>
</tr>
</tbody>
</table>
<!-- end Stripe --></td>
</tr>
</tbody>
</table>
<!-- end Footer --></td>
</tr>
</tbody>
</table>
</body>
</html>