<div id="inner_banner_short" class="grid_12 alpha omega">
  <div id="banner1">
    <%= image_tag "banners/inner_banners/video_banner.png", :alt => "HealthCare Insight Videos " %>
  </div>
  <%= render :partial => "layouts/cta_bar" %>
</div>