log/developement.log
log/*.log
log/*.pid
db/schema.sql
.DS_Store
public/attachments/*
public/avatars/*
public/covers/*
public/case_studies/*
public/brochures/*
public/videos/*
public/video_thumbs/*
public/ticket_uploads/*
public/stylesheets/landing.css
config/development.sphinx.conf
db/sphinx/*
db/sphinx/development/*
.sqlite3