log/development.log
log/*.log
log/*.pid
db/schema.sql
.DS_Store
public/attachments/*
public/avatars/*
public/student_pics/*
public/covers/*
public/case_studies/*
public/brochures/*
public/videos/*
public/video_thumbs/*
public/ticket_uploads/*
public/landing_page_stylesheets/*
public/landing_page_images/*
public/ad_images/*
config/development.sphinx.conf
db/sphinx/*
db/sphinx/development/*
.sqlite3