<div class="executive_summit_banner">
  <h2 class="text_indent">What's Next? The future of health reform.'</h2>
  <div class="executive_banner_text_wrap">
    <h3>February 24, Salt Lake City, UT</h3>
    <p>
      Please join us at the Grand America in Salt Lake City, Utah, on February 24th to discuss these trends and consider the future of health care with or without a &quot;bill&quot;.  The briefing will be provided by former Secretary of Health and Human Services, Mike Leavitt, and members of the Leavitt Partners team.
    </p>
    <%= link_to "Download Full Program", "http://www2.hcinsight.com/l/1492/2010-01-26/GC2RJ/68261_Summit_Invitation.pdf" %>
    <%= image_tag("leavitt_partners.jpg", :alt => "Leavitt Partners", :class => "leavitt_partners") %>
  </div>
  <%= render :partial => 'free_trials/executive_summit_form' %>
</div>