<div class="big_banner fci_webinar_banner">
  <h2 class="text_indent">What's Next? The future of health reform.'</h2>
  <div class="executive_banner_text_wrap">
    <h3>March 15 MST</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
    <div class="banner_download_link">
      <%= link_to "Download Brochure", "http://www2.hcinsight.com/l/1492/2010-01-18/G9CNB/1492/66261/FacilityClaim_Insight__FCI__Brochure.pdf" %>
    </div>
  </div>
  <%= render :partial => 'free_trials/fci_webinar_form' %>
</div>