<div class="free_ipod_nano">
  <h2 class="text_indent">Register to win a free iPod Nano</h2>
  <div class="executive_banner_text_wrap">
    <h3>Register Today</h3>
    <p>
      We would like to invite you to attend our “Service Showcase” webinar to learn more about our new and innovative services. HCI’s SaaS solutions are prepayment services designed to cut costs and improve profit margins in this difficult economy. Let HCI’s medical coding and fraud detection experts show you how your company can make significant progress in preventing payment waste. 
    </p>
    <%= link_to "Download Product Brochure", "http://www2.hcinsight.com/l/1492/2010-01-18/G9CRR/66311_HealthCare_Insight__HCI__Service_Brochure.pdf" %>
    <%#= image_tag("leavitt_partners.jpg", :alt => "Leavitt Partners", :class => "leavitt_partners") %>
  </div>
  <%= render :partial => 'free_trials/free_ipod_form' %>
</div>