<div class="free_ipod_nano">
  <h2 class="text_indent">Register to win a free iPod Nano</h2>
  <div class="executive_banner_text_wrap text_indent">
    <h3> Download the Thought Paper</h3>
    <div class="sub_title">Learn how to:</div>
    <ul>
      <li>
        Improve SG&amp;A margins
      </li>
      <li>
        Boost the bottom line
      </li>
      <li>
        Quantify fraud exposure
      </li>
      <li>
        Fight fraud and abuse
      </li>
    </ul>
  </div>
  <%= render :partial => 'free_trials/free_ipod_form' %>
</div>