<div class="executive_summit_banner">
  <h2 class="text_indent">Join us for a free webinar.</h2>
  <div class="executive_banner_text_wrap">
    <h3>Nucleus Webinar</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <%= link_to "Download Product Brochure", "http://www2.hcinsight.com/l/1492/2010-01-18/G9CRR/66311_HealthCare_Insight__HCI__Service_Brochure.pdf" %>
    <%#= image_tag("leavitt_partners.jpg", :alt => "Leavitt Partners", :class => "leavitt_partners") %>
  </div>
  <%= render :partial => 'free_trials/executive_summit_form' %>
</div>