<% meta_keywords("healthcare insight free ipod nano")%>
<% meta_description("Healthcare Insight AHIP - Win a Free IPod Nano") %>
<% page_title("Win a Free iPod Nano") %>

<% content_for :banner do %>
  <%= render :partial => "free_trials/free_ipod_banner" %>
<% end %>
<div class="grid_12 alpha service_quote fci_quote">
  <p class="hidden_text">
    HCI customers using this service consistently realize facility claim savings of 15%-30%
    Darin Johnson, MBA
    HealthCare Insight
  </p>
</div>