<div class="big_banner ahip_thank_you">
  <h2 class="text_indent">Thank You</h2>
  <div class="big_banner_content_wrap ahip_thank_you_wrap">
    <p>
      We have received your registration and entered you in the 16GB iPod Nano drawing. Winner will be announced via email in 5 business days. HealthCare Insight (HCI) provides health care payors with a comprehensive suite of clinically validated fraud, abuse and overpayment prevention services.
    </p>
    <p>
      <%= link_to "Download Thought Paper", "http://www2.hcinsight.com/l/1492/2010-03-01/GI9BH/1492/72361/ThoughtPaper_CEO_up_at_Night_FINAL.pdf" %> 
    </p>
  </div>
      <%= link_to "", "http://www2.hcinsight.com/l/1492/2010-03-01/GI9BH/1492/72361/ThoughtPaper_CEO_up_at_Night_FINAL.pdf", :class => "big_banner_right_image_link" %> 
</div>

<% content_for :sub_boxes do %>
<h2 class="page_header thank_you_header full_wrap">Check out our other great resources.</h2>
  <%= render :partial => 'health_care/index_sub_boxes' %>
<% end %>