<% meta_keywords("healthcare insight free ipod nano")%>
<% meta_description("Healthcare Insight AHIP - Win a Free IPod Nano") %>
<% page_title("Win a Free iPod Nano") %>

<% content_for :banner do %>
  <%= render :partial => "free_trials/free_ipod_banner" %>
<% end %>

<div class="grid_12 alpha omega webinar_quote webinar_quote_fci">
  <cite>HCI is a tremendous partner and does and out standing job of securing our clients healthcare dollars against fraud and abuse.
    - Darin Johnson - MBA, HealthCare Insight</cite>
</div>