<% meta_keywords("healthcare insight webinar series, healthcare insight facilityclaim insight, facility fraud and abuse prevention")%>
<% meta_description("Healthcare Insight Webinar Series 2010 - FacilityClaim Insight") %>
<% page_title("Executive Summit ") %>

<% content_for :banner do %>
  <%= render :partial => "free_trials/fci_webinar_banner" %>
<% end %>
<div class="service_wrap">
  <div class="presenter_wrap">
      <h2 class="facilityclaim-insight_color">Featured Presenter</h2>
      <%= image_tag("http://stage.hcinsight.com/landing_page_images/email_images/email_darin.jpg", :alt => "Darin Johnson", :width => "60", :class => "left") %>
      <div class="presenter_creds">
      Darin Johnson - MBA<br/>
      VP Marketing<br/>
      HealthCare Insight<br/>
      </div>
  </div>
  <div class="index_service_wrap contact_location">
    <%= image_tag("http://stage.hcinsight.com/landing_page_images/fci_free_nano.png", :alt => "Register Now for a Free Nano")%>
  </div>
  <div class="index_service_wrap contact_location">
    <div id="pay_right_landing">
      <%= link_to(image_tag("pay_right_landing.png", :alt => "HealthCare Insight Pay Right Save Money"), "http://www.hcinsight.com", :target => "_blank")%>
    </div>
  </div>
</div>
<div class="grid_12 alpha omega webinar_quote webinar_quote_fci">
  <cite>HCI is a tremendous partner and does and out standing job of securing our clients healthcare dollars against fraud and abuse.
    - Darin Johnson - MBA, HealthCare Insight</cite>
</div>