<% meta_keywords("health care fraud webinar, health care fraud SaaS solution webinar")%>
<% meta_description("Healthcare Insight presents. A free webinar on payment integrity. Join us today.") %>
<% page_title("Free Webinar ") %>

<% content_for :banner do %>
  <%= render :partial => "free_trials/free_webinar_banner" %>
<% end %>
<div class="service_wrap">
  <div class="index_service_wrap contact_location">
    <h2 class="orange">Upcoming Webinars</h2>
    <p>
      FacilityClaim Insight<sup>&reg;</sup><br/>
      DentalClaim Insight<sup>&reg;</sup><br/>
      PhysicianClaim Insight<sup>&reg;</sup><br/>
    </p>
  </div>
  <div class="index_service_wrap contact_location">
    <%= image_tag("landing_pages/darin_speaker.png", :class => "left", :alt => "Darin Johnson - Speaker")%>
    <div class="featured_speaker_wrap">
      <h2 class="orange">Featured Speaker</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
      </p>
    </div>
  </div>
  <div class="index_service_wrap contact_location">
    <div id="pay_right_landing">
      <%= link_to(image_tag("pay_right_landing.png", :alt => "HealthCare Insight Pay Right Save Money"), "http://www.hcinsight.com", :target => "_blank")%>
    </div>
  </div>
</div>
<%= render :partial => "health_care/index_quote" %>