<div class="contact_thank_you">
  <h2 class="text_indent">Thank You</h2>
  <div class="webinar_thank_you_text_wrap">
    <p>
      Thank you for registering for the FacilityClaim Insight<sup>&reg;</sup> webinar. We know that the service will provide you with the tools needed to reduce the amount of overpayment and billing abuse in your organization.
    </p>
  </div>
   <%= render :partial => "layouts/cta_bar" %>
</div>