<div class="big_banner <%= campaign %>_thank_you">
  <h2 class="text_indent">Thank You</h2>
  <div class="big_banner_content_wrap ahip_thank_you_wrap">
    <p>
      We have received your registration, thank you. HealthCare Insight (HCI) provides health care payors with a comprehensive suite of clinically validated fraud, abuse and overpayment prevention services. Get our brochure to find out more.
    </p>
    <p>
      <%= link_to "Download A Service Brochure", "http://www2.hcinsight.com/l/1492/2010-01-18/G9CRR/1492/66311/HealthCare_Insight__HCI__Service_Brochure.pdf" %> 
    </p>
    <p class="signature">
      Thank you from,
      <%= image_tag('email_sig.png', :alt => "Thank you from your friends at HCI.") %>
    </p>
  </div>
      <%= link_to "", "http://www2.hcinsight.com/l/1492/2010-01-18/G9CRR/1492/66311/HealthCare_Insight__HCI__Service_Brochure.pdf", :class => "big_banner_right_image_link" %> 
</div>