<div class="big_banner ceo_up_banner">
  <h2 class="text_indent">Join us for a free webinar.</h2>
  <div class="landing_form_text_wrap hide_text">
    <h3>What's Keeping Your CEO Up At Night?</h3>
    <p>
      Our Complimentary Thought Paper. Learn how to improve SG&A margins, boost your bottom line, Quantify fraud exposure and fight fraud and abuse.
    </p>
  </div>
  <%= render :partial => 'landing_pages/landing_form' %>
</div>