<div class="big_banner cra_landing_banner">
  <h2 class="hide_text">Cost Reduction Analysis</h2>
  <div class="landing_form_text_wrap hide_text">
    <h3>Get a Free Trial and Data Analysis.</h3>
    <ul>
      <li>
        Detailed Ad-Hoc Reporting
      </li>
      <li>
        Appeals Support & Response
      </li>
      <li>
        Immediate Realization of ROI
      </li>
      <li>
        Solutions for all payor types
      </li>
    </ul>
  </div>
  <div class="landing_form_wrap">
    <%= render :partial => 'landing_pages/landing_form', :locals => {:button_text => button_text} %>
  </div>
</div>