<div class="big_banner cra_landing_banner">
  <h2 class="text_indent">Join us for a free webinar.</h2>
  <div class="landing_form_text_wrap">
    <h3>Get a Free Trial and Data Analysis.</h3>
    <p>
      Get a Free Trial and Data Analysis.
      Take the first step towards claims payment harmony. Just submit the form below to test drive Nucleus and get a no strings attached Cost Reduction Analysis (CRA) report.
    </p>
  </div>
  <%= render :partial => 'landing_pages/landing_form' %>
</div>