<a href="http://www.hcinsight.com/"><h1 id='hci_logo'>Health Care Insight</h1></a>
<a id="top_verisk_logo" href="http://www.veriskhealth.com">
  <img id="search_button" alt="Verisk Logo" src="http://stage.hcinsight.com/images/verisk_logo_top.png" />
</a>
<div id="top_link_wrap">
  <div id="top_links">
    <ul>
      <li class="first">
        <div id="search_box_wrap" class="content_wrap right">
          <form action="http://www2.hcinsight.com/s/1492/ecd49b6c89fda642946b7a6c5de4198c" method="get">
            <input id="search" name="search" type="text" />
            <input title="Search HealthCare Insight" type="submit" value="Search" class="search_btn_black" />
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>

<div id="main_nav" class="grid_12 alpha omega">
  <ul id="main_nav_ul" class="nav_ul">
    <li class="main_nav_li nav1 highlight"><a href="http://www.hcinsight.com/health-care" class="main_nav_a" id="home">Home</a></li>
    <li class="main_nav_li nav2 highlight"><a href="http://www.hcinsight.com/services" class="main_nav_a" id="services">Services</a></li>
    <li class="main_nav_li nav3 highlight"><a href="http://www.hcinsight.com/benefits" class="main_nav_a" id="benefits">Benefits</a></li>
    <li class="main_nav_li nav4 highlight"><a href="http://www.hcinsight.com/heatlhcare-insight-markets" class="main_nav_a" id="markets">Markets</a></li>
    <li class="main_nav_li nav5 highlight"><a href="http://www.hcinsight.com/health-care-resources" class="main_nav_a" id="resources">Resources</a></li>
    <li class="main_nav_li nav6 highlight"><a href="http://www.hcinsight.com/nucleus" class="main_nav_a" id="nucleus">Meet Nucleus</a></li>
    <li class="main_nav_li nav7 highlight"><a href="#" class="main_nav_a" id="free_trial">Free Trial</a></li>
    <li class="main_nav_li nav8 highlight"><a href="http://www.hcinsight.com/about-healthcare-insight" class="main_nav_a" id="about_us">About Us</a></li>
    <li class="main_nav_li nav9 highlight last"><a href="http://www.hcinsight.com/contact-healthcare-insight" class="main_nav_a" id="contact">Contact</a></li>
  </ul>
</div>