<div id="landing4" class="landing_sub_boxes">
  <div class="landing_sub_box">
    <h3><b>Free Data Analysis, Free Reports.</b></h3>
    <p>
      We know we can help you. Sign up for a free trial and we’ll let you test-drive the system, and quantify just how much you can save.
    </p>
    <div class="benefit_avatar_wrap bene1"></div>
  </div>
  <div class="landing_sub_box">
    <h3><b>Real-Time Processing, Fast Return.</b></h3>
    <p>
      You don’t have time for slow payments. That’s why our real-time application sends all clean claims back in minutes. No more delays.
    </p>
    <div class="benefit_avatar_wrap bene13"></div>
  </div>
  <div class="landing_sub_box">
    <h3><b>Dashboards, KPIs Drive Success.</b></h3>
    <p>
      Our customizable roles-based dashboards display KPIs, alerts and more. View savings, claims and other critical information real-time.
    </p>
    <div class="benefit_avatar_wrap bene6"></div>
  </div>
  <div class="landing_sub_box">
    <h3><b>Total Customization, Satisfaction.</b></h3>
    <p>
     No two payors are the same. Our solutions allow you to customize nearly every aspect. This gives you greater control and happiness.
    </p>
    <div class="benefit_avatar_wrap bene4"></div>
  </div>
</div>