<div id="footer_wrap" class="grid_12 alpha omega relative">
  
  <div id="social_links_wrap">
    <ul id="social_links">
      <li><a href="http://www.facebook.com/pages/Stop-Health-Care-Fraud/105583130933" id="facebook_link">Facebook</a></li>
      <li><a href="http://www.youtube.com/user/HCInsight" id="youtube_link">YouTube</a></li>
      <li><a href="http://www.linkedin.com/groups?gid=1426647" id="linkedin_link">LinkedIn</a></li>
      <li><a href="http://www.stophealthcarefraud.com" id="shcf_link">StopHealthCareFraud</a></li>
      <li><a href="http://twitter.com/StopHealthFraud" id="twitter_link">Twitter</a></li>
    </ul>
  </div>
  
  <div id="footer_links">
    <ul>
      <h4>Company</h4>
      <li><a href="http://www.hcinsight.com/about-healthcare-insight">About Us</a></li>
      <li><a href="http://www.hcinsight.com/healthcare-insight-careers">Careers</a></li>
      <li><a href="http://www.hcinsight.com/healthcare-insight-partners">Partners</a></li>
      <li><a href="http://www.hcinsight.com/healthcare-insight-accredidations">Accredidations</a></li>
    </ul>
    <ul>
      <h4>Learn More</h4>
      <li><a href="http://www.hcinsight.com/services">Services</a></li>
      <li><a href="http://www.hcinsight.com/health-care-resources">Resources</a></li>
      <li><a href="http://www.hcinsight.com/nucleus">Meet Nucleus</a></li>
      <li><a href="">Free Trial</a></li>
    </ul>
    <ul>
      <h4>Legal</h4>
      <li><a href="http://www.hcinsight.com/healthcare-insight-privacy-policy-and-disclaimers">Privacy Policy</a></li>
      <li><a href="http://www.hcinsight.com/healthcare-insight-privacy-policy-and-disclaimers">Disclaimers</a></li>
      <li><a href="http://www.hcinsight.com/healthcare-insight-privacy-policy-and-disclaimers">Copyrights</a></li>
      <li><a href="http://www.hcinsight.com/healthcare-insight-privacy-policy-and-disclaimers">Notices</a></li>
    </ul>
    <ul>
      <h4>Media</h4>
      <li><a href="http://www.hcinsight.com/healthcare-insight-social-media-links">Social Media</a></li>
      <li><a href="http://www.hcinsight.com/articles">News</a></li>
      <li><a href="http://www.hcinsight.com/health-care-resources">Videos</a></li>
      <li><a href="http://www.hcinsight.com/healthcare-insight-press-kit">Press Kit</a></li>
    </ul>
  </div>
  <div id="footer_logo" class="grid_12 alpha omega"></div>
  <div id="footer_stripe" class="grid_12 alpha omega"></div>
  <div id="footer_tags">
    <%= link_to(image_tag("verisk_footer_link.png", :alt => "Verisk Health"), "http://www.veriskhealth.com") %>
    <%= image_tag("pay_right_footer.png", :class => "pay_right_footer") %>
  </div>
</div>