<% content_for :title do %>
  Visit HealthCare Insight at AHIP Institute - Booth #701
<% end %>

<div class="big_banner ahip25_thank_you">
  <h2 class="text_indent">Thank You</h2>
  <div class="big_banner_content_wrap landing_form_text_wrap">
    <p>
    We have received your registration for our 10 for $10. Make sure to visit us at the AHIP Institute 2010, booth #701. HealthCare Insight (HCI) provides health care payors with a comprehensive suite of clinically validated fraud, abuse and overpayment prevention services.
    </p>
    <p class="signature">
      Thank you from,
      <%= image_tag('email_sig.png', :alt => "Thank you from your friends at HCI.") %>
    </p>
  </div>
</div>
<%= render :partial => 'landing_pages/landing_sub_boxes' %>