<div class="big_banner claim_saver_thank_you">
  <h2 class="text_indent">Thank You</h2>
  <div class="big_banner_content_wrap ahip_thank_you_wrap">
    <p>
      You will receive an email shortly to confirm your registration and provide the Web link and login information you’ll need to join us.
    </p>
        <p><%= link_to "Add to Calendar", "https://hcinsight.webex.com/hcinsight/j.php?ED=140449072&amp;UID=0&amp;ICS=MI&amp;LD=1&amp;RD=2&amp;ST=1&amp;SHA2=BMKOYOGVaQLJFeerfbH8omX48EMxuMC/kG981SJvvSc=&amp;RT=MiMxMQ%3D%3D"%> </p>
    <p>
      We hope you will enjoy this ClaimSaver webinar.
    </p>
    <p class="signature">
      Thank you from,
      <%= image_tag('email_sig.png', :alt => "Thank you from your friends at HCI.") %>
    </p>
  </div>
</div>

<% content_for :sub_boxes do %>
<h2 class="page_header thank_you_header full_wrap">Check out our other great resources.</h2>
  <%= render :partial => 'health_care/index_sub_boxes' %>
<% end %>