<% content_for :banner do %>
  <%= render :partial => "landing_pages/cra_landing_banner" %>
<% end %>
<% content_for :sub_boxes do %>
  <div id="landing4" class="landing_sub_boxes">
    <div class="landing_sub_box">
      <div class="solution_bene left">
        <h3><b>Pay Right. Save Money</b></h3>
        <p>Reduce expenditures up to $4 PMPM. Increase profits and payment accuracy.</p>
      </div>
    </div>
    <div class="landing_sub_box">
      <div class="solution_bene left">
        <h3><b>Get a Nurse. Get Results.</b></h3>
        <p>Our clinical validation process delivers less false positives and better results.</p>
      </div>
    </div>
    <div class="landing_sub_box">
      <div class="solution_bene left">
        <h3><b>Save Time. Go Prepayment.</b></h3>
        <p>Avoid &#8220;pay and chase&#8221; detection with prepayment analysis on 100% of claims.</p>
      </div>
    </div>
    <div class="landing_sub_box">
      <div class="solution_bene left">
        <h3><b>Total Customization. Totally You.</b></h3>
        <p>No two payors are alike. Customize your fraud solution down to the last bit and byte.</p>
      </div>
    </div>
  </div>
  <%= render :partial => "health_care/index_quote" %>
  <div class="physicianclaim-insight_service_top_stripe"></div>
  <div class="physicianclaim-insight_service_bottom_stripe">
    <div class="physicianclaim-insight_stripe_icon"></div>
  </div>
<% end %>
