<% content_for :title do %>
  Download HealthCare Insight Thought Paper | Preventing Dental Fraud
<% end %>

<div class="big_banner ahip25_thank_you">
  <h2 class="text_indent">Thank You</h2>
  <div class="big_banner_content_wrap landing_form_text_wrap">
    <p>
      Our Complimentary Thought Paper. Learn how to improve SG&A margins, boost your bottom line, Quantify fraud exposure and fight fraud and abuse.
    </p>
    <p class="signature">
      Thank you from,
      <%= image_tag('email_sig.png', :alt => "Thank you from your friends at HCI.") %>
    </p>
  </div>
  <%= link_to "", "http://www2.hcinsight.com/l/1492/2010-06-21/HGAXZ/1492/83761/ThoughtPaper_DentalFraud_FINAL.pdf", :class => "big_banner_right_image_link" %> 
</div>
<%= render :partial => 'landing_pages/landing_sub_boxes' %>