<div class="big_banner ahip0802_thank_you">
  <h2 class="text_indent">Thank You</h2>
  <div class="big_banner_content_wrap ahip_thank_you_wrap2">
    <p class="download_link">
      <%= link_to "Download The Article", "http://www2.hcinsight.com/l/1492/2010-07-30/HXSET/1492/87791/Issue_4_Unraveled.pdf" %> 
    </p>
    <p class="signature">
      Thank you from,
      <%= image_tag('email_sig.png', :alt => "Thank you from your friends at HCI.") %>
    </p>
  </div>
      <%= link_to "", "http://www2.hcinsight.com/l/1492/2010-07-30/HXSET/1492/87791/Issue_4_Unraveled.pdf", :class => "big_banner_right_image_link" %> 
</div>

<% content_for :sub_boxes do %>
<h2 class="page_header thank_you_header full_wrap">Check out our other great resources.</h2>
  <%= render :partial => 'health_care/index_sub_boxes' %>
<% end %>