<% page_title("Health Care Search ") %>

<% content_for :banner do %>
  <%= render :partial => 'search/banner' %>
<% end %>

<% @articles.each do |a| %>
<%= a.title %>
<% end %>

<div class="space_left">
  <%= link_to "Back", request.env["HTTP_REFERER"], :class => "btn"%>
</div>