<% if obj.third_party? %>
  <h4><%= link_to "#{obj.title}", obj.third_party_url, :target => "_blank" %></h4>
<% else %>
  <h4><%= link_to "#{obj.title}", article_path(obj) %></h4>
<% end %>
<p><%= (obj.created_at).to_s(:event_time) %></p>