<div id="inner_banner_short" class="grid_12 alpha omega">
  <div id="banner1">
    <%= image_tag "banners/inner_banners/ind_news_banner.jpg", :alt => "HealthCare Insight Private Sector Claims Surveillance Software" %>
  </div>
  <%= render :partial => "layouts/cta_bar" %>
</div>