<% page_title "Health Care Article "%>

<% content_for :banner do %>
  <%= render :partial => "articles/banner" %>
<% end %>

<!-- Render Helper Module Here -->
<%= render :partial => "articles/index_article", :locals => {:articles => @articles} %>
<div class="space_left">
  <%= link_to "Back", request.env["HTTP_REFERER"], :class => "btn"%>
</div>