<% page_title "Health Care Article "%>

<% content_for :banner do %>
  <%= render :partial => "articles/banner" %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'layouts/sub_boxes' %>
<% end %>

<!-- Render Helper Module Here -->
<% @articles.each do |article| %>
  <%= index_article(article) %>
<% end %>
<div>
  <%= link_to "Back", request.env["HTTP_REFERER"], :class => "btn"%>
</div>