<div id="inner_banner_short" class="grid_12 alpha omega">
  <div id="banner1">
    <%= image_tag "insight_university/banners/index_banner.png", :alt => "HealthCare Insight Client Education Program" %>
  </div>
  <%#= render :partial => "layouts/cta_bar" %>
</div>