<div class="article_wrap full_1020_wrap">
  <%= image_tag("insight_university/widescreen_splashes/dci_test.jpg", :class => "left") %>
  <div class="icourse_category_title">Tutorials / DentalClaim Insight</div>
  <h2 class="orange">New Coding Matrix. Learn how to spot new schemes.</h2>
  <div class="icourse_subtitle">Cindy Egan on March 22</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <div class="icourse_link">
      (<%= link_to "Continue", "#" %>)
    </div>
</div>