  <ul id="iu_index_list" class="side_20_wrap">
    <% iuresources.each do |iur| %>
    <li>
      <%= link_to image_tag(iur.uni_res_avatar.url(:thumb), :alt => iur.title), uni_resource_path(iur) %>
      <%= link_to "<h3>#{iur.title} Center</h3>", uni_resource_path(iur), :class => "index_center_header_link"%>
      <p><%= iur.description %></p>
    </li>
    <% end %>
    <li class="last">
      <%= link_to "More Fraud Resources", uni_resources_path, :class => "right"  %>
    </li>
  </ul>