html, body {
  position: relative;
  background: #000 url('../images/body_bg2.png') 50% 0 no-repeat;
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  color: #000;
  font-size: 85%;
  height: 100%;
}
/*********************************************/
/*****************HEADER**********************/
#hd {
/*  background: #000 url('../images/headerbgblack.png') repeat-x 0px 15px;*/
  position: relative;
  height: 111px;
}
/********************************/
/************HEADER*************/
#hci_logo {
  background: url('../images/HCI_Logo_black2.png') no-repeat;
}





