html, body {
  position: relative;
  background: #ddd url('../images/hci_bg.png') repeat-x;
  font-family: "Lucida Grande", Verdana, sans-serif;
  color: #333;
  font-size: 85%;
  height: 100%;
}
.serif {
  font-family: "Rockwell", Georgia, "Times New Roman", Times, serif;
}
.sans-serif {
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#wrapper {
  text-align: left;
}
a {
  color: #0000ff;
}
.hide_text {
  text-indent: -1000em;
}
.round {
  -webkit-border-radius: 3px; 
 	-moz-border-radius: 3px;
 	-opera-border-radius: 3px;
 	border-radius: 3px;
}
.round2 {
  -webkit-border-radius: 10px; 
 	-moz-border-radius: 10px;
 	-opera-border-radius: 10px;
 	border-radius: 10px;
}
.round_top {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.round_top2 {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.round_bottom {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
h1, h2, h3, h4, h5 {
  font-weight: bold;
  color: #000;
  font-family: "Rockwell", Georgia, "Times New Roman", Times, serif;
  margin-top: 5px;
}
.block_font_weight {
  font-size: 225%;
}
h1 {
  font-size: 235%;
}
h2 {
  /*font-size: 153.9%;*/
  font-size: 200.9%;
}
h3 {
  font-size: 160.5%;
}
h4 {
  font-size: 118%;
}
h5 {
  
}
h3 a, h4 a {
  font-size: 100%;
  color: #19c0ec;
  text-decoration: none;
}
h3 a:hover, h4 a:hover{
  color: #00467f; /* DK BLUE */
  text-decoration: underline;
}
p {
  margin: 5px 0px 0px;
}
/*img {
  margin: 0px 10px 10px 10px;
}*/
.content_wrap {
  margin: 10px 0px;
}
.full_wrap {
  margin: 10px 10px;
}
.relative {
  position: relative;
}
.small_text {
  font-size: 77%;
}
h2 a.small_text {
  font-size: 55%;
}
.clear {
  clear: both;
}
.clear_left {
  clear: left;
}
.clear_right {
  clear: right;
}
.right {
  float: right;
}
.left {
  float: left;
}
.space_left {
  margin-left: 10px;
}
.space_right {
  margin-right: 10px;
}
.padding_top {
  padding-top: 20px;
}
.inline {
  display: inline;
}
.top_space {
  margin-top: 10px;
}
.margin_top_5 {
  margin-top: 5px;
}
.margin_top_10 {
  margin-top: 10px;
}
.margin_top_20 {
  margin-top: 20px;
}
.important {
  color: red;
}
.lightblue {
  color: #19c0ec;
}
.background_lightblue {
  background: #19c0ec;
}
.blue {
  color: #00467F;
}
.background_blue {
  background: #00467F url('../images/sub_box_inner_blue.png') no-repeat;
}
.bluegrey {
  color: #88d1d0;
}
.background_bluegrey {
  background: #88d1d0;
}
.bluegreen {
  color: #60a785;
}
.background_bluegreen {
  background: #60a785;
}
.physicianclaim-insight_color {
  color: #06660b;
}
.facilityclaim-insight_color {
  color: #761318;
}
.dentalclaim-insight_color {
  color: #009dc0;
}
.oncologyclaim-insight_color {
  color: #b78311;
}
.pharmaclaim-insight_color {
  color: #00467f;
}
.green {
  color: #73da10;
/*  color: #7ed96c;*/
}
.background_green {
  background: #7eda10 url('../images/sub_box_inner_green.png') no-repeat;
/*  background: #7ed96c;*/
}
.bluepurple {
  color: #4e3491;
}
.background_bluepurple {
  background: #4e3491;
}
.purple {
  color: #4e3491;
 /* color: #4b479d;*/
}
.background_purple {
  background: #4e3491;
  /*background: #4b479d;*/
}
.maroon {
  color: #bc1f8c;
}
.background_maroon {
  background: #bc1f8c;
}
.background_black {
  background: #000000;
}
.orange {
  color: #ff7800;
}
.background_orange {
  background: #ff7800 url('../images/sub_box_inner_orange.png') no-repeat;
}
.white {
  color: #ffffff;
}
.black {
  color: #000;
}
.background_black {
  background: #000;
}
.bgwhite {
  background: #ffffff;
}
.red {
  color: #db0404;
}
.bgred {
  background: #db0404;
}
.dark_grey {
  /*background: #464646;*/
  background: #000000;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.margin_left_offset {
  margin-left: -10px;
}
.border_top {
  border-top: 1px solid #efefef;
}
.border_bottom {
  border-bottom: 1px solid #666;
}
.dotted_bottom {
  padding-bottom: 10px;
  border-bottom: 1px dotted #999999;
}
/***Firefox dotted line tweak***/
a {
  outline: none;
}
:focus {
  -moz-outline-style: none;
}
a:active {
  outline: none;
}

/******************************************/
/*******************ERRORS*****************/
#flash {
  position: absolute;
  text-align: center;
  color: #fff;
  left: 42%;
  padding: 20px;
  width: 250px;
  background: #db0404;
  font-size: 175%;
  z-index: 100;
}
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  position: absolute;
  top: -55px;
  left: 0%;
  width: 100%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 125%;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
/******JS Form Errors********/
input.error, textarea.error {
  border:2px solid #DB0404;
  margin:0px;
  padding:1px;
}
label.error {
  background:#FFFFFF none repeat scroll 0 0;
  color:#DB0404;
  font-size:85%;
  font-weight:bold;
  margin-left:35px;
  margin-top:3px;
  padding:0;
  position:absolute;
}
/*********************************************/
/*****************HEADER**********************/
#hd {
  position: relative;
  height: 90px;
}
/*******Navigation********/
#main_nav {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 40px;
  background: url('../images/nav_bg.png') repeat-x;
  /*border-top: 1px solid #f8f8f8;*/
}
ul.nav_ul {
  margin-left: 13px;
}
ul.nav_ul li {
  width: 100px;
  height: 40px;
  float: left;
  text-align: center;
  border-left: 1px solid #444444;
}
ul.nav_ul li.last {
  /*border-right: 1px solid #e1e1e1;*/
  border-right: 1px solid #444444;
}
ul.nav_ul li span.hover {
  position: relative;
  width: 100px;
  height: 40px;
  display: block;
}
.nav1 {
  background: url('../images/hci_silver_sprite.png') 0px -80px;
}
.nav1.highlight:hover, li.nav1 span.hover {
  background: url('../images/hci_silver_sprite.png') 0px -41px;
}
#main_nav ul li a#services.active {
  background: url('../images/hci_silver_sprite.png') 0px 0px;
}
.nav2 {
  background: url('../images/hci_silver_sprite.png') -100px -80px;
}
.nav2.highlight:hover, li.nav2 span.hover {
  background: url('../images/hci_silver_sprite.png') -100px -41px;
}
#main_nav ul li a#benefits.active {
  background: url('../images/hci_silver_sprite.png') -100px 0px;
}
.nav3 {
  background: url('../images/hci_silver_sprite.png') -200px -80px;
}
.nav3.highlight:hover, li.nav3 span.hover {
  background: url('../images/hci_silver_sprite.png') -200px -41px;
}
#main_nav ul li a#resources.active {
  background: url('../images/hci_silver_sprite.png') -200px 0px;
}
.nav4 {
  background: url('../images/hci_silver_sprite.png') -300px -80px;
}
.nav4.highlight:hover, li.nav4 span.hover {
  background: url('../images/hci_silver_sprite.png') -300px -41px;
}
#main_nav ul li a#news.active {
  background: url('../images/hci_silver_sprite.png') -300px 0px;
}
.nav5 {
  background: url('../images/hci_silver_sprite.png') -400px -80px;
}
.nav5.highlight:hover, li.nav5 span.hover {
  background: url('../images/hci_silver_sprite.png') -400px -41px;
}
#main_nav ul li a#about_us.active {
  background: url('../images/hci_silver_sprite.png') -400px 0px;
}
.nav6 {
  background: url('../images/hci_silver_sprite.png') -500px -80px;
}
.nav6.highlight:hover, li.nav6 span.hover {
  background: url('../images/hci_silver_sprite.png') -500px -41px;
}
#main_nav ul li a#contact.active {
  background: url('../images/hci_silver_sprite.png') -500px 0px;
}
.nav7 {
  background: url('../images/hci_silver_sprite.png') -600px -41px;
}
.nav7.highlight:hover, li.nav7 span.hover {
  background: url('../images/hci_silver_sprite.png') -600px -41px;
}
#main_nav ul li a#free_trial.active {
  background: url('../images/hci_silver_sprite.png') -600px 0px;
}
ul#main_nav_ul li a {
  color: #ababab;
  text-decoration: none;
  display: block;
  text-indent: -3000em;
  width: 100%;
  height: 100%;
}
ul#main_nav_ul li a.black {
  color: #000;
}
#admin_link {
  float: right;
}
.admin_nav, .employee_nav {
  background: #666 url('../images/healthcare_fraud_btn_black.png') bottom left repeat-x;
  position: relative;
  float: left;
}
ul#admin_nav_ul, ul#employee_nav_ul {
 margin-left: 13px; 
}
ul#admin_nav_ul li, ul#employee_nav_ul li{
  width: 100px;
  float: left;
  text-align: center;
  border-left: 1px solid #666;
}
ul#employee_nav_ul li.employee_welcome {
  background: #fff;
  font-size: 125%;
  padding: 3px 0px; 
  color: #222;
  width: 225px;
  border: none;
}
ul#admin_nav_ul li.last, ul#employee_nav_ul li{
  border-right: 1px solid #666;
}
ul#admin_nav_ul li a:hover, ul#employee_nav_ul li a:hover, ul#employee_nav_ul li.employee_logout a:hover {
  background: #67ab89;
}
ul#admin_nav_ul li a, ul#employee_nav_ul li a {
  float: left;
  color: #fff;
  padding: 5px 0px;
  width: 100px;
  text-decoration: none;
}
ul#employee_nav_ul li.employee_logout {
  float: right;
}
ul#admin_nav_ul li a, ul#employee_nav_ul li.employee_logout a {
  background: #d00;
}

/********************************/
/************HEADER*************/
#hci_logo {
  background: url('../images/HCI_logo_silver.png') no-repeat;
  display: block;
  float: left;
  text-indent: -1000em;
  width: 314px;
  height: 45px;
  margin-left: 8px;
  margin-top: 5px;
  outline: none;
}
/** top Link nav **/
#top_link_wrap {
  height: 50px;
  width: 250px;
  float: right;
  position: relative;
}
#top_links {
  position: absolute;
  bottom: 10px;
  right: 5px;
}
#top_links ul {
  position: relative;
  float: left;
}
#top_links ul li {
  position: relative;
  float: left;
  border-left: 1px solid #666;
}
#top_links ul li.first {
  border: none;
}
#top_links ul li a {
  color: #666;
  display: block;
  padding: 0px 5px;
  text-decoration: none;
  font-size: 85%;
}
#search_box_wrap {
  margin: 9px 18px 0px;
}
/********************************/
/************Banners*************/
#slider {
  height: 290px;
}
#banner {
  background: #fff;
}
.scroll {
  height: 290px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative; /* fix for IE to respect overflow */
  clear: left;
}
.scrollContainer {
  width: 960px;
  height: 290px;
}
.banner_nav {
  position: relative;
  /*background: #000;*/
  width: 100%;
  height: 25px;
  bottom: 25px;
  text-align: center;
}
.banner_nav .banner_nav_wrap{
  width: 165px;
  margin: 0 auto;
}
.banner_nav .banner_li {
  height: 16px;
  width: 16px;
  margin: 5px;
  padding:0;
  text-indent:-3000em;
  border: none;
}
.banner_nav .banner_li a {
  width: 16px;
  height:16px;
  background: url('../images/banner_discs.png') 0px -16px no-repeat;
  text-decoration: none;
  display: block;
}
.banner_nav .banner_li a.selected, .banner_nav .banner_li a:hover {
  width: 16px;
  height:16px;
  background: url('../images/banner_discs.png') 0px 0px no-repeat;
}
img.banner_scroll {
  float:left;
  margin-top: 5px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}
img.banner_scroll.l {
  position: relative;
  left: 0px;
}
img.banner_scroll.r {
  position: relative;
  right: 0px;
}
/****Inner Banners****/
.inner_banners {
  margin-top: 10px;
}
img.inner_banner {
  position: relative;
  bottom: 0px;
  left: 0px;
}
.services_inner_banner {
  background: url('../images/banners/inner_banners/physician_insight_banner.png') no-repeat;
}
.banner_side_box {
  background: #fff;
  min-height: 290px;
}

/*********************************************/
/*****************MAIN CONTENT****************/
#bd {
  background: #000;
}
#layout4main, .main_content {
  min-height: 300px;
  background: #fff;
}
#layout4main {
  min-height: 960px;
}
/** Index Page **/
.index_box {
  margin-top: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #ccc;
}
.index_box h2 {
  font-size: 180%;
  font-weight: bold;
}
.index_box p {
  padding: 0px 21px 10px 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.inner_index_box {
  position: relative;
  border-right: 1px solid #ccc;
  min-height: 200px;
}
.who_image {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 112px;
  height: 100px;
}
.box_1 {
  background: url('../images/hci_index_box_images.png') 0px 0px no-repeat;
}
.box_2 {
  background: url('../images/hci_index_box_images.png') 0px -100px no-repeat;
}
.box_3 {
  background: url('../images/hci_index_box_images.png') 0px -200px no-repeat;
}
.z_50 {
  z-index: 50;
}
ul.index_sector_links {
  width: 245px;
  border: 2px solid #000;
  margin: 10px 10px 0px;
}
ul.index_sector_links li {
  height: 57px;
}
ul.index_sector_links li a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -3000em;
}
ul.index_sector_links li h2 {
  margin: 0px;
}
.sector_link {
  background: #666;
}
.sector_link_header {
  text-indent: -1000em;
  background: url('../images/sector_links.png') 0px 0px no-repeat;
}
.sector_link_public {
  text-indent: -1000em;
  background: url('../images/sector_links.png') 0px -57px no-repeat;
}
.sector_link_public:hover {
  background: url('../images/sector_links.png') -245px -57px no-repeat;
}
.sector_link_private {
  text-indent: -1000em;
  background: url('../images/sector_links.png') 0px -114px no-repeat;
}
.sector_link_private:hover {
  background: url('../images/sector_links.png') -245px -114px no-repeat;
}
.sector_link_workers_comp {
  text-indent: -1000em;
  background: url('../images/sector_links.png') 0px -171px no-repeat;
}
.sector_link_workers_comp:hover {
  background: url('../images/sector_links.png') -245px -171px no-repeat;
}
.index_quote {
  text-indent: -3000em;
  background: url('../images/index_quote.png') no-repeat;
  height: 90px;
  margin: 15px 0px;
}
.circle_button {
  width: 40px;
  height: 40px;
  background: url('../images/check_button.png') no-repeat;
  margin: -5px -35px 0px 0px;
}
.index_service_wrap {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.index_service_wrap p {
  margin-left: -20px;
  text-align: right;
  width: 236px;
}
.service_header_h3 {
  font-family: Arial, "MS Trebuchet", sans-serif;
  text-align: right;
  width: 260px;
  height: 36px;
  margin-right: -82px;
  background: url('../images/service_headers_h3.jpg') -85px 5px no-repeat;
}
.index_service_links_wrap {
  margin: 10px 0px 0px 21px;
/*  text-align: left;*/
  float:left;
}
.cra_index_box {
  margin: 7px auto;
  width: 225px;
}
.index_service_link {
  font-family: Georgia, "Times New Roman", Times, serif;
  float:left;
  width: 130px;
  margin-right: 5px;
  padding: 2px 0px;
}
.inner_header {
  margin: 10px 0px 20px 0px;
}
.show_wrap {
  margin: 10px 0px 10px 0px;
}
.widget_links {
  text-align: right;
}
/***Show Pages***/
.service_mid_section {
  height: 315px;
}
.physicianclaim-insight_service_bg {
  background: transparent url('../images/service_mid_bg.jpg') left -1565px no-repeat;
}
.facilityclaim-insight_service_bg {
  background: transparent url('../images/service_mid_bg.jpg') left -1252px no-repeat;
}
.dentalclaim-insight_service_bg {
  background: transparent url('../images/service_mid_bg.jpg') left -940px no-repeat;
}
.oncologyclaim-insight_service_bg {
  background: transparent url('../images/service_mid_bg.jpg') left -626px no-repeat;
}
.pharmaclaim-insight_service_bg {
  background: transparent url('../images/service_mid_bg.jpg') left -313px no-repeat;
}
.visionclaim-insight_service_bg {
  background: transparent url('../images/service_mid_bg.jpg') left 0px no-repeat;
}
.overview_wrap {
  margin-bottom: 10px;
}
.overview_wrap h3 {
  margin-top: 10px;
}
.overview_wrap ul, .overview_wrap ol {
  margin: 5px;
}
.overview_wrap ul li {
  list-style-type: circle;
  margin: 10px;
}
.overview_wrap ol li {
  list-style-type: decimal;
  margin: 10px;
}
ul.service_bullets li {
  list-style: none;
  font-size: 135%;
  font-weight: bold;
  background: url('../images/small_check.png') no-repeat;
  padding: 0px 0px 0px 25px;
  margin: 5px 0px 0px 40px;
}
.thumb_wrap {
  width: 70px;
  margin-right: 10px;
  float: left;
}
.image_wrap {
  margin-right: 10px;
  float: left;
}
.image_wrap img {
  float: left;
}
.index_list {
  /*border: 1px solid #dedede;*/
}
.index_list h2 {
  margin-left: 10px;
  float:left;
}
.index_list h2 a {
  text-decoration: none;
}
.index_list h2 a:hover {
  text-decoration: underline;
}
.directory_header {
  position: relative;
}
.heading_adjacent_link {
  float: left;
  margin-top: 9px;
}
/*********************************************/
/******************TRIAL BUTTONS***************/
.banner_side_box {
}

.free_trial_button, .view_demo_button {
  background: url('../images/free_trial_buttons.png') 0px -135px no-repeat;
  display: block;
  width: 220px;
  height: 135px;
  text-indent: -3000em;
  margin-top: 10px;
}
.free_trial_button:hover{
  background: url('../images/free_trial_buttons.png') 0px 0px no-repeat;
}
.view_demo_button {
  background: url('../images/free_trial_buttons.png') -220px -135px no-repeat;
}
.view_demo_button:hover {
  background: url('../images/free_trial_buttons.png') -220px 0px no-repeat;
}

/*********************************************/
/******************SUBBOXES*******************/
#sub_boxes {
  text-align: left;
  background: #fff;
}
.sub_box3, .middle{
  width: 300px;
  margin: 10px;
  float: left;
  text-align: center;
}
.middle {
  margin-left: 0px;
  margin-right: 0px;
}
#sub_box1 {
  margin-left: 10px;
}
.sub_box {
  min-height: 125px;
}
.cover_flow_sub_box {
  width: 400px;
  height: 158px;
  margin-left: 10px;
  margin-top: 12px;
  float: left;
}
.inner_sub_box {
  margin-left: 10px;
  width: 200px;
  min-height: 200px;
}
.inner_sub_box p {
  position: relative;
  margin: 5px;
}
.sub_box_header {
  margin: 10px;
}
.sub_box_wrap {
  width: 200px;
  margin-left: 32px;
  float: left;
  display: inline;
}
.sub_box a.social_icon {
  display: block;
  text-indent: -1000em;
}
.sub_box p {
  color: #fff;
  width: 185px;
}
.go_link {
  margin-top: 10px;
  margin-right: 32px;
}
/*********************************************/
/******************VIDEOS*********************/
#home_player {
  width: 340px;
  height: 300px;
}
/*********************************************/
/******************FORMS**********************/
.form_section {
  margin-bottom: 20px;
}
input[type="select"] {
  width: 100px;
}
input#ticket_date_select {
  width: 85px;
}
/*********************************************/
/******************BUTTONS********************/
.btn {
  background: #666 url('../images/healthcare_fraud_btn_black.png') bottom left repeat-x;
  padding: 5px; 
  color: #fff;
  border: 1px solid #666; 
  text-decoration: none; 
  cursor: pointer; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  min-height: 18px;
  float: left;
}
.btn:hover {
  background: #67ab89;
}
.banner_buttons {
  color: #fff;
  padding: 5px;
  background: url('../images/orange_30.png') repeat-x;
  position: absolute;
  bottom: 66px;
  right: 230px;
  display: block;
}
.big_orange {
  font-size: 140%;
  font-weight:bold;
  height: 20px;
  text-align:center;
  text-decoration:none;
  width: 250px;
}
.big_orange:hover {
  background: url('../images/green_buttons.png') repeat-x;
}
.small_orange_buttons {
  margin: 0px auto;
  color:#FFFFFF;
  display:block;
  font-size:100%;
  font-weight:bold;
  height:14px;
  padding:3px;
  text-align:center;
  text-decoration:none;
  width:160px;
  background: url('../images/orange_20.png') repeat-x;
}
.small_orange_buttons:hover {
  background: url('../images/green_20.png') repeat-x;
}
.search_btn {
  text-indent: -1000em;
  width: 25px;
  height: 30px;
  background: url('../images/search_icon_black.png') no-repeat;
  border: none;
  cursor: pointer;
  font-size: 0px;
  display: inline-block;
}
.buttons_right {
  float: right;
  text-align: right;
  width: 200px;
}
.ticket_dashboard {
  margin-top: 15px;
}
/*********************************************/
/******************TICKETS*******************/
.ticket_list li {
  margin: 5px 0px;
}
.critical {
  color: red;
}
.urgent {
  color: #ff5500;
}
.high {
  color: #ffdd33;
}
.normal {
  color: #00b200;
}
.low {
  color: #19c0ec;
}
.lowest {
  color: #00467F;
}
.open {
  padding: 3px;
  background: #19c0ec;
  color: #fff;
}
.in_progress {
  padding: 3px;
  background: #ffff00;
  color: #000;
}
.delayed {
  padding: 3px;
  background: #4c7f99;
  color: #fff;
}
.complete {
  padding: 3px;
  background: #00b200;
  color: #fff;
}
.closed {
  padding: 3px;
  background: #0076b2;
  color: #fff;
}
/*********************************************/
/******************FOOTER********************/
#ft {
  background: #000;
}
#footer_wrap {
  min-height: 254px;
  background: url('../images/footer_ribbon.png') 0px 225px no-repeat;
}
#footer_links {
  margin: 10px;
/*  width: 54%;
  height: 50%;*/
  float: right;
}
#footer_links a, #employee_login a {
  color: #777;
  text-decoration: none;
}
#footer_links a:hover, #employee_login a:hover {
  color: #fff;
  text-decoration: underline;
}
#footer_links ul {
  float: left;
  width: 120px;
/*  margin: 0px 50px 0px 0px;*/
}
#footer_links li {
  list-style: disc;
}
#footer_links h4 {
  margin-left: -31px;
  margin-bottom: 5px;
  color: #fff;
}
#footer_logo {
  position: absolute;
  bottom: 45px;
  background: #000 url('../images/HCI_white_footer_logo.png') 10px 0px no-repeat;
  width: 100%;
  height: 40px;
}
ul#social_links {
  position: relative;
  float: right;
  height: 30px;
  margin-top: 10px;
}
ul#social_links li, ul#social_links li.top_nav_wide {
  display: block;
  float: left;
  width: 35px;
  text-align: center;
}
ul#social_links li.top_nav_wide {
  width: 100px;
}
ul#social_links li a {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  text-indent:-3000em;
  text-decoration: none;
  margin: 0px 5px;
  color: #e3e3e3;
}
ul#social_links li a.black {
  color: #000;
}
ul#social_links li a.white {
  color: white;
}
#facebook_link {
  background:  url('../images/social_icons/facebook.png') no-repeat;
}
#twitter_link {
  background:  url('../images/social_icons/twitter.png') no-repeat;
}
#youtube_link {
  background:  url('../images/social_icons/youtube.png') no-repeat;
}
#linkedin_link {
  background:  url('../images/social_icons/linked_in.png') no-repeat;
}
#footer_stripe {
  position: absolute;
  bottom: 30px;
  min-height: 7px;
  background: #fff;
}
#employee_login {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
ul.login {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  background: url('../images/login_keyhole.png');
}
ul.login a {
  display: block;
  text-indent: -3000em;
  width: 30px;
  height: 30px;
}
.video_holder {
  min-height: 200px;
}