html {
  background: #fff;
}
body {
  position: relative;
  background: #fff;
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  color: #000;
  font-size: 77%;
}
#wrapper {
  min-height: 1000px;
  text-align: left;
}
a {
  color: #0000ff;
}
.hide_text {
  text-indent: -1000em;
}
.round {
  -webkit-border-radius: 3px; 
 	-moz-border-radius: 3px;
 	-opera-border-radius: 3px;
 	border-radius: 3px;
}
.round2 {
  -webkit-border-radius: 10px; 
 	-moz-border-radius: 10px;
 	-opera-border-radius: 10px;
 	border-radius: 10px;
}
.round_top {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.round_top2 {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.round_bottom {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
h1, h2, h3, h4, h5 {
  font-weight: bold;
  color: #333333;
}
h1 {
  font-size: 235%;
}
h2 {
  /*font-size: 153.9%;*/
  font-size: 130.9%;
}
h3 {
  font-size: 118.5%;
}
h4 {
  font-size: 108%;
}
h5 {
  
}
h3 a {
  font-size: 100%;
  color: #333333;
  text-decoration: none;
}
h3 a:hover {
  color: #00467f; /* DK BLUE */
  text-decoration: underline;
}
p {
  margin: 5px 0px 0px;
}
/*img {
  margin: 0px 10px 10px 10px;
}*/
.content_wrap {
  margin: 10px 0px;
}
.full_wrap {
  margin: 10px 10px;
}
.relative {
  position: relative;
}
.small_text {
  font-size: 77%;
}
h2 a.small_text {
  font-size: 55%;
}
.clear {
  clear: both;
}
.clear_left {
  clear: left;
}
.clear_right {
  clear: right;
}
.right {
  float: right;
}
.left {
  float: left;
}
.space_left {
  margin-left: 10px;
}
.space_right {
  margin-right: 10px;
}
.padding_top {
  padding-top: 20px;
}
.inline {
  display: inline;
}
.top_space {
  margin-top: 10px;
}
.important {
  color: red;
}
.lightblue {
  color: #19c0ec;
}
.background_lightblue {
  background: #19c0ec;
}
.blue {
  color: #00467F;
}
.background_blue {
  background: #00467F;
}
.bluegrey {
  color: #88d1d0;
}
.background_bluegrey {
  background: #88d1d0;
}
.bluegreen {
  color: #60a785;
}
.background_bluegreen {
  background: #60a785;
}
.green {
  color: #73da10;
/*  color: #7ed96c;*/
}
.background_green {
  background: #7eda10;
/*  background: #7ed96c;*/
}
.bluepurple {
  color: #4e3491;
}
.background_bluepurple {
  background: #4e3491;
}
.purple {
  color: #4e3491;
 /* color: #4b479d;*/
}
.background_purple {
  background: #4e3491;
  /*background: #4b479d;*/
}
.maroon {
  color: #bc1f8c;
}
.background_maroon {
  background: #bc1f8c;
}
.background_black {
  background: #000000;
}
.orange {
  color: #E37F1C;
}
.background_orange {
  background: #E37F1C;
}
.white {
  color: #ffffff;
}
.black {
  color: #000;
}
.bgwhite {
  background: #ffffff;
}
.bgred {
  background: #db0404;
}
.dark_grey {
  /*background: #464646;*/
  background: #000000;
}
.center {
  text-align: center;
}
.margin_left_offset {
  margin-left: -10px;
}
.border_top {
  border-top: 1px solid #efefef;
}
.border_bottom {
  border-bottom: 1px solid #666;
}
.dotted_bottom {
  padding-bottom: 10px;
  border-bottom: 1px dotted #999999;
}
/***Firefox dotted line tweak***/
a {
  outline: none;
}
:focus {
  -moz-outline-style: none;
}
a:active {
  outline: none;
}

/******************************************/
/*******************ERRORS*****************/
#flash {
  position: absolute;
  text-align: center;
  color: #fff;
  left: 42%;
  padding: 20px;
  width: 250px;
  background: #db0404;
  font-size: 175%;
  z-index: 100;
}
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  position: absolute;
  top: -55px;
  left: 0%;
  width: 100%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 125%;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
/******JS Form Errors********/
input.error, textarea.error {
  border:2px solid #DB0404;
  margin:0px;
  padding:1px;
}
label.error {
  background:#FFFFFF none repeat scroll 0 0;
  color:#DB0404;
  font-size:85%;
  font-weight:bold;
  margin-left:35px;
  margin-top:3px;
  padding:0;
  position:absolute;
}
/*********************************************/
/*****************HEADER**********************/
#hd {
  background: #000 url('../images/headerbgblack.png') repeat-x 0px 14px;
  position: relative;
  height: 107px;
}
/*******Navigation********/
#main_nav {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 60px;
  background: url('../images/main_nav_bgblack.png') repeat-x;
  /*border-top: 1px solid #f8f8f8;*/
}
ul.nav_ul {
  margin-left: 10px;
  /*border-right: 1px solid #787878;*/
}
ul.nav_ul li {
  width: 100px;
  height: 60px;
  float: left;
  text-align: center;
  /*border-left: 1px solid #e1e1e1;*/
  border-left: 1px solid #444444;
}
ul.nav_ul li.last {
  /*border-right: 1px solid #e1e1e1;*/
  border-right: 1px solid #444444;
}
ul.nav_ul li span.hover {
  position: relative;
  width: 100px;
  height: 60px;
  display: block;
}
.nav1 {
  background: url('../images/main_nav_sprite_black.png') 0px -120px;
}
.nav1.highlight:hover, li.nav1 span.hover {
  background: url('../images/main_nav_sprite_black.png') 0px -61px;
}
#main_nav ul li a#home.active {
  background: url('../images/main_nav_sprite_black.png') 0px 0px;
}
.nav2 {
  background: url('../images/main_nav_sprite_black.png') -100px -120px;
}
.nav2.highlight:hover, li.nav2 span.hover {
  background: url('../images/main_nav_sprite_black.png') -100px -61px;
}
#main_nav ul li a#services.active {
  background: url('../images/main_nav_sprite_black.png') -100px 0px;
}
.nav3 {
  background: url('../images/main_nav_sprite_black.png') -200px -120px;
}
.nav3.highlight:hover, li.nav3 span.hover {
  background: url('../images/main_nav_sprite_black.png') -200px -61px;
}
#main_nav ul li a#free_trial.active {
  background: url('../images/main_nav_sprite_black.png') -200px 0px;
}
.nav4 {
  background: url('../images/main_nav_sprite_black.png') -300px -120px;
}
.nav4.highlight:hover, li.nav4 span.hover {
  background: url('../images/main_nav_sprite_black.png') -300px -61px;
}
#main_nav ul li a#resources.active {
  background: url('../images/main_nav_sprite_black.png') -300px 0px;
}
.nav5 {
  background: url('../images/main_nav_sprite_black.png') -400px -120px;
}
.nav5.highlight:hover, li.nav5 span.hover {
  background: url('../images/main_nav_sprite_black.png') -400px -61px;
}
#main_nav ul li a#press.active {
  background: url('../images/main_nav_sprite_black.png') -400px 0px;
}
.nav6 {
  background: url('../images/main_nav_sprite_black.png') -500px -120px;
}
.nav6.highlight:hover, li.nav6 span.hover {
  background: url('../images/main_nav_sprite_black.png') -500px -61px;
}
#main_nav ul li a#about_us.active {
  background: url('../images/main_nav_sprite_black.png') -500px 0px;
}
.nav7 {
  background: url('../images/main_nav_sprite_black.png') -600px -120px;
}
.nav7.highlight:hover, li.nav7 span.hover {
  background: url('../images/main_nav_sprite_black.png') -600px -61px;
}
#main_nav ul li a#contact_us.active {
  background: url('../images/main_nav_sprite_black.png') -600px 0px;
}
ul#main_nav_ul li a {
  color: #ababab;
  text-decoration: none;
  display: block;
  text-indent: -3000em;
  width: 100%;
  height: 100%;
}
ul#main_nav_ul li a.black {
  color: #000;
}
#admin_link {
  float: right;
}
.admin_nav {
  background: #666 url('../images/healthcare_fraud_btn_black.png') bottom left repeat-x;
  position: relative;
  float: left;
}
ul#admin_nav_ul {
 margin-left: 10px; 
}
ul#admin_nav_ul li{
  width: 100px;
  float: left;
  text-align: center;
  border-left: 1px solid #666;
}
ul#admin_nav_ul li.last{
  border-right: 1px solid #666;
}
ul#admin_nav_ul li:hover {
  background: #67ab89;
}
ul#admin_nav_ul li a {
  float: left;
  color: #fff;
  padding: 5px 0px;
  width: 100px;
  text-decoration: none;
}
/********************************/
/************HEADER*************/
#hci_logo {
  background: url('../images/HCI_Logo_black.png') no-repeat;
  display: block;
  float: left;
  text-indent: -1000em;
  width: 314px;
  height: 45px;
  margin-left: 8px;
  outline: none;
}
/** top Link nav **/
#top_link_wrap {
  height: 45px;
  width: 250px;
  float: right;
}
ul.login {
  width: 150px;
}
ul#top_links, ul.login  {
  position: relative;
  float: right;
  height: 30px;
  margin-right: 10px;
}
ul.login {
  float: right;
  height: 15px;
}
ul#top_links li, ul#top_links li.top_nav_wide {
  display: block;
  float: left;
  width: 35px;
  text-align: center;
}
ul#top_links li.top_nav_wide {
  width: 100px;
}
ul#top_links li a {
  display: block;
  width: 100px;
  height: 30px;
  text-decoration: none;
  color: #e3e3e3;
}
ul#top_links li a.black {
  color: #000;
}
ul#top_links li a.white {
  color: white;
}
ul#top_links a {
  display: block;
  float: left;
  text-indent:-3000em;
  width: 30px;
  height: 30px;
  margin: 0px 5px;
}
#facebook_link {
  background: #000 url('../images/social_icons/facebook.png') no-repeat;
}
#twitter_link {
  background: #000 url('../images/social_icons/twitter.png') no-repeat;
}
#youtube_link {
  background: #000 url('../images/social_icons/youtube.png') no-repeat;
}
#linkedin_link {
  background: #000 url('../images/social_icons/linked_in.png') no-repeat;
}
#search_box_wrap {
  margin: 18px 18px 0px;
}
/********************************/
/************Banners*************/
#slider {
  margin: 0 auto;
  height: 290px;
}
#banner {
  background: #fff;
}
.scroll {
  height: 290px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative; /* fix for IE to respect overflow */
  clear: left;
}
.scrollContainer {
  width: 960px;
  height: 290px;
}
.banner_nav {
  position: relative;
  /*background: #000;*/
  width: 100%;
  height: 25px;
  bottom: 25px;
  text-align: center;
}
.banner_nav .banner_nav_wrap{
  width: 165px;
  margin: 0 auto;
}
.banner_nav .banner_li {
  height: 16px;
  width: 16px;
  margin: 5px;
  padding:0;
  text-indent:-3000em;
  border: none;
}
.banner_nav .banner_li a {
  width: 16px;
  height:16px;
  background: url('../images/banner_discs.png') 0px -16px no-repeat;
  text-decoration: none;
  display: block;
}
.banner_nav .banner_li a.selected, .banner_nav .banner_li a:hover {
  width: 16px;
  height:16px;
  background: url('../images/banner_discs.png') 0px 0px no-repeat;
}
img.banner_scroll {
  float:left;
  margin-top: 5px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}
img.banner_scroll.l {
  position: relative;
  left: 0px;
}
img.banner_scroll.r {
  position: relative;
  right: 0px;
}
/****Inner Banners****/
.inner_banner {
  width: 960px;
  height: 165px;
}
.services_inner_banner {
  background: url('../images/banners/inner_banners/health_care_services_banner.png') no-repeat;
}
.banner_side_box {
  background: #fff;
  min-height: 290px;
}
/*********************************************/
/*****************MAIN CONTENT****************/
#bd {
  background: #000;
}
#layout4main, .main_content {
  min-height: 300px;
  background: #fff;
  padding: 10px 0px;
}
#layout4main {
  min-height: 960px;
}
.inner_header {
  margin: 10px 0px 20px 0px;
}
.show_wrap {
  margin: 10px 0px 10px 10px;
}
.widget_links {
  text-align: right;
}
/***Show Pages***/
.overview_wrap {
  margin-bottom: 10px;
}
.overview_wrap h3 {
  margin-top: 10px;
}
.overview_wrap ul, .overview_wrap ol {
  margin: 5px;
}
.overview_wrap ul li {
  list-style-type: circle;
  margin: 10px;
}
.overview_wrap ol li {
  list-style-type: decimal;
  margin: 10px;
}
.thumb_wrap {
  width: 70px;
  margin-right: 10px;
  float: left;
}
.index_list h2 {
  margin-left: 10px;
  float:left;
}
.index_list h2 a {
  text-decoration: none;
}
.index_list h2 a:hover {
  text-decoration: underline;
}
/*********************************************/
/******************ACCORDION******************/
/* hide container until all is ready */
.accordion {
/*  display: none;*/
}
/*Main Container*/
.container {
	width:100%;
	height: 300px;
	overflow: hidden;
}
.container ul{
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
}
.container li{
	display: inline;
	margin: 0px;
	padding:0px;
	background: #fff;
}
.contentInnerWrapper{
	text-align: justify;
	padding: 10px 10px 0 40px;
}
/* Handle*/
.handle{
	float: left;
	width: 30px;
	height: 400px;
}
#accordionHandle0 {
  background: #fff url('../images/haccordion_bars3.png') 0px 0px no-repeat;
}
#accordionHandle0:hover {
  background: #fff url('../images/haccordion_bars3.png') 0px -500px no-repeat;
}
#accordionHandle0.active {
  background: #fff url('../images/haccordion_bars3.png') 0px -3000px no-repeat;
}
#accordionHandle1 {
  background: #fff url('../images/haccordion_bars3.png') 0px -1000px no-repeat;
}
#accordionHandle1:hover {
  background: #fff url('../images/haccordion_bars3.png') 0px -1500px no-repeat;
}
#accordionHandle1.active {
  background: #fff url('../images/haccordion_bars3.png') 0px -3000px no-repeat;
}
#accordionHandle2 {
  background: #fff url('../images/haccordion_bars3.png') 0px -2000px no-repeat;
}
#accordionHandle2:hover {
  background: #fff url('../images/haccordion_bars3.png') 0px -2500px no-repeat;
}
#accordionHandle2.active {
  background: #fff url('../images/haccordion_bars3.png') 0px -3000px no-repeat;
}
.handleOver{
}
.handleSelected{
}
.active {
  background: #fff;
}

/*********************************************/
/******************SUBBOXES*******************/
#sub_boxes {
  color: #fff;
  /*background: #191819;*/
  background: #000;
  text-align: left;
}
#sub_box1 {
  margin-left: 10px;
}
.sub_box {
  min-height: 200px;
  margin-left: 10px;
}
.cover_flow_sub_box {
  margin-left: 10px;
  width: 440px;
  min-height: 200px;
}
.inner_sub_box {
  margin-left: 10px;
  width: 200px;
  min-height: 200px;
}
.inner_sub_box p {
  position: relative;
  margin: 5px;
}
.sub_box_header {
  margin: 10px;
}
.sub_box_wrap {
  width: 200px;
  margin-left: 32px;
  float: left;
  display: inline;
}
.sub_box a.social_icon {
  display: block;
  text-indent: -1000em;
}
.sub_box p {
  color: #fff;
  width: 185px;
}
.sub_box, .sub_box2 {
  min-height: 240px;
  float:left;
}
.go_link {
  margin-top: 10px;
  margin-right: 32px;
}
/*********************************************/
/******************VIDEOS*********************/
#home_player {
  width: 340px;
  height: 280px;
}
/*********************************************/
/******************FORMS**********************/
.form_section {
  margin-bottom: 20px;
}
input[type="select"] {
  width: 100px;
}
/*********************************************/
/******************BUTTONS********************/
.btn {
  background: #666 url('../images/healthcare_fraud_btn_black.png') bottom left repeat-x;
  padding: 5px; 
  color: #fff;
  border: 1px solid #666; 
  text-decoration: none; 
  cursor: pointer; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  min-height: 18px;
  float: left;
}
.btn:hover {
  background: #67ab89;
}
.search_btn {
  text-indent: -1000em;
  width: 25px;
  height: 30px;
  background: url('../images/search_icon_black.png') no-repeat;
  border: none;
  cursor: pointer;
  font-size: 0px;
  display: inline-block;
}
.buttons_right {
  float: right;
  text-align: right;
  width: 200px;
}
/*********************************************/
/******************FOOTER********************/
#ft {
  position: relative;
  float: left;
  /*background: #fff url('../images/banners/health_care_insight_banner2.png') no-repeat;*/
  background: #000;
  min-height: 220px;
}
#footer_logo {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #000 url('../images/hci_footer_logo.png') no-repeat;
  width: 350px;
  height: 60px;
}


.video_holder {
  min-height: 200px;
}