html, body {
  position: relative;
  background: #ddd url('../images/hci_bg.png') repeat-x;
  font-family: "Helvetica Neue", Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
  color: #333;
  font-size: 85%;
  height: 100%;
}
.serif {
  font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
}
.sans-serif {
  font-family: "Helvetica Neue", Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
}
#wrapper {
  text-align: left;
  overflow: hidden;
}
a {
  color: #0000ff;
}
.hide_text {
  text-indent: -1000em;
}
.round {
  -webkit-border-radius: 3px; 
 	-moz-border-radius: 3px;
 	-opera-border-radius: 3px;
 	border-radius: 3px;
}
.round2 {
  -webkit-border-radius: 10px; 
 	-moz-border-radius: 10px;
 	-opera-border-radius: 10px;
 	border-radius: 10px;
}
.round_top {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.round_top2 {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.round_bottom {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
h1, h2, h3, h4, h5 {
  color: #000;
  font-family: "Helvetica Neue", Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
  margin-top: 5px;
}
.block_font_weight {
  width: 520px;
  font-size: 195%;
}
h1 {
  font-size: 235%;
}
h2 {
  /*font-size: 153.9%;*/
  font-size: 200.9%;
}
h3 {
  font-size: 160.5%;
}
h4 {
  font-size: 118%;
}
h5 {
  
}
h3 a, h4 a {
  font-size: 100%;
  text-decoration: none;
}
h3 a:hover, h4 a:hover{
  color: #00467f; /* DK BLUE */
  text-decoration: underline;
}
p {
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  margin: 5px 0px 0px;
  line-height: 16.35px;
}
.content_wrap {
  margin: 10px 0px;
}
.full_wrap {
  margin: 10px 10px;
}
.divider {
  clear: both;
  border-top: 1px solid #cccccc;
  margin: 25px 10px;
}
.divider2 {
  clear: both;
  border-top: 1px solid #cccccc;
  margin: 10px 10px 0px;
}
.relative {
  position: relative;
}
.small_text {
  font-size: 77%;
}
h2 a.small_text {
  font-size: 55%;
}
.clear {
  clear: both;
}
.clear_left {
  clear: left;
}
.clear_right {
  clear: right;
}
.right {
  float: right;
}
.left {
  float: left;
}
.space_left {
  margin-left: 10px;
}
.space_right {
  margin-right: 10px;
}
.padding_top {
  padding-top: 20px;
}
.inline {
  display: inline;
}
.top_space {
  margin-top: 10px;
}
.important {
  color: red;
}
.text_indent {
  text-indent: -3000em;
}
.physicianclaim-insight_color {
  color: #004914;
}
/*.physicianclaim-insight_bg {
  display: block;
  background: #06660b;
}*/
.facilityclaim-insight_color {
  color: #6b0a10;
}
/*.facilityclaim-insight_bg {
  display: block;
  background: #761318;
}*/
.dentalclaim-insight_color {
  color: #007690;
}
/*.dentalclaim-insight_bg {
  display: block;
  background: #038b92;
}*/
.oncologyclaim-insight_color {
  color: #c9a83d;
}
/*.oncologyclaim-insight_bg {
  display: block;
  background: #b78311;
}*/
.pharmaclaim-insight_color {
  color: #002b54;
}
/*.pharmaclaim-insight_bg {
  display: block;
  background: #00467f;
}*/
.visionclaim-insight_color {
  color: #5a2149;
}
/*.visionclaim-insight_bg {
  display: block;
  background: #78496a;
}*/
.orange {
  color: #F15A29;
}

.white {
  color: #ffffff;
}
.black {
  color: #000;
}
.background_black {
  background: #000;
}
.bgwhite {
  background: #ffffff;
}
.red {
  color: #db0404;
}
.bgred {
  background: #db0404;
}
.dark_grey {
  /*background: #464646;*/
  background: #000000;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.margin_left_offset {
  margin-left: -10px;
}
.border_top {
  border-top: 1px solid #efefef;
}
.border_bottom {
  border-bottom: 1px solid #666;
}
.dotted_bottom {
  padding-bottom: 10px;
  border-bottom: 1px dotted #999999;
}
/***Firefox dotted line tweak***/
a {
  outline: none;
}
:focus {
  -moz-outline-style: none;
}
a:active {
  outline: none;
}

/******************************************/
/*******************ERRORS*****************/
#flash {
  position: absolute;
  text-align: center;
  color: #fff;
  left: 38%;
  padding: 20px;
  top: 5px;
  width: 385px;
  background: #06660b;
  font-size: 175%;
  z-index: 100;
}
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  position: absolute;
  top: -55px;
  left: 0%;
  width: 100%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 125%;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
/******JS Form Errors********/
input.error, textarea.error {
  border:2px solid #DB0404;
  margin:0px;
  padding:1px;
}
label.error {
  background:#FFFFFF none repeat scroll 0 0;
  color:#DB0404;
  font-size:85%;
  font-weight:bold;
  margin-left:35px;
  margin-top:3px;
  padding:0;
  position:absolute;
}
/*********************************************/
/*****************HEADER**********************/
#hd {
  position: relative;
  height: 90px;
  background: url('../images/hd_smoke.png') right top no-repeat;
}
/*******Navigation********/
#main_nav {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 40px;
  background: url('../images/nav_bg.png') repeat-x;
  /*border-top: 1px solid #f8f8f8;*/
}
ul.nav_ul {

}
ul.nav_ul li {
  width: 100px;
  height: 40px;
  float: left;
  text-align: center;
  border-left: 1px solid #444444;
}
ul.nav_ul li.last {
  /*border-right: 1px solid #e1e1e1;*/
  border-right: 1px solid #444444;
}
ul.nav_ul li span.hover {
  position: relative;
  width: 100px;
  height: 40px;
  display: block;
}
.nav1 {
  background: url('../images/hci_silver_sprite.png') 0px -80px;
}
.nav1.highlight:hover, li.nav1 span.hover {
  background: url('../images/hci_silver_sprite.png') 0px -41px;
}
#main_nav ul li a#services.active {
  background: url('../images/hci_silver_sprite.png') 0px 0px;
}
.nav2 {
  background: url('../images/hci_silver_sprite.png') -100px -80px;
}
.nav2.highlight:hover, li.nav2 span.hover {
  background: url('../images/hci_silver_sprite.png') -100px -41px;
}
#main_nav ul li a#benefits.active {
  background: url('../images/hci_silver_sprite.png') -100px 0px;
}
.nav3 {
  background: url('../images/hci_silver_sprite.png') -200px -80px;
}
.nav3.highlight:hover, li.nav3 span.hover {
  background: url('../images/hci_silver_sprite.png') -200px -41px;
}
#main_nav ul li a#resources.active {
  background: url('../images/hci_silver_sprite.png') -200px 0px;
}
.nav4 {
  background: url('../images/hci_silver_sprite.png') -300px -80px;
}
.nav4.highlight:hover, li.nav4 span.hover {
  background: url('../images/hci_silver_sprite.png') -300px -41px;
}
#main_nav ul li a#news.active {
  background: url('../images/hci_silver_sprite.png') -300px 0px;
}
.nav5 {
  background: url('../images/hci_silver_sprite.png') -400px -80px;
}
.nav5.highlight:hover, li.nav5 span.hover {
  background: url('../images/hci_silver_sprite.png') -400px -41px;
}
#main_nav ul li a#about_us.active {
  background: url('../images/hci_silver_sprite.png') -400px 0px;
}
.nav6 {
  background: url('../images/hci_silver_sprite.png') -500px -80px;
}
.nav6.highlight:hover, li.nav6 span.hover {
  background: url('../images/hci_silver_sprite.png') -500px -41px;
}
#main_nav ul li a#contact.active {
  background: url('../images/hci_silver_sprite.png') -500px 0px;
}
.nav7 {
  background: url('../images/hci_silver_sprite.png') -600px -80px;
}
.nav7.highlight:hover, li.nav7 span.hover {
  background: url('../images/hci_silver_sprite.png') -600px -40px;
}
#main_nav ul li a#free_trial.active {
  background: url('../images/hci_silver_sprite.png') -600px 0px;
}
ul#main_nav_ul li a {
  color: #ababab;
  text-decoration: none;
  display: block;
  text-indent: -3000em;
  width: 100%;
  height: 100%;
}
ul#main_nav_ul li a.black {
  color: #000;
}
#admin_link {
  float: right;
}
.admin_nav, .employee_nav {
  background: #666 url('../images/healthcare_fraud_btn_black.png') bottom left repeat-x;
  position: relative;
  float: left;
}
ul#admin_nav_ul, ul#employee_nav_ul {
 margin-left: 1px; 
}
ul#admin_nav_ul li, ul#employee_nav_ul li{
  width: 100px;
  float: left;
  text-align: center;
  border-left: 1px solid #666;
}
ul#employee_nav_ul li.employee_welcome {
  background: #fff;
  font-size: 125%;
  padding: 3px 0px; 
  color: #222;
  width: 225px;
  border: none;
}
ul#admin_nav_ul li.last, ul#employee_nav_ul li{
  border-right: 1px solid #666;
}
ul#admin_nav_ul li a:hover, ul#employee_nav_ul li a:hover, ul#employee_nav_ul li.employee_logout a:hover {
  background: #67ab89;
}
ul#admin_nav_ul li a, ul#employee_nav_ul li a {
  float: left;
  color: #fff;
  padding: 5px 0px;
  width: 100px;
  text-decoration: none;
}
ul#employee_nav_ul li.employee_logout {
  float: right;
}
ul#admin_nav_ul li a, ul#employee_nav_ul li.employee_logout a {
  background: #d00;
}
/*********************************************/
/******************TRIAL BUTTONS***************/
div.free_trial, div.view_demo {
  width: 220px;
  height: 135px;
  margin-top: 10px;
}
div.free_trial a {
  background: url('../images/free_trial_buttons.png') -220px -135px no-repeat;
}
div.view_demo a {
  background: url('../images/free_trial_buttons.png') 0px -135px no-repeat;
}
div.free_trial a, div.view_demo a {
  width: 220px;
  height: 135px;
  float: left;
  text-indent: -3000em;
}
/*div.view_demo a span, div.free_trial a span {
  display: block;
}*/
div.free_trial.highlight a:hover, div.free_trial span.big_button_hover{
  width: 220px;
  height: 135px;
  float: left;
  background: url('../images/free_trial_buttons.png') -220px 0px no-repeat;
}
div.view_demo.highlight a:hover, div.view_demo span.big_button_hover {
  background: url('../images/free_trial_buttons.png') 0px 0px no-repeat;
  width: 220px;
  height: 135px;
  float: left;
}
/*********************************************/
/*************ARROW TRIAL BUTTONS************/
#cta_bar {
  position: absolute;
  height: 30px;
  right: 0px;
  bottom: 35px;
}
.service_cta_bar {
  bottom: 25px;
}
.cta_button {
  position: relative;
  float: right;
  width: 165px;
  height: 30px;
/*  background: url('../images/banners/inner_banners/CTA_arrow_bar.png') repeat-x;*/
}
div.cta_free_trial {
  width: 195px;
  border-right: 1px solid #ddd;
}
.cta_button a {
  display: block;
  width: 165px;
  height: 30px;
  text-indent: -3000em;
}
div.cta_free_trial a {
  background: url('../images/banners/inner_banners/CTA_arrow_bar.png') 0px -180px no-repeat;
  width: 195px;
  height: 30px;
}
div.cta_free_trial.highlight a:hover, div.cta_free_trial span.small_cta_button  {
  background: url('../images/banners/inner_banners/CTA_arrow_bar.png') 0px -150px no-repeat;
  width: 195px;
  height: 30px;
  float: left;
}
div.cta_view_demo a {
  background: url('../images/banners/inner_banners/CTA_arrow_bar.png') -195px 30px;
}
div.cta_view_demo.highlight a:hover, div.cta_view_demo span.small_cta_button {
  background: url('../images/banners/inner_banners/CTA_arrow_bar.png') -195px 60px;
  width: 165px;
  height: 30px;
  float: left;
}
div.physicianclaim-insight_trial_button span.small_cta_button {
  background: url('../images/banners/inner_banners/CTA_arrow_bar.png') 0px -150px no-repeat;
}
div.physicianclaim-insight_demo_button span.small_cta_button {
  background: url('../images/banners/inner_banners/CTA_arrow_bar.png') -195px 60px;
}
div.dentalclaim-insight_trial_button span.small_cta_button {
  background: url('../images/banners/inner_banners/CTA_arrow_bar.png') 0px -120px no-repeat;
}
div.dentalclaim-insight_demo_button span.small_cta_button {
  background: url('../images/banners/inner_banners/CTA_arrow_bar.png') -195px 90px;
}
div.facilityclaim-insight_trial_button span.small_cta_button {
  background: url('../images/banners/inner_banners/CTA_arrow_bar.png') 0px -90px no-repeat;
}
div.facilityclaim-insight_demo_button span.small_cta_button {
  background: url('../images/banners/inner_banners/CTA_arrow_bar.png') -195px 120px;
}
div.pharmaclaim-insight_trial_button span.small_cta_button {
  background: url('../images/banners/inner_banners/CTA_arrow_bar.png') 0px -60px no-repeat;
}
div.pharmaclaim-insight_demo_button span.small_cta_button {
  background: url('../images/banners/inner_banners/CTA_arrow_bar.png') -195px 150px;
}
div.oncologyclaim-insight_trial_button span.small_cta_button {
  background: url('../images/banners/inner_banners/CTA_arrow_bar.png') 0px -30px no-repeat;
}
div.oncologyclaim-insight_demo_button span.small_cta_button {
  background: url('../images/banners/inner_banners/CTA_arrow_bar.png') -195px 180px;
}
div.visionclaim-insight_trial_button span.small_cta_button {
  background: url('../images/banners/inner_banners/CTA_arrow_bar.png') 0px 0px no-repeat;
}
div.visionclaim-insight_demo_button span.small_cta_button {
  background: url('../images/banners/inner_banners/CTA_arrow_bar.png') -195px 210px;
}

/********************************/
/************HEADER*************/
#hci_logo {
  background: url('../images/HCI_logo_silver2.png') no-repeat;
  display: block;
  float: left;
  text-indent: -1000em;
  width: 314px;
  height: 45px;
  margin-left: 8px;
  margin-top: 5px;
  outline: none;
}
/** top Link nav **/
#top_link_wrap {
  height: 57px;
  width: 250px;
  float: right;
  position: relative;
}
#top_links {
  position: absolute;
  bottom: 10px;
  right: 5px;
}
#top_links ul {
  position: relative;
  float: left;
}
#top_links ul li {
  position: relative;
  float: left;
  border-left: 1px solid #fff;
}
#top_links ul li.first {
  border: none;
}
#top_links ul li a {
  color: #fff;
  display: block;
  padding: 0px 5px;
  text-decoration: none;
  font-size: 85%;
}
#top_links ul li a:hover {
  color: #333;
}
#search_box_wrap {
  margin: 9px 18px 0px;
}
/********************************/
/************Banners*************/
#slider {
  height: 290px;
  position: relative;
}
#banner {
  background: #fff;
}
.scroll {
  height: 290px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative; /* fix for IE to respect overflow */
  clear: left;
}
.scrollContainer {
  width: 960px;
  height: 290px;
}
.banner_nav {
  position: relative;
  /*background: #000;*/
  width: 100%;
  height: 25px;
  bottom: 25px;
  text-align: center;
}
.banner_nav .banner_nav_wrap{
  width: 165px;
  margin: 0 auto;
}
.banner_nav .banner_li {
  height: 16px;
  width: 16px;
  margin: 5px;
  padding:0;
  text-indent:-3000em;
  border: none;
}
.banner_nav .banner_li a {
  width: 16px;
  height:16px;
  background: url('../images/banner_discs.png') 0px -16px no-repeat;
  text-decoration: none;
  display: block;
}
.banner_nav .banner_li a.selected, .banner_nav .banner_li a:hover {
  width: 16px;
  height:16px;
  background: url('../images/banner_discs.png') 0px 0px no-repeat;
}
img.banner_scroll {
  float:left;
  margin-top: 5px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}
img.banner_scroll.l {
  position: relative;
  left: 0px;
}
img.banner_scroll.r {
  position: relative;
  right: 0px;
}
/****Inner Banners****/
.inner_banners {
  position: relative;
}
img.inner_banner {
  position: relative;
  bottom: 0px;
  left: 0px;
}
.services_inner_banner {
  background: url('../images/banners/inner_banners/physician_insight_banner.png') no-repeat;
}
.banner_side_box {
  background: #fff;
  min-height: 290px;
}
.contact_banner {
  width: 940px;
  float: left;
  height: 500px;
  position: relative;
  background: url('../images/banners/inner_banners/contact_us_big.png') no-repeat;
}
.contact_banner_text_wrap {
  position: absolute;
  bottom: 60px;
  left: 60px;
  width: 300px;
  font-size: 130%;
}
.contact_form_wrap {
  float:left;
  width: 500px;
  position: absolute;
  bottom: 43px;
  right: 0px;
}
.contact_form_wrap div {
  width: 250px;
  float: left;
}
/*********************************************/
/*****************MAIN CONTENT****************/
#bd {
  background: #000;
}
#layout4main, .main_content {
  /*min-height: 300px;*/
  background: #fff;
  padding-bottom: 10px;
}
#layout4main {
  min-height: 960px;
}
/** Index Page **/
.index_box {
  margin-top: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #ccc;
}
.index_box h2 {
  font-size: 180%;
  font-weight: bold;
}
.index_box p {
  padding: 0px 10px 10px 0px;
}
.inner_index_box {
  position: relative;
  border-right: 1px solid #ccc;
  min-height: 200px;
}
.who_image {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 112px;
  height: 100px;
}
.box_1 {
  background: url('../images/hci_index_box_images.png') 0px 0px no-repeat;
}
.box_2 {
  background: url('../images/hci_index_box_images.png') 0px -100px no-repeat;
}
.box_3 {
  background: url('../images/hci_index_box_images.png') 0px -200px no-repeat;
}
.z_50 {
  z-index: 50;
}
ul.index_sector_links {
  width: 245px;
  border: 2px solid #000;
  margin: 10px 10px 0px;
}
ul.index_sector_links li {
  height: 57px;
}
ul.index_sector_links li a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -3000em;
}
ul.index_sector_links li h2 {
  margin: 0px;
}
.sector_link {
  background: #666;
}
.sector_link_header {
  text-indent: -1000em;
  background: url('../images/sector_links.png') 0px 0px no-repeat;
}
.sector_link_public {
  text-indent: -1000em;
  background: url('../images/sector_links.png') 0px -57px no-repeat;
}
.sector_link_public:hover {
  background: url('../images/sector_links.png') -245px -57px no-repeat;
}
.sector_link_private {
  text-indent: -1000em;
  background: url('../images/sector_links.png') 0px -114px no-repeat;
}
.sector_link_private:hover {
  background: url('../images/sector_links.png') -245px -114px no-repeat;
}
.sector_link_workers_comp {
  text-indent: -1000em;
  background: url('../images/sector_links.png') 0px -171px no-repeat;
}
.sector_link_workers_comp:hover {
  background: url('../images/sector_links.png') -245px -171px no-repeat;
}
.index_quote, .about_quote {
  text-indent: -3000em;
  background: url('../images/index_quote.png') no-repeat;
  height: 90px;
  margin: 15px 0px;
}
.circle_button {
  width: 40px;
  height: 40px;
  background: url('../images/check_button.png') no-repeat;
  margin: -5px -35px 0px 0px;
}
.service_wrap {
  margin: 10px;
  background: #efefef;
  float: left;
  background: #dedede url('../images/headers/benefit_headers/benefit_subboxes_bg.png') repeat-x;
  border-color:#CDCDCD #CDCDCD #EFEFEF #EFEFEF;
  border-style:solid;
  border-width:1px;
}
.index_steps {
  margin: 10px 0px 10px 20px;
}
.index_steps p {
  width: 390px;
}
.number_steps {
  margin: 35px 0px 0px 20px;
  font-weight: bold;
}
.big_number {
  width: 30px;
  font-family: Arial;
  font-weight: bold;
  font-size: 325%;
  margin: 0px 3px 0px 5px;
  color: #888;
}
.number_header {
  width: 115px;
  font-size: 145%;
}
.number_header_small {
  width: 110px;
}
.index_service_wrap {
  border-color:#EFEFEF #EFEFEF #CDCDCD #CDCDCD;
  border-style:solid;
  border-width:1px;
  float:left;
  padding:0 10px 10px;
  position:relative;
  text-align:center;
  width: 284px;
}
.index_service_wrap p {
  font-size:125%;
  margin: 0 auto;
}
.index_service_wrap a {
  font-size: 85%;
}
a.service_avatar {
  margin: 0px auto;
  position: relative;
  width: 100px;
  height: 110px;
  overflow: none;
  display: block;
  text-indent: -3000em;
}
a.physicianclaim-insight_index_wrap {
 background: url('../images/service_page_sprite.png') 0px 0px no-repeat; 
}
a.facilityclaim-insight_index_wrap {
 background: url('../images/service_page_sprite.png') 0px -110px no-repeat;
}
a.dentalclaim-insight_index_wrap {
 background: url('../images/service_page_sprite.png') 0px -220px no-repeat;
}
a.oncologyclaim-insight_index_wrap {
 background: url('../images/service_page_sprite.png') 0px -330px no-repeat; 
}
a.pharmaclaim-insight_index_wrap {
 background: url('../images/service_page_sprite.png') 0px -440px no-repeat;
}
a.visionclaim-insight_index_wrap {
 background: url('../images/service_page_sprite.png') 0px -550px no-repeat;
}
.physicianclaim-insight_index_text {
  width: 230px;
}
.facilityclaim-insight_index_text {
  width: 215px;
}
.dentalclaim-insight_index_text {
  width: 207px;
}
.oncologyclaim-insight_index_text {
  width: 245px;
}
.pharmaclaim-insight_index_text {
  width: 215px;
}
.visionclaim-insight_index_text {
  width: 200px;
}
.service_header {
  text-indent: -3000em;
  height: 70px;
  width: 255px;
  margin: 0px auto;
}
.physicianclaim-insight_service_header {
  background: url('../images/service_page_sprite.png') -100px -25px no-repeat;
}
.facilityclaim-insight_service_header {
  background: url('../images/service_page_sprite.png') -100px -135px no-repeat;
}
.dentalclaim-insight_service_header {
  background: url('../images/service_page_sprite.png') -100px -245px no-repeat;
}
.oncologyclaim-insight_service_header {
  background: url('../images/service_page_sprite.png') -100px -355px no-repeat;
}
.pharmaclaim-insight_service_header {
  background: url('../images/service_page_sprite.png') -100px -465px no-repeat;
}
.visionclaim-insight_service_header {
  background: url('../images/service_page_sprite.png') -100px -575px no-repeat;
}
.index_service_links_wrap {
  margin: 10px 0px 0px 21px;
/*  text-align: left;*/
  float:left;
}
.cra_index_box {
  margin: 7px auto;
  width: 225px;
}
.index_service_link {
  float:left;
  width: 134px;
  margin-right: 5px;
  padding: 2px 0px;
}
.inner_header {
  margin: 10px 0px 20px 0px;
}
.show_wrap {
  margin: 10px 0px -20px 0px;
}
.widget_links {
  text-align: right;
}
/***Show Pages***/
.service_mid_section {
  height: 300px;
}
.physicianclaim-insight_service_bg {
  background: transparent url('../images/service_mid_bg.jpg') left -1565px no-repeat;
}
.facilityclaim-insight_service_bg {
  background: transparent url('../images/service_mid_bg.jpg') left -1252px no-repeat;
}
.dentalclaim-insight_service_bg {
  background: transparent url('../images/service_mid_bg.jpg') left -940px no-repeat;
}
.oncologyclaim-insight_service_bg {
  background: transparent url('../images/service_mid_bg.jpg') left -626px no-repeat;
}
.pharmaclaim-insight_service_bg {
  background: transparent url('../images/service_mid_bg.jpg') left -313px no-repeat;
}
.visionclaim-insight_service_bg {
  background: transparent url('../images/service_mid_bg.jpg') left 0px no-repeat;
}
.overview_wrap {
  margin-bottom: 10px;
}
.overview_wrap h3 {
  margin-top: 10px;
}
.overview_wrap ul, .overview_wrap ol {
  margin: 15px 0px 0px 5px;
}
.overview_wrap ul li {
  list-style-type: circle;
  margin: 10px;
}
.overview_wrap ol li {
  list-style-type: decimal;
  margin: 10px;
}
ul.service_bullets li {
  list-style: none;
  font-size: 135%;
  font-weight: bold;
  background: url('../images/small_check.png') no-repeat;
  padding: 0px 0px 0px 25px;
  margin: 5px 0px 0px 40px;
}
.show_service_para {
  font-size:111%;
  width:495px;
}
.thumb_wrap {
  width: 70px;
  margin-right: 10px;
  float: left;
}
.image_wrap {
  margin-right: 10px;
  float: left;
}
.image_wrap img {
  float: left;
}
.index_list {
  /*border: 1px solid #dedede;*/
}
.index_list h2 {
  margin-left: 10px;
  float:left;
}
.index_list h2 a {
  text-decoration: none;
}
.index_list h2 a:hover {
  text-decoration: underline;
}
.directory_header {
  position: relative;
}
.heading_adjacent_link {
  float: left;
  margin-top: 9px;
}
.pro_sol_boxes {
  position: relative;
  float: left;
/*  margin-bottom: 20px;*/
  height: 340px;
}
.pro_sol_boxes h2 {
  width: 325px;
  height: 55px;
  margin: 10px 0px 10px 10px;
  text-indent: -3000em;
}
.problem_box {
  background: #dedede url('../images/headers/benefit_headers/benefit_subboxes_bg.png') repeat-x;
  width: 385px;
  border: 1px solid #dedede;
}
.problem_box h2 {
  background: url('../images/pro_sol_wide.png') 0px 0px no-repeat;
}
.problem_box p {
  position: relative;
  margin-left: 15px;
  width: 250px;
}
.graph_box {
  bottom: 20px;
  height:185px;
  position:absolute;
  right: 10px;
  width:360px;
}
.physicianclaim-insight_problem_box_bg {
  background: url('../images/graphs.png') right bottom no-repeat;
}
.facilityclaim-insight_problem_box_bg {
  background: url('../images/graphs.png') right -758px no-repeat;
}
.dentalclaim-insight_problem_box_bg {
  background: url('../images/graphs.png') right -570px no-repeat;
}
.oncologyclaim-insight_problem_box_bg {
  background: url('../images/graphs.png') right -382px no-repeat;
}
.pharmaclaim-insight_problem_box_bg {
  background: url('../images/graphs.png') right -195px no-repeat;
}
.visionclaim-insight_problem_box_bg {
  background: url('../images/graphs.png') right -7px no-repeat;
}
.solution_box {
  width: 530px;
  border: 1px solid #dedede;
}
.solution_box h2 {
  background: url('../images/pro_sol_wide.png') 0px -55px no-repeat;
}
.solution_box p {
  position: relative;
  margin-left: 15px;
  width: 500px;
}
.solution_bene {
  width: 240px;
  padding: 10px 0 0 25px;;
}
.solution_bene h3 {
  font-size: 130%;
}
.solution_bene p {
  margin: 0px;
  width: 225px;
}
.sol_corner_graphic {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 300px;
  height: 225px;
}
.physicianclaim-insight_sol_box_bg {
  background: url('../images/sol_box_bg.png') right -1710px no-repeat;
}
.facilityclaim-insight_sol_box_bg {
  background: url('../images/sol_box_bg.png') right -1367px no-repeat;
}
.dentalclaim-insight_sol_box_bg {
  background: url('../images/sol_box_bg.png') right -1025px no-repeat;
}
.oncologyclaim-insight_sol_box_bg {
  background: url('../images/sol_box_bg.png') right -687px no-repeat;
}
.pharmaclaim-insight_sol_box_bg {
  background: url('../images/sol_box_bg.png') right -343px no-repeat;
}
.visionclaim-insight_sol_box_bg {
  background: url('../images/sol_box_bg.png') right 0px no-repeat;
}
.physicianclaim-insight_stripe_icon {
  width: 250px;
  height: 50px;
  float: right;
  background: url('../images/service_stripe_icons.png') 0px 0px no-repeat;
  margin-right: 10px;
}
.physicianclaim-insight_service_top_stripe {
  float: left;
  height: 10px;
  background: #00853f;
  width: 919px;
}
.physicianclaim-insight_service_bottom_stripe {
  float: left;
  height: 50px;
  background: #004914;
  width: 919px;
}
.facilityclaim-insight_stripe_icon {
  width: 250px;
  height: 50px;
  float: right;
  background: url('../images/service_stripe_icons.png') 0px -100px no-repeat;
  margin-right: 10px;
}
.facilityclaim-insight_service_top_stripe {
  float: left;
  height: 10px;
  background: #98002e;
  width: 919px;
}
.facilityclaim-insight_service_bottom_stripe {
  float: left;
  height: 50px;
  background: #6b0a10;
  width: 919px;
}
.dentalclaim-insight_stripe_icon {
  width: 250px;
  height: 50px;
  float: right;
  background: url('../images/service_stripe_icons.png') 0px -50px no-repeat;
  margin-right: 10px;
}
.dentalclaim-insight_service_top_stripe {
  float: left;
  height: 10px;
  background: #009fc2;
  width: 919px;
}
.dentalclaim-insight_service_bottom_stripe {
  float: left;
  height: 50px;
  background: #007690;
  width: 919px;
}
.oncologyclaim-insight_stripe_icon {
  width: 250px;
  height: 50px;
  float: right;
  background: url('../images/service_stripe_icons.png') 0px -150px no-repeat;
  margin-right: 10px;
}
.oncologyclaim-insight_service_top_stripe {
  float: left;
  height: 10px;
  background: #e5b53a;
  width: 919px;
}
.oncologyclaim-insight_service_bottom_stripe {
  float: left;
  height: 50px;
  background: #c9a83d;
  width: 919px;
}
.pharmaclaim-insight_stripe_icon {
  width: 250px;
  height: 50px;
  float: right;
  background: url('../images/service_stripe_icons.png') 0px -200px no-repeat;
  margin-right: 10px;
}
.pharmaclaim-insight_service_top_stripe {
  float: left;
  height: 10px;
  background: #00467f;
  width: 919px;
}
.pharmaclaim-insight_service_bottom_stripe {
  float: left;
  height: 50px;
  background: #002b54;
  width: 919px;
}
.visionclaim-insight_stripe_icon {
  width: 250px;
  height: 50px;
  float: right;
  background: url('../images/service_stripe_icons.png') 0px -250px no-repeat;
  margin-right: 10px;
}
.visionclaim-insight_service_top_stripe {
  float: left;
  height: 10px;
  background: #78496a;
  width: 919px;
}
.visionclaim-insight_service_bottom_stripe {
  float: left;
  height: 50px;
  background: #5a2149;
  width: 919px;
}
div.half p {
  margin: 5px 50px 30px 0px;
}
.about_profile_wrap {
  width: 460px;
  float: left;
  padding: 10px 0px;
  margin: 5px 0px 20px;
  
}
.about_profile_wrap img {
  float: left;
  margin: 0px 10px 10px 0px;
}
.about_profile_wrap h4 {
  margin: 0px;
}
.profile {
  float: right;
  width: 340px;
}
div.profile p {
  margin-bottom: 0px;
}
#milestones {
  position: relative;
  background: #dedede url('../images/milestones_bg.png') repeat-y;
  width: 450px;
  min-height: 50px;
}
#milestones div.left {
  position: relative;
  float: left;
  width: 100%;
}
div.left div.milestone_inner_wrap {
  margin-top: 30px;
  margin-right: 20px;
  width: 280px;
  height: 85px;
  border-top: 1px solid #cccccc;
  float: right;
}
#milestones div.left img {
  margin: 10px 10px 10px 20px;
  float: left;
}
#milestones div.left .year {
  font-size: 200%;
  width: 45px;
  margin: 5px;
  float: left;
}
#milestones div.left .event {
  width: 190px;
  padding-left: 10px;
  margin: 5px 0px 0px 5px;
  float: right;
}
#milestones div.right img {
  margin: 10px 20px 10px 10px;
  float: right;
}
div.right div.milestone_inner_wrap {
  margin-top: 30px;
  margin-right: 20px;
  width: 280px;
  height: 85px;
  border-top: 1px solid #cccccc;
  float: left;
}
#milestones div.right .year {
  font-size: 200%;
  width: 45px;
  margin: 5px;
  float: right;
}
#milestones div.right .event {
  width: 190px;
  padding-left: 10px;
  margin: 5px 5px 0px 0px;
  float: left;
}
.contact_sidebar {
  background: #dedede;
  position: relative;
  padding: 10px 0px;
  width: 290px;
}
.letter_box {
  float:left;
  height:20px;
  margin:2px 0;
  width:20px;
}
.contact_block_wrap {
  float: left;
}
.contact_info_block {
  float:left;
  width: 250px;
}
.contact_sidebar h3, .contact_sidebar span {
  left:10px;
  margin:0;
  position:relative;
  width:260px;
}
.contact_phone_header {
  background: url('../images/contact_letter_boxes.png') no-repeat;
}
.contact_location {
  text-align: center;
}
.contact_location h2 {
  margin: 5px 0px;
}
.contact_location p {
  font-size: 100%;
}
/******About Us Page********/
.about_us_box_image_wrap {
  margin-top: 10px;
}
.about_us_box_header {
  width: 175px;
  padding-left: 35px;
  background: url('../images/about_us_boxes_header_bg.png') no-repeat;
}
.about_quote {
  background: url('../images/about_quote.png') no-repeat;
}
/******Benefits Page********/
.benefits_content {
  position:relative;
  margin-top: 20px;
}
.benefit_grid {
  text-align: center;
}
.inner_benefit_grid {
  width: 880px;
  margin: 0px auto;
  background: #cdcdcd
}
.benefit_grid_box {
  width: 439px;
  float: left;
  height: 180px;
  margin: 0px 1px 1px 0px;
  background: #fff;
}
div.last_bene_row {
  margin-bottom: 0px;
}
div.right_side_box {
  width: 440px;
  margin-right: 0px;
}
.benefit_content_wrap {
  width: 280px;
  margin-top: 50px;
  padding-left: 30px;
  text-align: left;
}
div.bene_odd_row .benefit_content_wrap {
  float: left;
  padding-left: 0px;
}
.benefit_content_wrap h3 {
  font-size: 155%;
}
.benefit_content_wrap p {
  font-size: 110%;
}
.benefit_avatar_wrap, .quote_brochure a, .quote_brochure {
  float: left;
  width: 130px;
  height: 120px;
  margin-top: 40px;
}
div.bene_even_row .benefit_avatar_wrap {
  float: right;
  margin-right: 10px;
}
.bene1 {
  background: url('../images/benefit_grid_images.jpg') 0px 0px no-repeat;
}
.bene2 {
  background: url('../images/benefit_grid_images.jpg') 0px -120px no-repeat;
}
.bene3 {
  background: url('../images/benefit_grid_images.jpg') 0px -240px no-repeat;
}
.bene4 {
  background: url('../images/benefit_grid_images.jpg') 0px -360px no-repeat;
}
.bene5 {
  background: url('../images/benefit_grid_images.jpg') 0px -480px no-repeat;
}
.bene6 {
  background: url('../images/benefit_grid_images.jpg') 0px -600px no-repeat;
}
.bene7 {
  background: url('../images/benefit_grid_images.jpg') 0px -720px no-repeat;
}
.bene8 {
  background: url('../images/benefit_grid_images.jpg') 0px -840px no-repeat;
}
.bene9 {
  background: url('../images/benefit_grid_images.jpg') 0px -1680px no-repeat;
}
.bene10 {
  background: url('../images/benefit_grid_images.jpg') 0px -1800px no-repeat;
}
.bene11 {
  background: url('../images/benefit_grid_images.jpg') 0px -1920px no-repeat;
}
p.benefits_sub_text {
  position: relative;
  margin-top: 47px;
  left: 52px;
  font-weight: bold;
  font-size: 185%;
}
p.works {
  left: 42px;
}
.benefit_works_section {
  position: relative;
  width: 920px;
  margin: 0px 10px 10px;
  background: #dedede url('../images/headers/benefit_headers/benefit_subboxes_bg.png') repeat-x;
  border: 1px solid #cdcdcd;
  float: left;
}
.benefit_work_box {
  position: relative;
  float:left;
  margin: 0px;
  padding: 0px 10px;
  width:208px;
  text-align: center;
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #efefef;
}
.benefit_work_box.first {
  border-left: 1px solid #efefef;
}
.benefit_work_box ul {
  text-align: right;
  float: left;
  width: 210px;
  text-align: center;
  margin-top: 10px;
}
.benefit_work_box ul li {
  font-color: #aaaaaa;
  font-size: 110%;
}
.benefit_work_box h3 {
  width: 210px;
  height: 60px;
}
.benefit_work_box h3 span {
  font-weight: bold;
  font-size: 145%;
  display: block;
}
.benefit_work_box h3.robust_data {
  background: url('../images/headers/benefit_headers/benefit_headers.png') 30px -180px no-repeat;
}
.benefit_work_box h3.advanced_technology {
  background: url('../images/headers/benefit_headers/benefit_headers.png') 30px -120px no-repeat;
}
.benefit_work_box h3.clinical_review {
  background: url('../images/headers/benefit_headers/benefit_headers.png') 30px -60px no-repeat;
}
.benefit_work_box h3.complete_service {
  background: url('../images/headers/benefit_headers/benefit_headers.png') 30px 0px no-repeat;
}
.benefit_icons {
  height:95px;
  position:relative;
  width:90px;
  margin: 10px auto 0px;
}
.robust_icon {
  background: url('../images/headers/benefit_headers/benefit_icons.png') -25px 0px no-repeat;
}
.advanced_icon {
  background: url('../images/headers/benefit_headers/benefit_icons.png') -280px 0px no-repeat;
}
.clinical_icon {
  background: url('../images/headers/benefit_headers/benefit_icons.png') -150px 0px no-repeat;
}
.complete_icon {
  background: url('../images/headers/benefit_headers/benefit_icons.png') -410px 0px no-repeat;
}
/********Resources Page**********/
.resource_section {
  position:relative;
  float:left;
  padding: 0px 10px;
  width:900px;
}
.resource_brochure {
  position: relative;
  float: left;
  width: 200px;
  padding: 10px;
}
.resource_brochure img {
  border: 1px solid #dedede;
  padding: 5px;
  margin-right: 5px;
}
.resource_brochure h4 {
  float: left;
  width: 200px;
}
.resource_brochure p {
  float: left;
  width: 200px;
}
.resource_video_section {
  text-align: center;
}
.resource_video_header {
  margin: 0px auto;
  width: 880px;
  text-align: left;
}
.resource_video_wrapper {
  margin: 0px auto;
  overflow: hidden;
}
.resource_video_wrapper embed {
  margin-top: -40px;
}
.resource_article {
  position: relative;
  float: left;
  width: 280px;
  padding: 10px;
  height: 75px;
}
.resource_article img {
  width: 50px;
  height: 50px;
  float: left;
  margin-top: 10px;
  margin-right: 5px;
  border: 1px solid #dedede;
  padding: 5px;
}
.resource_article_wrapper {
  float: left;
  width: 210px;
  height: 75px;
}
.resource_article h4 {
  float: left;
  width: 210px;
}
.resource_article p {
  float: left;
  width: 210px;
  margin-top: 0px;
}
/*******Special Headers**********/
.page_header {
  position: relative;
  width: 335px;
  height: 80px;
  text-indent: -3000em;
  float:left;
}
.about_header {
  background: url('../images/about_header.png') no-repeat;
  width: 900px;
}
.benefits_header_like {
  background: url('../images/headers/like_us.png') no-repeat;
  width: 490px;
}
.benefits_header_works {
  background: url('../images/headers/works.png') no-repeat;
  width: 500px;
  margin: 5px 10px;
}
.contact_header {
  background: url('../images/headers/contact_us.png') no-repeat;
  width: 550px;
}
/*********************************************/
/***************QUOTE BOXES*******************/

.service_quote {
  height: 125px;
}
.service_quote p {
  margin: 0px 50px 10px 0px;
  width: 437px;
  height: 100px;
  float: right;
  text-indent: -3000em;
}
.physicianclaim-insight_quote{
  background: transparent url('../images/quotes/service_quotes.png') 0px -500px no-repeat;
}
.dentalclaim-insight_quote {
   background: transparent url('../images/quotes/service_quotes.png') 0px -400px no-repeat;
}
.facilityclaim-insight_quote {
  background: transparent url('../images/quotes/service_quotes.png') 0px -300px no-repeat;
}
.oncologyclaim-insight_quote {
  background: transparent url('../images/quotes/service_quotes.png') 0px -200px no-repeat;
}
.pharmaclaim-insight_quote {
  background: transparent url('../images/quotes/service_quotes.png') 0px -100px no-repeat;
}
.visionclaim-insight_quote {
  background: transparent url('../images/quotes/service_quotes.png') 0px 0px no-repeat;
}
.physicianclaim-insight_quote_brochure {
  background: url('../images/benefit_grid_images.jpg') 0px -1560px no-repeat;
}
.facilityclaim-insight_quote_brochure {
  background: url('../images/benefit_grid_images.jpg') 0px -1440px no-repeat;
}
.dentalclaim-insight_quote_brochure {
  background: url('../images/benefit_grid_images.jpg') 0px -1320px no-repeat;
}
.oncologyclaim-insight_quote_brochure {
  background: url('../images/benefit_grid_images.jpg') 0px -1200px no-repeat;
}
.pharmaclaim-insight_quote_brochure {
  background: url('../images/benefit_grid_images.jpg') 0px -1080px no-repeat;
}
.visionclaim-insight_quote_brochure {
  background: url('../images/benefit_grid_images.jpg') 0px -960px no-repeat;
}
.quote_brochure a {
  display: block;
  text-indent: -3000em;
}
/*********************************************/
/******************SUBBOXES*******************/
#sub_boxes {
  text-align: left;
  background: #fff;
}
.sub_box3, .middle{
  width: 300px;
  margin: 10px;
  float: left;
  text-align: center;
}
.middle {
  margin-left: 0px;
  margin-right: 0px;
}
#sub_box1 {
  margin-left: 10px;
}
.sub_box {
  min-height: 125px;
}
.cover_flow_sub_box {
  width: 400px;
  height: 158px;
  margin-left: 10px;
  margin-top: 12px;
  float: left;
}
.inner_sub_box {
  margin-left: 10px;
  width: 200px;
  min-height: 200px;
}
.inner_sub_box p {
  position: relative;
  margin: 5px;
}
.sub_box_header {
  margin: 10px;
}
.sub_box_wrap {
  width: 200px;
  margin-left: 32px;
  float: left;
  display: inline;
}
.sub_box a.social_icon {
  display: block;
  text-indent: -1000em;
}
.sub_box p {
  width: 185px;
}
.go_link {
  margin-top: 10px;
  margin-right: 32px;
}
/*********************************************/
/******************ISSUU*********************/
#issuu_frame, #issuu_frame iframe {
  width: 936px;
  height: 500px;
}
/*********************************************/
/******************VIDEOS*********************/
#home_player {
  width: 340px;
  height: 300px;
}
/*********************************************/
/******************FORMS**********************/
.form_section {
  margin-bottom: 20px;
}
input[type="select"] {
  width: 100px;
}
input#ticket_date_select {
  width: 85px;
}
/*********************************************/
/******************BUTTONS********************/
.btn {
  background: #666 url('../images/healthcare_fraud_btn_black.png') bottom left repeat-x;
  padding: 5px; 
  color: #fff;
  border: 1px solid #666; 
  text-decoration: none; 
  cursor: pointer; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  min-height: 18px;
  float: left;
}
.btn:hover {
  background: #67ab89;
}
.banner_buttons {
  color: #fff;
  padding: 5px;
  background: url('../images/orange_30.png') repeat-x;
  position: absolute;
  bottom: 66px;
  right: 230px;
  display: block;
}
.big_orange {
  font-size: 140%;
  font-weight:bold;
  height: 20px;
  text-align:center;
  text-decoration:none;
  width: 250px;
}
.big_orange:hover {
  background: url('../images/green_buttons.png') repeat-x;
}
.big_orange_submit {
  text-align:center;
  color: #fff;
  padding: 0px;
  font-size: 140%;
  font-weight:bold;
  height: 37px;
  width: 135px;
  border: none;
  background: url('../images/orange_button_bg.png') repeat-x;
  position: absolute;
  bottom: 0px;
  right: 50px;
  display: block;
}
.big_orange_submit:hover {
  background: url('../images/orange_button_bg_hover.png') repeat-x;
}
.small_orange_buttons {
  margin: 0px auto;
  color:#FFFFFF;
  display:block;
  font-size:100%;
  font-weight:bold;
  height:14px;
  padding:3px;
  text-align:center;
  text-decoration:none;
  width:160px;
  background: url('../images/orange_20.png') repeat-x;
}
.small_orange_buttons:hover {
  background: url('../images/green_20.png') repeat-x;
}
.search_btn {
  text-indent: -1000em;
  width: 25px;
  height: 30px;
  background: url('../images/search_icon_black.png') no-repeat;
  border: none;
  cursor: pointer;
  font-size: 0px;
  display: inline-block;
}
.buttons_right {
  float: right;
  text-align: right;
  width: 200px;
}
.ticket_dashboard {
  margin-top: 15px;
}
/*********************************************/
/******************TICKETS*******************/
.ticket_list li {
  margin: 5px 0px;
}
.critical {
  color: red;
}
.urgent {
  color: #ff5500;
}
.high {
  color: #ffdd33;
}
.normal {
  color: #00b200;
}
.low {
  color: #19c0ec;
}
.lowest {
  color: #00467F;
}
.open {
  padding: 3px;
  background: #19c0ec;
  color: #fff;
}
.in_progress {
  padding: 3px;
  background: #ffff00;
  color: #000;
}
.delayed {
  padding: 3px;
  background: #4c7f99;
  color: #fff;
}
.complete {
  padding: 3px;
  background: #00b200;
  color: #fff;
}
.closed {
  padding: 3px;
  background: #0076b2;
  color: #fff;
}
/*********************************************/
/******************FOOTER********************/
#ft {
  background: #000;
}
#footer_wrap {
  min-height: 254px;
  background: url('../images/footer_ribbon.png') 0px 225px no-repeat;
}
#footer_links {
  margin: 10px;
/*  width: 54%;
  height: 50%;*/
  float: right;
}
#footer_links a, #employee_login a {
  color: #777;
  text-decoration: none;
}
#footer_links a:hover, #employee_login a:hover {
  color: #fff;
  text-decoration: underline;
}
#footer_links ul {
  float: left;
  width: 120px;
/*  margin: 0px 50px 0px 0px;*/
}
#footer_links li {
  list-style: disc;
}
#footer_links h4 {
  margin-left: -31px;
  margin-bottom: 5px;
  color: #fff;
}
#footer_logo {
  position: absolute;
  bottom: 45px;
  background: #000 url('../images/HCI_white_footer_logo.png') 10px 0px no-repeat;
  width: 100%;
  height: 40px;
}
div.newsletter_signup {
  position: relative;
  left: 450px;
}
div.newsletter_form {
  color: #fff;
  margin-top: -5px;
}
div.newsletter_form input[type='submit'] {
  margin-top: 17px;
  margin-left: 10px;
}
ul#social_links {
  position: relative;
  float: right;
  height: 30px;
  margin-top: 10px;
  right: 10px;
}
ul#social_links li, ul#social_links li.top_nav_wide {
  display: block;
  float: left;
  width: 35px;
  text-align: center;
}
ul#social_links li.top_nav_wide {
  width: 100px;
}
ul#social_links li a {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  text-indent:-3000em;
  text-decoration: none;
  margin: 0px 5px;
  color: #e3e3e3;
}
ul#social_links li a.black {
  color: #000;
}
ul#social_links li a.white {
  color: white;
}
#facebook_link {
  background:  url('../images/social_icons/social_icons.png') 0px -30px no-repeat;
}
#youtube_link {
  background:  url('../images/social_icons/social_icons.png') -30px -30px no-repeat;
}
#linkedin_link {
  background:  url('../images/social_icons/social_icons.png') -60px -30px no-repeat;
}
#shcf_link {
  background:  url('../images/social_icons/social_icons.png') -90px -30px no-repeat;
}
#twitter_link {
  background:  url('../images/social_icons/social_icons.png') -120px -30px no-repeat;
}
#footer_stripe {
  position: absolute;
  bottom: 30px;
  min-height: 7px;
  background: #fff;
}
#employee_login {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
ul.login {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  background: url('../images/login_keyhole.png');
}
ul.login a {
  display: block;
  text-indent: -3000em;
  width: 30px;
  height: 30px;
}
