/*********************************************/
/*******************GLOBAL********************/
body {
  font-size: 80%;
}
#wrapper {
  width: 940px;
}
/*********************************************/
/*******************HEADER********************/
#hci_logo {
  background: none;
  width: 245px;
  height: 45px;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='../images/HCI_logo_silver2.png');
}
ul#top_links, ul.login  {
  position: relative;
  float: right;
  height: 20px;
}
#top_link_wrap {
  height: 50px;
}
/*********************************************/
/*****************NAVIGATION******************/
#main_nav {
  float: left;
  position: relative;
  bottom: 0px;
  height: 40px;
}
#search_box_wrap {
  margin-top: 13px;
  float: right;
}
#search {
  float: left;
}
.search_btn {
  display: block;
  font-size: 0px;
  line-height: 0px;
  height: 25px;
}
/*********************************************/
/****************MAIN CONTENT*****************/
.inner_sub_box {
  height: 200px;
}
.inner_index_box {
  height: 208px;
}
.who_image {
  right:-1px;
  bottom: 0px;
}
.index_service_link {
  width: 125px;
}
#sub_boxes div.sub_box {
  width: 295px;
}
.circle_button {
  margin-top: 0px;
}
/***********************/
/********banners********/
#slider {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.scroll {
  width: 940px;
  height: 483px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative; /* fix for IE to respect overflow */
  clear: left;
}
.scrollContainer {
  position: relative;
  overflow: hidden;
  width: 940px;
  height: 290px;
}
img.banner_scroll.r, img.banner_scroll.l {
  visibility: hidden;
}
#footer_logo {
  position: relative;
  bottom: 0px;
}
#footer_stripe {
  position: relative;
  bottom: 0px;
}
.newsletter_signup {
  position: relative;
  margin-right: 20px;
}
.newsletter_form {
  position: relative;
}
#footer_links ul h4{
 margin-left: 0px;
}
#newsletter_subscription_submit {
  margin-top: 15px;
  margin-left: 5px;
}
#social_links {
  float: left;
}



