<h1>Editing Friend Invite</h1>
<%= render :partial => 'friend_invites/form', :locals => {:button_text => "Edit Invite"} %>
<%= link_to 'Show', @friend_invite %> |
<%= link_to 'Back', friend_invites_path %>