<% meta_keywords("health care careers, healthcare insight careers, career in health care fraud prevention")%>
<% meta_description("HealthCare Insight provides a great working environment with 401k, health benefits, paid vacations, and a casual working environment") %>
<% page_title "Health Care Careers "%>

<% content_for :banner do %>
 <%= render :partial => "health_care/inner_banners" %>
 <%= render :partial => "health_care/banner_side_box" %>
<% end %>

<% content_for :sub_boxes do %>
  <%= render :partial => 'layouts/sub_boxes' %>
<% end %>

<!-- Render Helper Module Here -->
<div class="grid_11">
  <h2 class="bluepurple">HCI Careers</h2>
  <p>
    HealthCare Insight® (HCI), an ISO company, provides experienced professionals the opportunity to affect change in the health care industry by ensuring payment accuracy and reducing claims costs.  HCI provides health care claims payors (Commercial, Medicaid and Medicare) with a comprehensive suite of cost-containment technology services designed to prevent fraud, abuse and overpayments.  HCI offers employees a rich benefits package, team-oriented work environment, tremendous growth potential and the chance to work with one of the fastest growing health care technology companies in the country.
  </p>
</div>