<% page_title "Health Care Careers "%>

<% content_for :banner do %>
  <%= render :partial => "careers/banner" %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'layouts/career_sub_boxes' %>
<% end %>

<!-- Render Helper Module Here -->
<div class="grid_11">
  <h2 class="bluepurple">Careers</h2>
</div>