<% page_title "Health Care Videos "%>

<% content_for :banner do %>
  <%= render :partial => "videos/banner" %>
<% end %>

<!-- Render Helper Module Here -->
<div class="grid_8 top_10_wrap">
  <h3 class="orange">Fraud Videos</h3>
  <%= render :partial => "videos/index_video", :locals => {:videos => @videos} %>

  <%#= link_to "Back", request.env["HTTP_REFERER"] %>
</div>
<div class="grid_4 alpha omega right top_10_wrap">
  <%= render :partial => 'resources/resource_press_releases', :locals => {:objects => @press_releases} %>
  <%= render :partial => 'events/events_list', :locals => {:objects => @events} %>
</div>