<div class="full_wrap">
  <h1>Editing Subscription</h1>
  <%= render :partial => 'newsletter_subscriptions/form', :locals => {:newsletter_subscription => @newsletter_subscription} %>
  <%= link_to 'Show', @newsletter_subscription %> |
  <%= link_to 'Back', newsletter_subscriptions_path %></div>