<p>
  <b>Email:</b>
  <%=h @newsletter_subscription.email %>
</p>

<p>
  <b>Active subscription:</b>
  <%=h @newsletter_subscription.active_subscription %>
</p>


<%= link_to 'Edit', edit_newsletter_subscription_path(@newsletter_subscription) %> |
<%= link_to 'Back', newsletter_subscriptions_path %>