<% page_title("Employee Login ") %>

<div class="grid_11">
  <h1>Employee Login</h1>
  <%= render :partial => "form", :locals => {:employee_session => @employee_session} %>
  <%= link_to 'Back', home_path %>
</div>