<div id="slider" class="grid_12 alpha">
  <div id="banner1" class="panel">
    <%= image_tag "banners/inner_banners/about_us_banner.png", :alt => "About Health Care Insight" %>
  </div>
  <%#= render :partial => "layouts/cta_bar" %>
</div>