<div id="inner_banner_short" class="grid_12 alpha omega">
  <div id="banner1">
    <%= image_tag "banners/inner_banners/about_banner.jpg", :alt => "About Health Care Insight" %>
    <div class="banner_cta_wrap">
      <%= link_to(image_tag('ads/nucleus_launch_banner.png'), box_video("nhcaa"), :class => "main_link overlay_link", :rel => "div.overlay") %>
    </div>
    </div>
</div>