<div class="relative left">
  <div class="about_us_box_image_wrap left">
    <%= image_tag("about_us_boxes_image2.jpg") %>
  </div>
  <div class="grid_3 alpha omega">
    <div class="index_box ">
      <h2 class="about_us_box_header orange">Our People.</h2>
      <div class="inner_index_box">
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>

      </div>
    </div>
  </div>
  <div class="grid_3 alpha omega">
    <div class="index_box">
      <h2 class="about_us_box_header orange">Our Mission.</h2>
      <div class="inner_index_box">
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>

      </div>
    </div>
  </div>
  <div class="grid_3 alpha">
    <div class="index_box">
      <h2 class="about_us_box_header orange">Our History.</h2>
      <div class="inner_index_box">
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</div>