<div class="grid_12 alpha omega about_quote">
    <cite>Without hesitation i would recommend the staff, management and services of HealthCare Insight...
    
    - Michael De Chellis, Operating Engineers Trust Funds</cite>
</div>