<div class="relative left">
  <div class="about_us_box_image_wrap left">
    <%= image_tag("HCI_building.png") %>
  </div>
  <div class="grid_3 alpha omega">
    <div class="index_box ">
      <h2 class="about_us_box_header orange">Our Mission.</h2>
      <div class="inner_index_box">
        <p class="">
          Our mission is to stop fraud and 
          waste in health care, continually 
          develop innovative and clinically  
          validated cost reduction services 
          and provide unparalleled customer 
          service and support to our clients.
        </p>
        <div class="who_image box_4"></div>
      </div>
    </div>
  </div>
  <div class="grid_3 alpha omega">
    <div class="index_box">
      <h2 class="about_us_box_header orange">Our Philosophy.</h2>
      <div class="inner_index_box">
        <p class="">
          We believe that you deserve the
          best and we promise to deliver it.  
          We believe you deserve better.  
          Better software, better analytics, 
          better clinicians, better service, 
          better care and better results.
        </p>
        <div class="who_image box_5"></div>
      </div>
    </div>
  </div>
  <div class="grid_3 alpha">
    <div class="index_box">
      <h2 class="about_us_box_header orange">Our Values.</h2>
      <div class="inner_index_box">
        <p class="">
          We value honesty, integrity, ethics, 
          kindness and respect. We value 
          collaboration, innovation, passion
          and outside-the-box thinking. We 
          demand superior service, products
          and responsible management of 
          data entrusted to our care.
        </p>
        <div class="who_image box_6"></div>
      </div>
    </div>
  </div>
</div>