<div id="inner_banner_short" class="grid_12 alpha omega">
  <div id="banner1">
    <%= link_to(image_tag('banners/inner_banners/about_banner.jpg', :alt => "HCI is becoming a part of Verisk Health"), "http://www2.hcinsight.com/l/1492/2011-04-27/K9FJN") %>
    
    
    <!-- <div class="banner_cta_wrap">
      <%#= link_to(image_tag('ads/nucleus_launch_banner.png'), box_video("green_video"), :class => "main_link overlay_link", :rel => "div.overlay") %>
    </div> -->
    </div>
</div>