<div class="grid_12 alpha omega about_quote">
    <cite>We have experienced positive changes in provider billing habits resulting in significant savings.
    
    - Mary Alice Garcia, BA, CPC  Medicaid MCO</cite>
</div>