    <h3 class="orange">Memberships & Accreditations</h3>
    <p id="accreditations_p">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <ul class="accreditation_links">
      <li>
        <%= link_to "AHIP", "http://www.ahip.org/", :class => "accreditation_link accreditation_ahip" %>
      </li>
      <li>
        <%= link_to "URAC1", "#", :class => "accreditation_link accreditation_urac1" %>
      </li>
      <li>
        <%= link_to "URAC2", "#", :class => "accreditation_link accreditation_urac2" %>
      </li>
      <li>
        <%= link_to "NHCAA", "http://www.nhcaa.org/", :class => "accreditation_link accreditation_nhcaa" %>
      </li>
    </ul>