<div id="inner_banner_short" class="grid_12 alpha">
  <div id="banner1" class="panel">
    <%= image_tag "banners/health_care_insight_banner1.jpg", :alt => "Stop Fraud Now" %>
  </div>
  <%= render :partial => "layouts/cta_bar" %>
</div>
