<div id="slider" class="grid_16 alpha omega">
  <div class="scroll">
    <div class="scrollContainer">
      <div id="banner1" class="panel">
        <%#= image_tag "bannerImage1.jpg" %>
      </div>
    </div>
  </div>
</div>