<div id="slider" class="index_banner">
  <div class="scroll">
    <div class="scrollContainer">
      <%#= render :partial => 'health_care/main_banners' %>
      <%= render :partial => 'health_care/nucleus_index_banners' %>
    </div>
  </div>
  <%= render :partial => 'health_care/index_banner_nav', :locals => {:banner => @banner} %>
</div>