<div id="slider" class="grid_12 alpha">
  <div id="banner1" class="panel">
    <%= image_tag "banners/health_care_insight_banner1.jpg", :alt => "Stop Fraud Now" %>
    <%= link_to "Get Started", "", :class => "banner_buttons big_orange round" %>
  </div>
</div>
<%= render :partial => "layouts/cta_bar" %>
<div class="divider2"></div>