<div class="banner_side_box grid_3 alpha omega">
  <div class="view_demo highlight <%= @service.permalink if @service %>_bg">
  <%= link_to "View Demo", "", :class => 'view_demo_button' %>
  </div>
  <div class="free_trial highlight <%= @service.permalink if @service %>_bg">
    <%= link_to "Free Trial", "", :class => 'free_trial_button' %>
  </div>
</div>