<div class="banner_side_box grid_3 alpha omega">
  <div class="big_cta_button view_demo highlight">
  <%= link_to "View Demo", "", :class => 'view_demo_button' %>
  </div>
  <div class="big_cta_button free_trial highlight">
    <%= link_to "Free Trial", "", :class => 'free_trial_button' %>
  </div>
</div>