<div class="index_banner_cta round2">
  <div class="index_cta_button index_cta_more_info highlight"><%= link_to "Free Trial", APP['free_trial_landing_page'] %></div>
  <div class="index_cta_button index_cta_meet_nucleus highlight"><%= link_to "Meet Nucleus", nucleus_path %></div>
</div>