<% color = color || "black" %>
<h3 class="sub_box_header white">Resources</h3>
<div class="cover_flow_sub_box background_<%= color %>">
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="440" height="200" id="coverFlow" align="middle">
	<param name="allowScriptAccess" value="sameDomain" />
	<param name="allowFullScreen" value="false" />
	<param name="movie" value="/swfs/coverFlow.swf" />
	<param name="quality" value="high" />
	<param name="bgcolor" value="#00467F" />	
	<embed src="/swfs/coverFlow.swf" quality="high" bgcolor="#00467F" width="440" height="200" name="coverFlow" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	</object>
</div>