<div class="sub_box3">
  <h4>Comprehensive Suite of Service</h4>
</div>
<div class="sub_box3 middle">
  <h4>Get a Cost Reduction Analysis</h4>
</div>
<div class="sub_box3">
  <h4>Memberships / Affiliations</h4>
</div>