<div class="grid_4 center">
  <h4>Comprehensive Suite of Service</h4>
</div>
<div class="grid_4 alpha omega center">
  <h4>Get a Cost Reduction Analysis</h4>
</div>
<div class="grid_4 center">
  <h4>Memberships / Affiliations</h4>
</div>