<div class="grid_16 alpha omega index_quote">
    <cite>HCI is a tremendous partner and does and out standing job of securing our clients healthcare dollars against fraud and abuse.
    
    - Renee Haas Vice President EBMC</cite>
</div>