<div class="grid_12 alpha omega benefit_grid">
  <div class="inner_benefit_grid">
    <div class="benefit_grid_box left_side_box bene_odd_row">
      <div class="benefit_avatar_wrap bene1"></div>
      <div class="benefit_content_wrap">      
        <h3>Clinical Validation = Better Results.</h3>
        <p>
          Only HCI provides clinical validation on suspect
          claims by licensed nurses, physicians and dentists.
          Giving you fewer false positives and better results.
        </p>
      </div>
    </div>
    <div class="benefit_grid_box right_side_box bene_odd_row">
      <div class="benefit_avatar_wrap bene2"></div>
      <div class="benefit_content_wrap">      
        <h3>Prepayment Saves Time and Money.</h3>
        <p>
          Each HCI SaaS solution lives in a prepayment,
          post-adjudication environment. Why? Because
          &#8220;pay and chase&#8221; can waste time and money.
        </p>
      </div>
    </div>
    <div class="benefit_grid_box left_side_box bene_even_row last_bene_row">
      <div class="benefit_avatar_wrap bene7"></div>
      <div class="benefit_content_wrap">      
        <h3>Total Customization, Total Happiness.</h3>
        <p>
          No two payors are the same. Our solutions
          allow you to customize nearly every aspect. 
          This gives you greater control and happiness.
        </p>
      </div>
    </div>
    <div class="benefit_grid_box right_side_box bene_even_row last_bene_row">
      <div class="benefit_avatar_wrap bene8"></div>
      <div class="benefit_content_wrap">      
        <h3>Web-Based SaaS Saves Headaches and Cash.</h3>
        <p>
          No more licensing fees, upgrade fees, user fees
          and long implementations. Our web-based software
          as service solution installs fast and saves money.
        </p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>