<div class="full_wrap index_steps left">
  <div class="left">  
    <h2 class="orange">Pay It Right</h2>
    <p>
      We provide private and public sector claims payors with a comprehensive suite of clinically validated fraud and abuse prevention services. Let us help you maximize claims accuracy and minimize pay.
    </p>
  </div>
  <div class="number_steps left">
    <div class="big_number left">1.</div>
    <div class="number_header number_header_small orange left">What Kind Of Payor?</div>
  </div>
  <div class="number_steps left">
    <div class="big_number left">2.</div>
    <div class="number_header orange left">What Are Your Needs?</div>
  </div>
  <div class="number_steps left">
    <div class="big_number left">3.</div>
    <div class="number_header orange left">Customize Your Service?</div>
  </div>
</div>