<div class="full_wrap index_steps left">
  <div class="left">  
    <h2 class="orange">Start Paying Right. Start Saving Money.</h2>
    <p>
      Unique markets provide unique challenges. That’s why we 
      tailor our payment integrity solutions and services to fit
      your needs and goals. Learn more about our customized 
      services and how clinical validation delivers better results.
    </p>
  </div>
  <div class="left">
    <h2 class="market_quote">Each market and client is unique. One size never fits all. We customtize every solution for every customer.</h2>
  </div>
</div>