<div class="sector_grid">
  <%= image_tag("health_plans.jpg")%>
  <h4 class="orange">Health Plans</h4>
  <p>
    Ensure your plan’s claims are 
    free of fraud, abuse and waste.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("mco2.jpg")%>
  <h4 class="orange">MCO's</h4>
  <p>
    Reduce PMPM expenditures with 
    comprehensive payment integrity.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("insurance_carriers.jpg")%>
  <h4 class="orange">Insurance Carriers</h4>
  <p>
    Control your Taft Hartley Funds’ 
    rising costs with fraud control.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("tpa.jpg")%>
  <h4 class="orange">TPA's</h4>
  <p>
    Reduce your client’s health costs 
    by preventing fraud and abuse.
  </p>
</div>