<div class="grid_12 alpha omega">
  <div class="sector_content_text">
    <p class="left sector_big_text">
      Maximize your claims payment accuracy, identify fraudulent providers and reduce your professional claims costs.
    </p>
    <p class="left">
      HCI provides public sector claims payors (Health Plans, MCO's, Insurance Carriers, TPA's, etc.) with a comprehensive suite of clinically validated fraud and abuse surveillance services designed to maximize claims administration accuracy and minimize payment waste.  Each of HCI’s customizable software as a service (SaaS) solutions rely on a unique prepayment process that combines proprietary software systems with detailed review by experienced clinicians.
    </p>
  </div>
  <div class="sector_grids service_wrap">
    <%= render :partial => 'health_care/private_sector_grids' %>
  </div>
  <%= render :partial => "health_care/private_quote" %>
  <%= render :partial => "health_care/sector_bottom_grids" %>
</div>