<div class="grid_12 alpha omega private_quote">
    <cite>Information provided in HCI's fraud reports has identified multiple providers with questionable coding outliners
    
    - Mary Alice Garcia, BA, CPC  Medicaid MCO</cite>
</div>