<div class="sector_grid">
  <%= image_tag("health_plans.jpg")%>
  <h4 class="orange">Health Plans</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("mco2.jpg")%>
  <h4 class="orange">MCO's'</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("insurance_carriers.jpg")%>
  <h4 class="orange">Insurance Carriers</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("tpa.jpg")%>
  <h4 class="orange">TPA's</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>