<div id="slider" class="grid_12 alpha">
  <div id="banner1" class="panel">
    <%= image_tag "banners/inner_banners/public_banner.png", :alt => "HealthCare Insight Public Sector Claims Surveillance Software" %>
  </div>
  <%= render :partial => "layouts/cta_bar" %>
</div>
