<div class="grid_12 alpha omega">
  <div class="sector_content_text">
    <p class="left sector_big_text">
      Start paying America’s health care claims the<br/>
      right way. Fight fraud, stop waste and save<br/>
      money with a total payment integrity solution.
    </p>
    <p class="left">
      Our web-based payment integrity solutions are designed to help you maximize payment accuracy, identify fraudulent/suspect billing activity and save money. By combining our advanced Code Validator Pro<sup>&reg;</sup> (rules-based) and Fraud Finder Pro<sup>&reg;</sup> (profiling) software systems, you get better technology. By relying on experienced clinicians and investigators for claim validation, you get better results.
    </p>
    <h4 class="left">Find out more</h4>
    <ul>
      <% services.each do |s| %>
      <li><%= link_to "#{s.acronym} Brochure", service_path(s) %></li>
      <% end %>
    </ul>
  </div>
  <div class="sector_grids service_wrap">
    <%= render :partial => 'health_care/sector_grids' %>
  </div>
  <%= render :partial => "health_care/public_quote" %>
  <%= render :partial => "health_care/sector_bottom_grids" %>
</div>