<div class="sector_grid">
  <%= image_tag("medicaid.jpg")%>
  <h4 class="orange">Medicaid States</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("medicare_advantage.jpg")%>
  <h4 class="orange">Medicare Advantage</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("mco.jpg")%>
  <h4 class="orange">MCOs</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("snps.jpg")%>
  <h4 class="orange">Special Needs Plans</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>