<div class="sector_grid">
  <%= image_tag("medicaid.jpg")%>
  <h4 class="orange">Medicaid States</h4>
  <p>
    Combat Medicaid state budget shortfalls with payment integrity.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("medicare_advantage.jpg")%>
  <h4 class="orange">Medicare Advantage</h4>
  <p>
    Reduce Medicare Advantage claims costs with fraud control.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("mco.jpg")%>
  <h4 class="orange">Medicaid MCOs</h4>
  <p>
    Ensure regulatory compliance with Medicaid program integrity.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("snps.jpg")%>
  <h4 class="orange">Special Needs Plans</h4>
  <p>
    Combat rising special needs plan costs by fighting fraud and waste.
  </p>
</div>