<div class="sector_grid">
  <%= image_tag("property_casualty.jpg")%>
  <h4 class="orange">Property & Casualty</h4>
  <p>
    Ensure your medical claims are<br/>
    free of fraud, abuse and waste.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("workers_comp.jpg")%>
  <h4 class="orange">Workers Comp</h4>
  <p>
    Reduce your workers comp<br/>
    health costs with fraud control.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("auto.jpg")%>
  <h4 class="orange">Auto Insurers</h4>
  <p>
    Control rising medical costs<br/>
    with fraud and waste prevention.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("liability.jpg")%>
  <h4 class="orange">Liability Carriers</h4>
  <p>
    Decrease your health care spend<br/>
    with fraud and abuse prevention.
  </p>
</div>