<div class="sector_grid">
  <%= image_tag("workers_comp.jpg")%>
  <h4 class="orange">Workers Comp</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("property_casualty.jpg")%>
  <h4 class="orange">Property & Casualty</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("auto.jpg")%>
  <h4 class="orange">Auto Insurers</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>
<div class="sector_grid">
  <%= image_tag("liability.jpg")%>
  <h4 class="orange">Liability Carriers</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>