<div class="grid_12 alpha omega workers_comp_quote">
    <cite>Since the initiation of HCI, we have realized savings in the range of 5% annually. This is like free money to our organization
    
    - Kevin Potts, Union Pacific Railroad Employee Health Systems</cite>
</div>