<div id="slider" class="grid_12 alpha">
  <div id="banner1" class="panel">
    <%= image_tag "banners/inner_banners/workers_comp_banner.jpg", :alt => "HealthCare Insight Workers Compensation Claims Surveillance Software" %>
  </div>
  <%= render :partial => "layouts/cta_bar" %>
</div>
