<% meta_keywords("healthcare insight")%>
<% meta_description("HealthCare Insight provides many resources to help you combat health care fraud.") %>
<% page_title("About Us ") %>

<% content_for :banner do %>
  <%= render :partial => "health_care/inner_banners" %>
  <%= render :partial => "health_care/banner_side_box" %>
<% end %>

<% content_for :sub_boxes do %>
  <%#= render :partial => 'layouts/sub_boxes' %>
<% end %>
<div class="grid_11">
  <h2>HealthCare Insight&copy</h2>
  <p>provides health care claims payors with a comprehensive suite of clinically validated fraud and abuse surveillance services designed to maximize claims administration accuracy and minimize payment waste.</p>
  <p>
    ISO is the parent company of HCI. ISO supplies data, analytics, and decision-support services for professionals in many fields, including: property/casualty insurance, mortgage lending, healthcare, government, human resources. 
  </p>
</div>