<% meta_keywords("healthcare insight accredidations, fraud fighting organizations")%>
<% meta_description("HCI provides public sector claims payors (Medicaid, Medicare Advantage, SCHIP, etc.) with a comprehensive suite of clinically validated fraud and abuse surveillance services designed to maximize claims administration accuracy and minimize payment waste.") %>
<% page_title("HealthCare Insight Accredidations") %>

<% content_for :banner do %>
  <%= render :partial => "health_care/partners_banner" %>
<% end %>
<div class="benefits_content grid_12 alpha omega">
  <h2 class="page_header partners_header full_wrap">Strength in Numbers</h2>
  <p class="benefits_sub_text partners_sub_text orange">The HCI Family</p>
  <%= render :partial => "benefits/benefits_grid" %>
</div>
<div class="benefits_content grid_12 alpha omega">
  <h2 class="page_header industry_standards">Industry Standards</h2>
  <p class="benefits_sub_text industry_sub_text orange">Trusted Organizations</p>
  <div class="benefit_works_section">
    <div class="benefit_work_box first">
      <h3 class="benefit_sub_header"><span>Robust</span> Data Warehouse</h3>
      <ul>
        <li>25 million members</li>
        <li>1.3 million providers</li>
        <li>$90 billion paid claims</li>
        <li>450 million lines</li>
      </ul>
      <div class="clear"></div>
      <div class="benefit_icons robust_icon"></div>
    </div>
    <div class="benefit_work_box">
      <h3 class="benefit_sub_header"><span>Clinical</span> Review</h3>
      <ul>
        <li>Medical coding specialist</li>
        <li>Clinical Investigative Unit (CIU)</li>
        <li>Physicians, nurses and dentists</li>
        <li>National clinical panel</li>
      </ul>
      <div class="clear"></div>
      <div class="benefit_icons clinical_icon"></div>
    </div>
    <div class="benefit_work_box">
      <h3 class="benefit_sub_header"><span>Advanced</span> Technology</h3>
      <ul>
        <li>Over 3 million algorithms</li>
        <li>Dynamic claim and provider scoring</li>
        <li>Customizable rules and parameters</li>
        <li>Real-time claims processing</li>
      </ul>
      <div class="clear"></div>
      <div class="benefit_icons advanced_icon"></div>
    </div>
    <div class="benefit_work_box">
      <h3 class="benefit_sub_header"><span>Complete</span> Service</h3>
      <ul>
        <li>Account support team</li>
        <li>Dedicated clinical resources</li>
        <li>Ad hoc and custom reporting</li>
        <li>Appeal support and response</li>
      </ul>
      <div class="clear"></div>
      <div class="benefit_icons complete_icon"></div>
    </div>
  </div>
</div>