<% meta_keywords("contact health care fraud services")%>
<% meta_description("HealthCare Insight provides many resources to help you combat health care fraud.") %>
<% page_title("Contact Us ") %>

<% content_for :banner do %>
  <%= render :partial => "health_care/career_banner" %>
<% end %>
<div class="service_wrap career_action_bar">
<div class="career_address_box">    
  <p>Main Offices</p>
    <h2 class="orange">Salt Lake City</h2>
    <p>
      10897 S. River Front Parkway, Suite 200<br/>
      South Jordan, Utah 84095<br/>
      P 801-285-5800  F 801-285-5801<br/>
    </p>
    </div>
    <div class="career_apply_link">
      <%= link_to "Apply Here", "#{APP['job_posting_link']}" %>
    </div>
    <div class="career_copy">
      <p>
        HealthCare Insight® (HCI), a division of Verisk Health , provides experienced professionals the opportunity to affect change in the health care industry by ensuring payment accuracy and reducing claims costs.  HCI provides health care claims payors (Commercial, Medicaid and Medicare) with a comprehensive suite of cost-containment technology services designed to prevent fraud, abuse and overpayments.
      </p>
    </div>
</div>