<% page_title("Welcome To ") %>

<% content_for :banner do %>
  <%= render :partial => 'health_care/banners' %>
<% end %>

<% content_for :sidebar do %>
<div class="video_holder grid_7 alpha omega"></div>
<% end %>

<% content_for :sub_boxes do %>
  <%= render :partial => 'layouts/sub_boxes' %>
<% end %>

<%= render :partial => "articles/home_article", :locals => {:articles => @articles} %>
