<div class="show_wrap grid_12">
  <div class="service_mid_section grid_12 alpha omega">
    <div class="grid_6 alpha omega">
      <div class="free_trial_inner full_20_wrap">      
        <h3 class="free_trial_header cra_free_trial_header">Cost Reduction Analysis</h3>
        <div class="landing_tile cra_landing_tile"></div>
        <div class="free_trial_para cra_color">Let us quantify your annual fraud, abuse and overpayment savings and identify key areas of risk and waste.
        </div>
      </div>
    </div>
    <div class="grid_6 alpha omega">
      <div class="free_trial_inner full_20_wrap">
        <h3 class="block_font_weight bold">Get Your Free Trial Here.</h3>
        <div class="small_text grey">
          For more information on getting your free trial, please fill out the form below</div>
        <div class="show_service_para">%%content%%</div>
      </div>
    </div>
  </div>
</div>
<div class="grid_12 alpha omega top_20_wrap">
  <div class="cra_service_top_stripe"></div>
  <div class="cra_service_bottom_stripe">
    <div class="cra_stripe_icon"></div>
  </div>