<div class="show_wrap grid_12">
  <div class="service_mid_section grid_12 alpha omega">
    <div class="grid_6 alpha omega">
      <div class="physicianclaim-insight_free_trial_book">
        <h3 class="free_trial_header hide_text">PharmaClaim Insight</h3>
        <div class="free_trial_para physicianclaim-insight_color">Let us quantify your annual fraud, abuse and overpayment savings and identify key areas of risk and waste.
        </div>
        <!-- <div class="brochure_link">
            <a href="#" class="pharmaclaim-insight_link">Download RxI Brochure</a>
        </div> -->
      </div>
    </div>
    <div class="grid_6 alpha omega">
      <div class="free_trial_inner full_20_wrap">
        <h3 class="block_font_weight bold">Get Your Free Trial Here.</h3>
        <div class="small_text grey">
          For more information on getting your free trial, please fill out the form below</div>
        <div class="show_service_para">%%content%%</div>
        <div class="landing_button fci_landing_button">
          <input type="submit"></input>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid_12 alpha omega top_20_wrap">
  <div class="physicianclaim-insight_service_top_stripe"></div>
  <div class="physicianclaim-insight_service_bottom_stripe">
    <div class="physicianclaim-insight_stripe_icon"></div>
  </div>