<% meta_keywords("health care markets, health care payor types,  health care payor type fraud prevention")%>
<% meta_description("HCI provides various market sector claims payors with a suite of clinically validated fraud services designed to maximize claims accuracy") %>
<% page_title("Public Health Care Sector Fraud Prevention Services") %>

<% content_for :banner do %>
  <%= render :partial => "health_care/markets_banner" %>
<% end %>
<div class="grid_12 alpha omega">
  <%= render :partial => "health_care/market_steps" %>
</div>
<div class="grid_12 alpha omega">
  <div class="service_wrap">
    <%= render :partial => "health_care/market_boxes" %>
  </div>
</div>
<%= render :partial => "health_care/markets_grid" %>