
<% meta_keywords("nucleus fraud prevention software, fraud prevention software, payor software solutions, heath care fraud prevention solutions, health care fraud software")%>
<% meta_description("Nucleus is a fraud prevention software solution.") %>

<% content_for :banner do %>
  <%= render :partial => "health_care/nucleus_banner" %>
<% end %>

<div class="nucleus_content_wrap grid_12 alpha omega benefit_grid">
  <div class="nucleus_content nucleus_text">
    <h3>Get-Real Time Nucleus Updates</h3>
    <p>
      Want to know the latest on all things Nucleus? Sign up for real-time updates and news on the industry’s most advanced payment integrity platform. We’ll send you emails and links to learn about the latest Nucleus features, functions and benefits. Nucleus is built and updated in 6 – 8 week development sprints and emails will accompany releases.
    </p>
  </div>
  <div class="nucleus_content nucleus_form">
    <%= render :partial => "health_care/nucleus_form" %>
  </div>
</div>
<div class="nucleus_service_top_stripe"></div>
<div class="nucleus_service_bottom_stripe">
  <div class="nucleus_stripe_icon"></div>
</div>