<% meta_keywords("nucleus fraud prevention software, fraud prevention software, payor software solutions, heath care fraud prevention solutions, health care fraud software, SaaS solution")%>
<% meta_description("Nucleus is a fraud prevention SaaS application designed to help you minimize fraud and abuse in your claims payments.") %>

<% content_for :banner do %>
  <%= render :partial => "health_care/nucleus_banner2" %>
<% end %>

<div id="nucleus_element_boxes" class="nucleus_content_wrap grid_12 alpha omega benefit_grid">
  <div id="box1" class="element_box">
    <div class="inner_element_box blue"></div>
  </div>
  <div id="box2" class="element_box">
    <div class="inner_element_box green"></div>
  </div>
  <div id="box3" class="element_box">
    <div class="inner_element_box red"></div>
  </div>
  <div id="box4" class="element_box last">
    <div class="inner_element_box yellow"></div>
  </div>
</div>
<div class="nucleus_content_footer">
  <%= link_to "Get-Nucleus", "http://www.get-nucleus.com", :target => "_blank" %>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var flipTriggers = $("#nucleus_element_boxes .element_box");
      panels.setFlipTriggers(flipTriggers);
    });
  </script>
<% end %>