<% meta_keywords("healthcare insight partners, fraud fighting partners")%>
<% meta_description("HCI provides public sector claims payors (Medicaid, Medicare Advantage, SCHIP, etc.) with a comprehensive suite of clinically validated fraud and abuse surveillance services designed to maximize claims administration accuracy and minimize payment waste.") %>
<% page_title("HealthCare Insight Partners") %>

<% content_for :banner do %>
  <%= render :partial => "health_care/partners_banner" %>
<% end %>
<div class="benefits_content grid_12 alpha omega">
  <h2 class="page_header partners_header full_wrap">Strength in Numbers</h2>
  <p class="benefits_sub_text partners_sub_text orange">The HCI Family</p>
  <%= render :partial => "health_care/partners_grid" %>
</div>
<div class="benefits_content grid_12 alpha omega">
  <h2 class="page_header service_partners">Service and Technology Partners</h2>
  <div class="partner_grids service_wrap">
    <%= render :partial => 'health_care/partner_grids' %>
  </div>
</div>