<% meta_keywords("healthcare insight partners, fraud fighting partners")%>
<% meta_description("HealthCare Insight strategic partners Leavitt Group, The Assist Group, Biologics, Qmedix and various others helping minimize your claims fraud and waste.") %>
<% page_title("HealthCare Insight Partners") %>

<% content_for :banner do %>
  <%= render :partial => "health_care/partners_banner" %>
<% end %>
<div class="benefits_content grid_12 alpha omega">
  <h2 class="page_header partners_header full_wrap">Strength in Numbers</h2>
  <p class="benefits_sub_text orange">
    We aren't just another vendor with just another product.<br/>
    We're changing the P&C sector with better technology,<br/>
    better clinicians, better service and better savings results. 
    
  </p>
  <%= render :partial => "health_care/partners_grid" %>
</div>
<div class="benefits_content grid_12 alpha omega">
  <h2 class="page_header service_partners">Service and Technology Partners</h2>
  <div class="partner_grids service_wrap">
    <%= render :partial => 'health_care/partner_grids' %>
  </div>
</div>