<% meta_keywords("private health care sector, private health care fraud, private sector insurance payor, private sector claims payment software")%>
<% meta_description("HCI provides private sector claims payors with a suite of validated fraud services to maximize claims accuracy. Medicaid, Medicare Advantage, SCHIP") %>
<% page_title("Private Health Care Sector Fraud Prevention Services") %>

<% content_for :banner do %>
  <%= render :partial => "health_care/private_banner" %>
<% end %>
<div class="benefits_content grid_12 alpha omega">
  <h2 class="page_header private_header full_wrap">Private Sector</h2>
  <p class="benefits_sub_text orange">
      We aren't just another vendor with just another product.<br/>
      We're changing the private sector with better technology,<br/>
      better clinicians, better service and better savings results.
    </p>
  <%= render :partial => "health_care/private_content", :locals => {:services => @services} %>
</div>