<% meta_keywords("healthcare insight privacy policy")%>
<% meta_description("HealthCare Insight respects the privacy of every individual who visits www.hcinsight.com. HealthCare Insight wants you to fully understand what information we gather about you through the Web site.") %>
<% page_title("Privacy Policy") %>

<% content_for :banner do %>
  <%= render :partial => "health_care/privacy_policy_banner" %>
<% end %>
<div id="policy_page" class="grid_7 alpha omega full_20_wrap">
  <h2 class="orange">HealthCare Insight<sup>&reg;</sup> Privacy Policies, Disclaimers, Copyright Information, and Terms of Use</h2>
  <ol class="content_wrap">
    <li>
      <h4>General</h4>
      <p>
        HealthCare Insight<sup>&reg;</sup> respects the privacy of every individual who visits www.hcinsight.com. HealthCare Insight<sup>&reg;</sup> wants you to fully understand what information we gather about you through the Web site, how that information is collected, how that information is used and how you can control the collection and/or use of information about you. Please read this Policy carefully.
      </p>
    </li>
    <li>
      <h4>Personally-Identifiable Information </h4>
      <p>
        There are cases where HealthCare Insight<sup>&reg;</sup> may ask you for personally-identifiable information such as your name, mailing address and email address. We may also collect information from email, letters or other correspondence that you send us. HealthCare Insight<sup>&reg;</sup> will not collect any personally-identifiable information about you unless you provide it to us voluntarily, with the exception of your computer's IP address. The IP address is an identifier unique to each computer or internet usage session. Web site users may request that HealthCare Insight<sup>&reg;</sup> not use personally-identifiable information previously provided, correct information previously provided, or remove information previously provided to HealthCare Insight&copy;. If you wish to take such action, please contact us.
        When you do provide us with personally-identifiable information, HealthCare Insight<sup>&reg;</sup> may:
      </p>
    </li>
    <li>
      <ul class="bulleted">
        <li>
          Store and process that information to enhance your experience with HealthCare Insight<sup>&reg;</sup> so that we provide a service that is relevant and easy to use;
        </li>
        <li>
          Use that information to contact you for informational, marketing and promotional purposes on behalf of HealthCare Insight<sup>&reg;</sup> and third parties, including welcoming you back to the Web site or informing you of service enhancements or promotional items;
        </li>
        <li>
          Disclose that information to third parties when we have reason to believe that disclosing this information is necessary to identify, contact or bring legal action against someone who may be causing injury to or interference with (either intentionally or unintentionally) HealthCare Insight<sup>&reg;</sup> rights or property, other users of the Web site, or anyone else that could be harmed by such activities;
        </li>
        <li>
          Disclose that information to third parties when we believe in good faith that the disclosure is required by law or a court of competent jurisdiction;
        </li>
        <li>
          In addition, as HealthCare Insight<sup>&reg;</sup> continues to develop its business, we may sell or buy other businesses or assets. A buyer or successor will have access to our customer lists as this information is considered a transferable business asset. Except as stated in this Policy, or as otherwise stated at the time personally-identifiable information is gathered, we will not provide personally-identifiable information to third parties.
        </li>
      </ul>
    </li>
    <li>
    <h4>Non-Personally-Identifiable Information</h4>
    <p>HealthCare Insight<sup>&reg;</sup> may also collect information about you that is not personally-identifiable. Examples of this type of information may include your age, gender, interests and preferences and the type of Internet browser you are using, the type of computer operating system you are using, and the domain name of the Web site from which you linked to the Web site. HealthCare Insight<sup>&reg;</sup> may share this information with advertisers, business partners, sponsors or other third parties. For example, HealthCare Insight<sup>&reg;</sup> may inform a sponsor that the users of the Web site is x percent females and y percent males. This data is used to customize the Web site's content and advertising, and will deliver a better experience to our users.</p>
    </li>
    <li>
    <h4>Children</h4>
    <p>The Web site is not directed to individuals under thirteen years of age, and HealthCare Insight<sup>&reg;</sup> does not intend to collect any personally-identifiable information from such individuals.</p>
    <li>
      <h4>Cookies</h4>
      <p>
        Cookies are electronic files on your hard drive. Cookies cannot read data off your hard drive; they store identification information about you. HealthCare Insight<sup>&reg;</sup>, like the operators of many other Web sites, uses the cookies to identify you when you visit the Web site. HealthCare Insight<sup>&reg;</sup> may also use the cookie to recognize you to help ensure the security of confidential information. HealthCare Insight<sup>&reg;</sup> uses the information from cookies to personalize services and determine the amount and type of traffic at the Web site. Cookies also provide us with information about your clickstream, that is, the way that you navigate through the Web site, so that we can better design the Web site for your use.
        Most browsers allow you to disable or delete your cookies. HealthCare Insight<sup>&reg;</sup> would prefer to provide you with personalized services through cookies and not all services may be available to those who disable or delete cookies.
      </p>
    </li>
    <li>
      <h4>Links to Other Web sites</h4>
      <p>
        The Web site may provide links to various other Web sites. HealthCare Insight<sup>&reg;</sup> assumes no responsibility for the information practices of sites you are able to access through the Web site. These links to other sites do not imply any affiliation or endorsement of a linked site.
      </p>
    </li>
    <li>
      <h4>Security</h4>
      <p>
        The importance of security of all personally-identifiable information associated with our users is of utmost concern to us. Unfortunately, no data transmission over the Internet can be guaranteed to be secure. While we strive to protect your personally-identifiable information, HealthCare Insight<sup>&reg;</sup> can't ensure or warrant the security of any information you transmit to us or from our on-line products or services, and you do so at your own risk. Once we receive your personally-identifiable information, we will take reasonable efforts to ensure its security on our systems.
      </p>
    </li>
    <li>
      <h4>Your Acceptance of These Terms</h4>
      <p>
        By using the Web site, you signify your assent to the HealthCare Insight<sup>&reg;</sup> Privacy Policy. If you do not agree to this Policy, please do not use the Web site.
      </p>
    </li>
    <li>
      <h4>Modification of These Terms</h4>
      <p>
        The process of maintaining this Web site is an evolving one, and HealthCare Insight<sup>&reg;</sup> may decide at some point in the future to modify these terms. Your continued use of the Web site following the posting of changes to the terms will mean you accept those changes.
      </p>
    </li>
    <li>
      <h4>Who to Contact</h4>
      <p>
        If you have questions or concerns regarding this Privacy Policy, you should contact HealthCare Insight<sup>&reg;</sup> by telephone at 801.285.5800; or by using this form.
      </p>
    </li>
    </ol>
    
    <h3 class="orange">Terms and Conditions</h3>
    
    <ol>
      <li>
        <h4>Terms of Use</h4>
        <p>
          Your use of this HealthCare Insight<sup>&reg;</sup> Web site is governed by the policies, terms, and conditions set forth below. Please read them carefully. By using this site, you indicate your acceptance of, and agreement to be bound by, the terms and conditions set forth below (also referred to as this "Agreement"). If you do not agree to these terms and conditions, you may not use this site. We reserve the right to make changes to this site and to these terms of use at any time. Any such modifications will become effective upon the date they are first posted to this site.
        </p>
      </li>
      <li>
        <h4>Copyright and Trademark Notice</h4>
        <p>
          All screens appearing on this site including graphics, text elements, site design, logos, images, and icons, as well as the selection, assembly, and arrangement thereof, are the sole property of HealthCare Insight<sup>&reg;</sup>, Copyright &copy;1996 - 2008 HealthCare Insight<sup>&reg;</sup> unless otherwise specified. All rights not expressly granted herein are reserved. Except as otherwise required by applicable law, any reproduction, distribution, modification, retransmission, or publication of any copyrighted material is strictly prohibited without the express written consent of the copyright owner. HealthCare Insight<sup>&reg;</sup>, the HealthCare Insight<sup>&reg;</sup> logo, PhysicianClaim Insight<sup>&reg;</sup>, the PhysicianClaim Insight<sup>&reg;</sup> logo, DentalClaim Insight<sup>&reg;</sup>, and the DentalClaim Insight<sup>&reg;</sup> logo, FacilityClaim Insight<sup>&reg;</sup>, FacilityClaim Insight<sup>&reg;</sup> logo, RxClaim Insight<sup>&reg;</sup>, RxClaim Insight<sup>&reg;</sup> logo are registered trademarks and service marks of HealthCare Insight<sup>&reg;</sup>.  All other marks, names, and logos mentioned herein are the property of their respective owners.
        </p>
      </li>
    <li>
      <h4>Site Content and Information</h4>
      <p>
        Our Web site may contain information, advice, text, and other materials ("Information") that are provided for your convenience. You should be aware that the Information may contain errors, omissions, inaccuracies, or outdated information. HealthCare Insight<sup>&reg;</sup> makes no representations or warranties as to the completeness, accuracy, adequacy, currency, or reliability of any Information and shall not be liable for any lack of the foregoing. Descriptions of, or references to, third party products or publications do not imply endorsement of that product or publication. We are not engaged in rendering legal, accounting, or other similar advice or professional services. If legal advice or other expert assistance is required, the services of a competent professional should be sought.
      </p>
    </li>
    <li>
      <h4>Indemnity</h4>
      <p>
        You agree to indemnify and hold HealthCare Insight<sup>&reg;</sup>, and its subsidiaries, affiliates, officers, agents, co-branders or other partners, and employees, harmless from any claim or demand, including reasonable attorney's; fees, made by any third party due to or arising out of your use of any HealthCare Insight Web site, your violation of this Agreement, or your violation of any rights of another.
      </p>
    </li>
    <li>
      <h4>Third Party Sites</h4>
      <p>
         This Web site may contain hyperlinks to Web sites operated by parties other than HealthCare Insight<sup>&reg;</sup>. Such hyperlinks are provided for your reference only. HealthCare Insight<sup>&reg;</sup> does not control such Web sites and is not responsible for their contents. HealthCare Insight<sup>&reg;</sup> inclusion of hyperlinks to such Web sites does not imply any endorsement of the material on such Web sites or any association with their operators.
      </p>
    </li>
    <li>
      <h4>Privacy</h4>
      <p>
        HealthCare Insight<sup>&reg;</sup> is concerned with protecting your privacy. You may read the most recent published privacy policy (link to: Privacy Policy) statement. This policy may be changed at any time, with or without written notice. All changes to the privacy policy will be posted on this Web site.
      </p>
    </li>
    <li>
      <h4>Disclaimer and Limitation of Liability</h4>
      <p>
        HealthCare Insight<sup>&reg;</sup> AND ITS SUPPLIERS MAKE NO WARRANTY OR REPRESENTATION OF ANY KIND, EITHER EXPRESS OR IMPLIED, WITH RESPECT TO THE INFORMATION OR YOUR USE OF THIS WEB SITE OR ANY OTHER HealthCare Insight<sup>&reg;</sup> WEB SITE. HealthCare Insight<sup>&reg;</sup> AND ITS SUPPLIERS EXCLUDE ANY AND ALL IMPLIED WARRANTIES, INCLUDING WARRANTIES AGAINST INFRINGEMENT, MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE. WITHOUT LIMITING THE FOREGOING, HealthCare Insight<sup>&reg;</sup> DOES NOT WARRANT THAT THE INFORMATION OR HealthCare Insight<sup>&reg;</sup> WEB SITE IS OR WILL BE ACCURATE, ERROR-FREE OR UNINTERRUPTED. THE INFORMATION AND HealthCare Insight<sup>&reg;</sup> WEB SITES ARE PROVIDED "AS IS" AND YOU ASSUME THE ENTIRE RISK AS TO THEIR QUALITY AND PERFORMANCE. UNDER NO CIRCUMSTANCES AND UNDER NO LEGAL THEORY, TORT, CONTRACT, OR OTHERWISE, WILL HealthCare Insight<sup>&reg;</sup> OR ITS SUPPLIERS BE LIABLE FOR DIRECT, INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES (INCLUDING WITHOUT LIMITATION, LOSS OF PROFITS, LOSS OR CORRUPTION OF DATA, LOSS OF GOODWILL, WORK STOPPAGE, COMPUTER FAILURE OR MALFUNCTION, OR INTERRUPTION OF BUSINESS) ARISING OUT OF THE USE OR INABILITY TO USE THE INFORMATION OR ANY HealthCare Insight<sup>&reg;</sup> WEB SITE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. NO HealthCare Insight<sup>&reg;</sup> DEALER, AGENT, OR EMPLOYEE IS AUTHORIZED TO MAKE ANY ADDITION OR MODIFICATION TO THIS WARRANTY. Some states/localities do not allow the exclusion of implied warranties or the exclusion of liability for incidental or consequential damages, so the above limitations and exclusions may not apply to you.
      </p>
    </li>
    <li>
      <h4>Miscellaneous</h4>
      <p>
        This Agreement constitutes the entire agreement between you and HealthCare Insight<sup>&reg;</sup> with reference to the HealthCare Insight<sup>&reg;</sup> Web sites. This Agreement will be governed by the laws of the Commonwealth of Utah, USA, except for those dealing with conflicts of law. In the event of any dispute involving the HealthCare Insight<sup>&reg;</sup> Web sites, HealthCare Insight<sup>&reg;</sup> and you each consent to exclusive jurisdiction and venue in either the state or federal courts in the Commonwealth of Massachusetts and agree that the prevailing party shall be entitled to its reasonable attorney fees and costs. Use of any HealthCare Insight<sup>&reg;</sup> Web site is unauthorized in any jurisdiction that does not give effect to all provisions of these terms and conditions, including without limitation this paragraph. In the event any provision of this Agreement shall be deemed unenforceable, void or invalid, such provision shall be modified so as to make it valid and enforceable, and as so modified the entire Agreement shall remain in full force and effect. No failure or delay in exercising any right, power or privilege hereunder shall operate as a waiver thereof, nor shall any single or partial exercise thereof preclude any other or further exercise thereof or the exercise of any right, power or privilege hereunder.
      </p>
    </li>
  </ol>
</div>
<div class="right">
  <%= render :partial => 'articles/articles_micro_list', :locals => {:objects => @articles} %>
</div>