<% meta_keywords("private health care sector, private health care fraud, private sector insurance payor, private sector claims payment software")%>
<% meta_description("HCI provides private sector claims payors (Medicaid, Medicare Advantage, SCHIP, etc.) with a comprehensive suite of clinically validated fraud and abuse surveillance services designed to maximize claims administration accuracy and minimize payment waste.") %>
<% page_title("Private Health Care Sector Fraud Prevention Services") %>

<% content_for :banner do %>
  <%#= render :partial => "health_care/private_banner" %>
  <%= render :partial => "health_care/public_banner" %>
<% end %>
<div class="benefits_content grid_12 alpha omega">
  <h2 class="page_header private_header full_wrap">Private Sector</h2>
  <p class="sector_sub_header orange">We have the tools to help you<br/>stop fraud, abuse and overpayment</p>
  <%= render :partial => "health_care/public_content" %>
</div>