<% meta_keywords("public health care sector, public health care fraud, public sector insurance payor, public sector cliams payment software")%>
<% meta_description("HCI provides public sector claims payors (Medicaid, Medicare Advantage, SCHIP, etc.) with a comprehensive suite of clinically validated fraud and abuse surveillance services designed to maximize claims administration accuracy and minimize payment waste.") %>
<% page_title("Public Health Care Sector Fraud Prevention Services") %>

<% content_for :banner do %>
  <%= render :partial => "health_care/public_banner" %>
<% end %>
<div class="benefits_content grid_12 alpha omega">
  <h2 class="page_header public_header full_wrap">Public Sector</h2>
  <p class="sector_sub_header orange">We have the tools to help you<br/>stop fraud, abuse and overpayment</p>
  <%= render :partial => "health_care/public_content" %>
</div>