<% meta_keywords("health care markets, health care payor types,  health care payor type fraud prevention")%>
<% meta_description("HCI provides public sector claims payors (Medicaid, Medicare Advantage, SCHIP, etc.) with a comprehensive suite of clinically validated fraud and abuse surveillance services designed to maximize claims administration accuracy and minimize payment waste.") %>
<% page_title("Public Health Care Sector Fraud Prevention Services") %>

<% content_for :banner do %>
  <%= render :partial => "health_care/markets_banner" %>
<% end %>
<div class="grid_12 alpha omega">
  <%= render :partial => "health_care/market_steps" %>
</div>
<div class="grid_12 alpha omega">
  <div class="service_wrap">
    <%= render :partial => "health_care/market_boxes" %>
  </div>
</div>
<%= render :partial => "health_care/markets_grid" %>