<% meta_keywords("health care resources, health care fraud fighting resources, fraud fighting tools, health care fraud prevention tools")%>
<% meta_description("HealthCare Insight provides many resources and tools to help you combat health care fraud.") %>
<% page_title("Health Care Resources ") %>

<% content_for :banner do %>
  <%= render :partial => "health_care/markets_banner" %>
<% end %>
<div class="grid_12 alpha omega">
  <%= render :partial => "health_care/market_steps" %>
</div>
<div class="grid_12 alpha omega">
  <div class="service_wrap">
    <%= render :partial => "health_care/market_boxes" %>
  </div>
</div>
<%= render :partial => "health_care/markets_grid" %>