<% meta_keywords("workers comp health care sector, workers comp health care fraud, workers comp sector insurance payor, workers comp sector claims payment software")%>
<% meta_description("HCI provides workers comp claims payors with a comprehensive suite of clinically validated fraud and abuse surveillance services designed to maximize claims administration accuracy and minimize payment waste.") %>
<% page_title("Workers Comp Health Care Sector Fraud Prevention Services") %>

<% content_for :banner do %>
  <%= render :partial => "health_care/workers_comp_banner" %>
<% end %>
<div class="benefits_content grid_12 alpha omega">
  <h2 class="page_header workers_comp_header full_wrap">Workers Compensation</h2>
  <p class="benefits_sub_text orange">
    We aren't just another vendor with just another product.<br/>
    We're changing the P&C sector with better technology,<br/>
    better clinicians, better service and better savings results.
  </p>
  <%= render :partial => "health_care/workers_comp_content", :locals => {:services => @services} %>
</div>