<% meta_keywords("workers comp health care sector, workers comp health care fraud, workers comp sector insurance payor, workers comp sector claims payment software")%>
<% meta_description("HCI provides workers comp claims payors with a comprehensive suite of clinically validated fraud and abuse surveillance services designed to maximize claims administration accuracy and minimize payment waste.") %>
<% page_title("Workers Comp Health Care Sector Fraud Prevention Services") %>

<% content_for :banner do %>
  <%= render :partial => "health_care/workers_comp_banner" %>
<% end %>
<div class="benefits_content grid_12 alpha omega">
  <h2 class="page_header workers_comp_header full_wrap">Workers Compensation</h2>
  <p class="sector_sub_header orange">We have the tools to help you<br/>stop fraud, abuse and overpayment</p>
  <%= render :partial => "health_care/public_content" %>
</div>