<p>
  <% for asset in ticket.ticket_assets %>
    <% fields_for "ticket[attachments][]", asset do |asset_form|%>
      <%= asset_form.label "Attachment" %><br />
      <%= asset_form.file_field :attachment, :size => 16 %>
    <% end %>
  <% end %>
</p>