<div class="contact_banner">
  <h2 class="text_indent">Contact Us</h2>
  <div class="contact_banner_text_wrap">
    <h3>We Want To Hear From You</h3>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
  <%= render :partial => 'contacts/contact_form' %>
</div>