<div class="contact_banner">
  <h2 class="text_indent">Contact Us</h2>
  <div class="contact_banner_text_wrap">
    <h3>We Want To Hear From You.</h3>
    <p>
      Feel free to email us with your ideas, thoughts and questions. If you'd like to speak with one of our sales team experts, please indicate your request in the &quot;Comments&quot; section to the right or call us at (877) 619-5557.
    </p>
  </div>
  <%= render :partial => 'contacts/contact_form' %>
</div>