<% content_for :banner do %>
  <%= render :partial => 'contacts/banner' %>
<% end %>
<div class="grid_10">
  <h2 class="top_space red"><%= @form[:contact_us_contact_name] %>, thank you. Someone will respond shortly</h2>
  <p class="grid_11 alpha omega large_bottom_margin content_wrap">
    
  </p>
</div>