<div class="contact_sidebar">
  <div class="contact_block_wrap full_wrap">
    <div class="letter_box contact_phone_header"></div> 
    <div class="contact_info_block">
      <h3>Phone</h3>
      <span>877.619.5557</span>
    </div>
  </div>
  
  <div class="contact_block_wrap full_wrap">
    <div class="letter_box contact_phone_header"></div> 
    <div class="contact_info_block">
      <h3>Fax</h3>
      <span>801.285.5801</span>
    </div>
  </div>
  
  <div class="contact_block_wrap full_wrap"> 
    <div class="letter_box contact_phone_header"></div> 
    <div class="contact_info_block">    
      <h3>Email</h3>
      <span>info@hcinsight.com</span>
    </div>
  </div>
  
  <div class="contact_block_wrap full_wrap">  
    <div class="letter_box contact_phone_header"></div> 
    <div class="contact_info_block">    
      <h3>Web</h3>
      <span>www.hcinsight.com</span>
    </div>
  </div>
  
  <div class="divider"></div>
  
  <div class="contact_block_wrap full_wrap">  
    <div class="letter_box contact_phone_header"></div> 
    <div class="contact_info_block">    
      <h3>Connect With HCI</h3>
      <span>Twitter | Facebook</span><br/>
      <span>Linkedin | YouTube</span>
    </div>
  </div>
  
  <div class="contact_block_wrap full_wrap">  
    <div class="letter_box contact_phone_header"></div> 
    <div class="contact_info_block">    
      <h3>HCI Fraud Resources</h3>
      <span>www.profilermag.com</span><br/>
      <span>www.stophealthcarefraud.com</span>
    </div>
  </div>
  <div class="divider"></div>
  
  <div class="contact_block_wrap full_wrap">  
    <div class="letter_box contact_phone_header"></div>
    <div class="contact_info_block">    
      <h3>Mail</h3>
      <span>HealthCare Insight</span><br/>
      <span>10897 S. River Front Parkway</span><br/>
      <span>Suite 200</span><br/>
      <span>South Jordan, UT 84095</span>
    </div>
  </div>
  <div class="clear"></div>
</div>

