<div class="contact_thank_you">
  <h2 class="text_indent">Thank You</h2>
  <div class="contact_thank_you_text_wrap">
    <h3>An HCI Specialist will contact you shortly</h3>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
   <%= render :partial => "layouts/cta_bar" %>
</div>