<div class="nucleus_banner">
  <% if document.issuu_url? %>
  <div id="issuu_frame">
   <iframe src="<%= document.issuu_url %>"></iframe>
  </div>
  <% end %>
</div>
<div class="grid_12 alpha omega">
  <%= render :partial => 'resources/resource_brochures', :locals => {:documents => documents} %>  
</div>