<% page_title "Links About Health Care "%>

<% content_for :banner do %>
  <%= render :partial => "links/banner" %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'layouts/sub_boxes' %>
<% end %>

<!-- Render Helper Module Here -->
<% @links.each do |link| %>
  <%= index_link(link) %>
<% end %>
<div>
  <%= link_to "Back", request.env["HTTP_REFERER"], :class => "btn"%>
</div>