<div id="slider" class="grid_12 alpha">
  <div id="banner1" class="panel">
    <%= image_tag "banners/inner_banners/resources_banner.png", :alt => "HealthCare Insight Resources" %>
  </div>
  <%#= render :partial => "layouts/cta_bar" %>
</div>