<div class="resource_section resource_press_releases">
   <h3 class="orange">HCI Press Releases</h3>
   <div class="service_wrap sub_news_box">
   <% objects.each do |obj| %>
     <%= render :partial => 'articles/article_list', :locals => {:obj => obj} %>
   <% end %>
   </end>
</div>