<% meta_keywords("health care resources")%>
<% meta_description("HealthCare Insight provides many resources to help you combat health care fraud.") %>
<% page_title("Health Care Media Lab ") %>

<% content_for :banner do %>
  <%= render :partial => "health_care/banners" %>
<% end %>
<div class="grid_12 alpha omega">
 <%= link_to "Profiler Magazine", issue_path  %>
</div>
