<% page_title("Health Care Media Lab ") %>

<% content_for :banner do %>
  <%= render :partial => 'resources/banner' %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'layouts/media_sub_boxes' %>
<% end %>
<div class="index_list">
  <h2 class="lightblue">HCI Documents</h2>
<%= render :partial => "documents/index_document", :locals => {:documents => @documents} %>
</div>
<div class="index_list">
  <h2 class="lightblue">Health Care Links</h2>
  <%= render :partial => "links/index_link", :locals => {:links => @links} %>
</div>
