<% meta_keywords("health care resources")%>
<% meta_description("HealthCare Insight provides many resources to help you combat health care fraud.") %>
<% page_title("Health Care Media Lab ") %>

<% content_for :banner do %>
  <%= render :partial => "health_care/banners" %>
<% end %>

<div class="index_list grid_5 round">
  <h2 class="lightblue">HCI Documents</h2>
<%= render :partial => "documents/index_document", :locals => {:documents => @documents} %>
</div>
<div class="index_list grid_5 round">
  <h2 class="lightblue">Health Care Links</h2>
  <%= render :partial => "links/index_link", :locals => {:links => @links} %>
</div>
