<div class="service_wrap resource_section resource_claim_saver_section">
  <div class="resource_video_header">
    <h3 class="orange">ClaimSaver Webinar Series</h3>
  </div>
  <div class="claim_saver_wrap">
    Video Here
  </div>
  <div class="claim_saver_wrap claim_saver_content">
    <h2 class="facilityclaim-insight_color">FacilityClaim Insight&reg; Webinar</h2>
    <p>
      Learn about the latest tools and techniques being used to decrease facility claims costs.
    </p>
  </div>
  <%= link_to "View More Webinars", videos_path, :class => "resource_video_link" %>
</div>