<div class="service_wrap resource_section resource_claim_saver_section">
  <div class="resource_video_header">
    <h3 class="orange">ClaimSaver Webinar Series</h3>
  </div>
  <div class="claim_saver_wrap claim_saver_video_box">
  </div>
  <div class="claim_saver_wrap claim_saver_content">
    <h2 class="facilityclaim-insight_color">Humor and the American Hospital Bill</h2>
    <p>
      As a payor, you may not share the humor that springs from overcharges that bloat 99 percent of hospital bills. But there’s something you can do about it, and that’s the focus of this thirty-minute edition of our ClaimSaver Webinar Series. Without changing your existing facility claim review program, you can take one small additional step an reap significant savings off your payable charges.
    </p>
		<p>
			<%= link_to "Register Here", "" %>
		</p>
  </div>
  <%= link_to "View More Webinars", videos_path, :class => "resource_video_link" %>
</div>