<div id="cta_bar" class="grid_12 alpha omega">
  <div class="cta_button cta_view_demo highlight"><%= link_to "Meet Nucleus", nucleus_path %></div>
  <div class="cta_button cta_free_trial highlight"><%= link_to "Free Trial", "#" %></div>
</div>