<div id="cta_bar" class="grid_12 alpha omega">
  <div class="cta_button cta_view_demo <%= s.permalink %>_demo_button highlight"><%= link_to "View Demo", "" %></div>
  <div class="cta_button cta_free_trial <%= s.permalink %>_trial_button highlight"><%= link_to "Free Trial", "#" %></div>
</div>