<div class="employee_nav grid_16 alpha omega">
  <ul id="employee_nav_ul">
    <li class="employee_welcome">Welcome <%= current_employee.fullname %></li>
    <li><%= link_to "My Page", employee_path(current_employee) %></li>
    <li><%= link_to "New Ticket", new_ticket_path %></li>
    <li><%= link_to "HCI Directory", employees_path %></li>
  </ul>
</div>