<div id="flash" class="flash_html round2 no_display">
  <% unless flash[:notice].blank? %>
  <%= flash[:notice]%>
  <% end %>
  <% unless flash[:error].blank? %>
  <%= flash[:error]%>
  <% end %>
</div>