<div id="sub_box1" class="grid_4 alpha omega sub_box">
 <%= render :partial => "contacts/contact_us_sub_box", :locals => {:color => "green"} %>
</div>
<div id="sub_box2" class="grid_4 alpha omega sub_box">
  <%= render :partial => "resources/media_lab_sub_box", :locals => {:color => "lightblue"} %>
</div>
<div id="sub_box3" class="grid_4 alpha omega sub_box">
    <%= render :partial => "health_care/social_media_sub_box", :locals => {:color => "purple"} %>
</div>
<div id="sub_box4" class="grid_4 alpha omega sub_box">
  <%= render :partial => "health_care/fraud_calculator_sub_box", :locals => {:color => "maroon"} %>
</div>