<div id="top_link_wrap">
  <div id="top_links">
    <ul>
      <li class="first"><%= link_to "Home", home_path %></li>
      <li><%= link_to "WebEx", "https://hcinsight.webex.com/mw0305l/mywebex/default.do?siteurl=hcinsight" %></li>
      <li>
        <% if current_employee %>
          <%= link_to "Logout", employee_logout_path %>
        <% else %>
          <%= link_to "Login", employee_login_path %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
