<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>HealthCare Insight Free Trial</title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="description" content="Elevate your claims payment accuracy, identify fraudulent providers and decrease your facility claims costs.
">
<meta name="keywords" content="facility claims, facility fraud">
<meta name="copyright" content="Copyright 2009 HCI an Verisk Health Company">
<meta name="title" CONTENT="HealthCare Insight">
<link ref="shortcut icon" href="http://stage.hcinsight.com/services/favicon.ico"   type="image/ico" />
<link href="http://stage.hcinsight.com/stylesheets/all.css?1260987532" media="screen" rel="stylesheet" type="text/css" />
<%= stylesheet_link_tag 'landing' %>
<!--[if lt IE 7]>
  <link rel="stylesheet" type="text/css" href="http://stage.hcinsight.com/services/stylesheets/IE6.css" />
<![endif]-->

<!--[if lt IE 7]>
  <link rel="stylesheet" type="text/css" href="http://stage.hcinsight.com/services/stylesheets/IE6.css" />
<![endif]-->


<!-- <script type="text/javascript" src="http://yui.yahooapis.com/combo?2.7.0/build/yahoo-dom-event/yahoo-dom-event.js&2.7.0/build/element/element-min.js&2.7.0/build/datasource/datasource-min.js&2.7.0/build/datatable/datatable-min.js"></script> -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/yui/2.8.0r4/build/yuiloader/yuiloader-min.js"></script>
<script src="http://cdn.jquerytools.org/1.1.2/full/jquery.tools.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script src="http://stage.hcinsight.com/javascripts/all.js?1260987532" type="text/javascript"></script>
<script src="http://stage.hcinsight.com/javascripts/flowplayer.js?1260987532" type="text/javascript"></script>
<script src="http://stage.hcinsight.com/javascripts/application.js?1260987532" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="/css/form.css?ver=2" />
<script type="text/javascript" src="/js/prototype.js"></script>
<script type="text/javascript" src="/js/builder.js"></script>
<script type="text/javascript" src="/js/effects.js"></script>
</head>
<body class="yui-skin-sam">
  <!-- Application Layout -->
  <div id="wrapper" class="container_12">
	  <div id="hd" class='grid_12 alpha omega'>
      <a href="http://stage.hcinsight.com/"><h1 id='hci_logo'>Health Care Insight</h1></a>

<div id="top_link_wrap">
  <div id="top_links">
    <ul>
      <li class="first"><div id="search_box_wrap" class="content_wrap right">
  <form action="/health-care-search-results" method="get">
  <input id="search" name="search" type="text" />
  <input title="Search HealthCare Insight" type="submit" value="Search" />
  </form>
</div></li>
      <li><a href="https://hcinsight.webex.com/mw0305l/mywebex/default.do?siteurl=hcinsight">WebEx</a></li>

      <li>
        
          <a href="http://stage.hcinsight.com/employee_login">Login</a>
        
      </li>
    </ul>
  </div>
</div>

<div id="main_nav" class="grid_12 alpha omega">
  <ul id="main_nav_ul" class="nav_ul">
    <li class="main_nav_li nav1 highlight"><a href="http://stage.hcinsight.com/health-care" class="main_nav_a" id="home">Home</a></li>

    <li class="main_nav_li nav2 highlight"><a href="http://stage.hcinsight.com/services" class="main_nav_a" id="services">Services</a></li>
    <li class="main_nav_li nav3 highlight"><a href="http://stage.hcinsight.com/benefits" class="main_nav_a" id="benefits">Benefits</a></li>
    <li class="main_nav_li nav4 highlight"><a href="http://stage.hcinsight.com/heatlhcare-insight-markets" class="main_nav_a" id="markets">Markets</a></li>
    <li class="main_nav_li nav5 highlight"><a href="http://stage.hcinsight.com/health-care-resources" class="main_nav_a" id="resources">Resources</a></li>
    <li class="main_nav_li nav6 highlight"><a href="http://stage.hcinsight.com/nucleus" class="main_nav_a" id="nucleus">Meet Nucleus</a></li>
    <li class="main_nav_li nav7 highlight"><a href="http://stage.hcinsight.com/healthcare-insight-free-trial" class="main_nav_a" id="free_trial">Free Trial</a></li>

    <li class="main_nav_li nav8 highlight"><a href="http://stage.hcinsight.com/about-healthcare-insight" class="main_nav_a" id="about_us">About Us</a></li>
    <li class="main_nav_li nav9 highlight last"><a href="http://stage.hcinsight.com/contact-healthcare-insight" class="main_nav_a" id="contact">Contact</a></li>
  </ul>
</div>
	  </div>
	  <div class="clear"></div>
    <div id="bd" class="grid_12 alpha omega">
      
      <%= yield %>
      <div id="banner" class="grid_12 alpha omega">

        
  <div class="inner_banners grid_12 alpha omega">
  <img alt="Stop Fraud Now" class="inner_banner" src="http://stage.hcinsight.com/images/banners/inner_banners/facilityclaim-insight_banner2.png?1260987532" />
</div>
</div>


      </div>
      <div class="clear"></div>
      <div class="main_content grid_12 alpha omega">
       
<div class="show_wrap grid_12">
  <div class="service_mid_section service_bg grid_12 alpha omega">

    <div class="overview_wrap grid_7 right">
      <h3 class="facilityclaim-insight_color block_font_weight sans-serif">You are now in Pardot</h3>
<p class="show_service_para"><form method="post" action="/l/1492/2009-12-17/FZMPJ" class="form"><div style="display:none;"><input type="hidden" name="_csrf_token" value="80a8950a834b9ec3d07b31edf67bddbc" /></div>

<style type="text/css">form.form p label { color: #e76e34; font-size: 8pt; font-family: Helvetica, Arial, sans-serif; float: none; text-align: left; height: 1em; line-height: 1em; width: auto;  }
form.form p.submit { margin-left: 5px;  }
form.form p.no-label { margin-left: 50px;  }
form.form span.value { margin-left: 50px;  }
form.form p.required label, form.form span.required label { background-position: top left; background: none; padding-left: 0px;  }
</style>





	
		
		
		
			<p class="required   ">
				
					<label for="First_Namepi_First_Name">First Name *</label>

				
				
				<input type="text" name="First_Namepi_First_Name" id="First_Namepi_First_Name" value="Bob" class="text" size="30" maxlength="32" /><script type="text/javascript">
//<![CDATA[
new Form.Element.EventObserver("First_Namepi_First_Name", function(element, value) {new Ajax.Request('/form/auditFieldAjax/account_id/1492/form_field_id/73331/tracker_id/26856631', {asynchronous:true, evalScripts:false, parameters:'param=' + encodeURIComponent(encodeURIComponent(value)) + '&_csrf_token=80a8950a834b9ec3d07b31edf67bddbc'});});
//]]>
</script>
				
			</p>
			<div id="error_for_First_Namepi_First_Name" style="display:none"></div>
			
		
			<p class="required   ">
				
					<label for="Last_Namepi_Last_Name">Last Name *</label>
				
				
				<input type="text" name="Last_Namepi_Last_Name" id="Last_Namepi_Last_Name" value="Hanson" class="text" size="30" maxlength="32" /><script type="text/javascript">
//<![CDATA[
new Form.Element.EventObserver("Last_Namepi_Last_Name", function(element, value) {new Ajax.Request('/form/auditFieldAjax/account_id/1492/form_field_id/73321/tracker_id/26856631', {asynchronous:true, evalScripts:false, parameters:'param=' + encodeURIComponent(encodeURIComponent(value)) + '&_csrf_token=80a8950a834b9ec3d07b31edf67bddbc'});});
//]]>
</script>
				
			</p>

			<div id="error_for_Last_Namepi_Last_Name" style="display:none"></div>
			
		
			<p class="required   ">
				
					<label for="Emailpi_Email">Email *</label>
				
				
				<input type="text" name="Emailpi_Email" id="Emailpi_Email" value="bhanson@hcinsight.com" class="text" size="30" maxlength="50" /><script type="text/javascript">
//<![CDATA[
new Form.Element.EventObserver("Emailpi_Email", function(element, value) {new Ajax.Updater('error_for_Emailpi_Email', '/form/checkEmailAjax/account_id/1492/form_field_id/73311/tracker_id/26856631/field_id/Emailpi_Email', {asynchronous:true, evalScripts:true, parameters:'param=' + encodeURIComponent(encodeURIComponent(value)) + '&_csrf_token=80a8950a834b9ec3d07b31edf67bddbc'});});
//]]>
</script>
				
			</p>
			<div id="error_for_Emailpi_Email" style="display:none"></div>
			
		
			<p class="   ">
				
					<label for="Companypi_Company">Company</label>

				
				
				<input type="text" name="Companypi_Company" id="Companypi_Company" value="HealthCare Insight" class="text" size="30" maxlength="100" /><script type="text/javascript">
//<![CDATA[
new Form.Element.EventObserver("Companypi_Company", function(element, value) {new Ajax.Request('/form/auditFieldAjax/account_id/1492/form_field_id/73291/tracker_id/26856631', {asynchronous:true, evalScripts:false, parameters:'param=' + encodeURIComponent(encodeURIComponent(value)) + '&_csrf_token=80a8950a834b9ec3d07b31edf67bddbc'});});
//]]>
</script>
				
			</p>
			<div id="error_for_Companypi_Company" style="display:none"></div>
			
		
			<p class="   ">
				
					<label for="Member_Livespi_Member_Lives">Member Lives</label>
				
				
				<select name="Member_Livespi_Member_Lives" id="Member_Livespi_Member_Lives" class="select"><option value="66311">1-100,000</option>
<option value="66321">100,001-250,000</option>

<option value="66331">250,001-500,000</option>
<option value="66341">500,001-1,000,000</option>
<option value="66351">1,000,000+</option>
</select>
				
			</p>
			<div id="error_for_Member_Livespi_Member_Lives" style="display:none"></div>
			
		
			<p class="   ">
				
					<label for="Decision_Timeframepi_Decision_Timeframe">Decision Timeframe</label>
				
				
				<select name="Decision_Timeframepi_Decision_Timeframe" id="Decision_Timeframepi_Decision_Timeframe" class="select"><option value="65921">1-3 months</option>

<option value="65931">4-6 months</option>
<option value="65941">7-11 months</option>
<option value="65951">+1 year</option>
</select>
				
			</p>
			<div id="error_for_Decision_Timeframepi_Decision_Timeframe" style="display:none"></div>
			
		
		
		 
	<p style="position:absolute; width:190px; left:-9999px; top: -9999px;">
		<label for="pi_extra_field">Comments</label>
		<input type="text" name="pi_extra_field" id="pi_extra_field"/>

	</p>
		
		
		<p class="submit">
			<input type="submit" accesskey="s" value="Submit" onclick="new Effect.Appear('pi_indicator_submit26111', {});" />
			
	<span id="pi_indicator_submit26111" style="display:none">
		<img src="/images/indicator.gif" alt="Indicator" />
	</span>
		</p>
		<script type="text/javascript">
//<![CDATA[

				var firstInput = document.getElementById("First_Namepi_First_Name")
				if(firstInput && firstInput.focus != "undefined")
				firstInput.focus()
			
//]]>
</script>

	
	


<script type="text/javascript">
//<![CDATA[
 
	var anchors = document.getElementsByTagName("a");
	for (var i=0; i<anchors.length; i++) {
		var anchor = anchors[i];
		if(anchor.getAttribute("href")&&!anchor.getAttribute("target")) {
			anchor.target = "_top";
		}
	}
		
//]]>
</script>
</form>
</p>
    </div>
  </div>
</div>
<div class="full_wrap left">
  <div class="facilityclaim-insight_service_top_stripe"></div>
  <div class="facilityclaim-insight_service_bottom_stripe">
    <div class="facilityclaim-insight_stripe_icon"></div>

  </div>
</div>

<div class="grid_12 alpha omega benefit_grid">
  <div class="inner_benefit_grid">
    <div class="benefit_grid_box left_side_box bene_odd_row">
      <div class="facilityclaim-insight_quote_brochure quote_brochure">
        <a href="http://stage.hcinsight.com/documents/11-facility-claim-insight-brochure" alt="Download FacilityClaim Insight Brochure" title="Download FacilityClaim Insight Brochure">Brochure</a>
      </div>
      <div class="benefit_content_wrap">      
        <h3>FCI Service Brochure</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl justo, volutpat non sodales in, malesuada sit amet tellus</p>
      </div>
    </div>
    <div class="benefit_grid_box right_side_box bene_odd_row">
      <div class="benefit_avatar_wrap bene9"></div>
      <div class="benefit_content_wrap">      
        <h3>Client Success Stories</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl justo, volutpat non sodales in, malesuada sit amet tellus</p>

      </div>
    </div>
    <div class="benefit_grid_box left_side_box bene_even_row last_bene_row">
      <div class="benefit_avatar_wrap bene10"></div>
      <div class="benefit_content_wrap">      
        <h3>Customer Testimonials</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl justo, volutpat non sodales in, malesuada sit amet tellus</p>
      </div>

    </div>
    <div class="benefit_grid_box right_side_box bene_even_row last_bene_row">
      <div class="benefit_avatar_wrap bene11"></div>
      <div class="benefit_content_wrap">      
        <h3>Call Today For A Free Trial</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl justo, volutpat non sodales in, malesuada sit amet tellus</p>
      </div>
    </div>

    <div class="clear"></div>
  </div>

<div class="clear"></div>
  

      </div>
    </div>
    <div id="sub_boxes" class="grid_12 alpha omega">
      
    </div>
    <div id="ft" class="grid_12 alpha omega">
      

<div id="footer_wrap" class="grid_12 alpha omega relative">
  <ul id="social_links">
  <li><a href="http://www.facebook.com/pages/Stop-Health-Care-Fraud/105583130933" id="facebook_link">Facebook</a></li>
  <li><a href="http://www.youtube.com/user/HCInsight" id="youtube_link">YouTube</a></li>
  <li><a href="http://www.linkedin.com/groups?gid=1426647" id="linkedin_link">LinkedIn</a></li>
  <li><a href="http://www.stophealthcarefraud.com" id="shcf_link">StopHealthCareFraud</a></li>
  <li><a href="http://twitter.com/StopHealthFraud" id="twitter_link">Twitter</a></li>

</ul>
  
  <div id="footer_links">
  <ul>
    <h4>Company</h4>
    <li><a href="http://stage.hcinsight.com/about-healthcare-insight">About Us</a></li>
    <li><a href="http://stage.hcinsight.com/healthcare-insight-careers">Careers</a></li>
    <li><a href="http://stage.hcinsight.com/healthcare-insight-partners">Partners</a></li>

    <li><a href="http://stage.hcinsight.com/healthcare-insight-accredidations">Accredidations</a></li>
  </ul>
  <ul>
    <h4>Learn More</h4>
    <li><a href="http://stage.hcinsight.com/services">Services</a></li>
    <li><a href="http://stage.hcinsight.com/health-care-resources">Resources</a></li>
    <li><a href="http://stage.hcinsight.com/nucleus">Meet Nucleus</a></li>

    <li><a href="">Free Trial</a></li>
  </ul>
  <ul>
    <h4>Legal</h4>
    <li><a href="http://stage.hcinsight.com/healthcare-insight-privacy-policy-and-disclaimers">Privacy Policy</a></li>
    <li><a href="http://stage.hcinsight.com/healthcare-insight-privacy-policy-and-disclaimers">Disclaimers</a></li>
    <li><a href="http://stage.hcinsight.com/healthcare-insight-privacy-policy-and-disclaimers">Copyrights</a></li>

    <li><a href="http://stage.hcinsight.com/healthcare-insight-privacy-policy-and-disclaimers">Notices</a></li>
  </ul>
  <ul>
    <h4>Media</h4>
    <li><a href="http://stage.hcinsight.com/healthcare-insight-social-media-links">Social Media</a></li>
    <li><a href="http://stage.hcinsight.com/articles">News</a></li>
    <li><a href="http://stage.hcinsight.com/health-care-resources">Videos</a></li>

    <li><a href="http://stage.hcinsight.com/healthcare-insight-press-kit">Press Kit</a></li>
  </ul>
</div>
  <div class="clear"></div>
  <div id="footer_logo">
    <div class="newsletter_signup"><div class="newsletter_form left">
  <form action="/newsletter_subscriptions" class="new_newsletter_subscription" id="new_newsletter_subscription" method="post"><div style="display:none;"><input type="hidden" name="_csrf_token" value="80a8950a834b9ec3d07b31edf67bddbc" /></div><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="U6L67CHsJOJiZmdzraB2eiM1RHuO9YJrmxg7jDjhz48=" /></div>
    
    <p class="left">
      <label for="newsletter_subscription_email">Sign Up For Our Newsletter</label><br />

      <input id="newsletter_subscription_email" name="newsletter_subscription[email]" size="30" type="text" />
    </p>
    <p class="left">
      <input class="btn" id="newsletter_subscription_submit" name="commit" type="submit" value="Sign Up" />
    </p>
  </form>
</div></div>
    
  </div>
  <div id="footer_stripe" class="grid_12 alpha omega"></div>

    <ul class="login">
      
      <li><a href="http://stage.hcinsight.com/login" class="black">Login</a></li>
      
    </ul>
</div>
    </div>
    <div class="clear"></div>
    <div id="verisk_footer" class="grid_12 alpha omega">
      <a href="http://www.verisk.com/"><img alt="Verisk_logo" id="verisk_logo" src="http://stage.hcinsight.com/images/verisk_logo.png?1260987532" /></a>
    </div>

	</div>
	
<script type="text/javascript">
var piProtocol = (("https:" == document.location.protocol) ? "https://" : "http://");
document.write(unescape("%3Cscript src='" + piProtocol + "pi.pardot.com/pi.js' type='text/javascript'%3E%3C/script%3E"));

</script>
<script type="text/javascript">
	<!--
		piAId = "2492";
		piCId = "42091";
		piHostname = "pi.pardot.com";

		piTracker();
	-->
</script>
		</body>
</html>
